<article class="entry entry-project card">
  <div class="ribbon-half-circle position-tl">旺铺装修</div>
  <div class="card-img img-holder">
    <a href="news-detail.html"><img class="b-lazy" data-src="https://unsplash.it/700/400?image=1" alt="news thumb"></a>
    <a class="card-mask" href="news-detail.html"><span class="icon icon-round"><i class="fa fa-link fa-fw"></i></span></a>
  </div>
  <div class="card-body d-flex flex-column">
    <h4 class="text-line-2"><a href="#">Look, my liege! The Knights Who Say Ni demand a sacrifice! Are you suggesting that coconuts migr...</a></h4>
  </div>
  <div class="card-footer">
    <div class="entry-meta d-flex align-items-center">
      <span class="meta meta-category">
              <a href="#" title="Industry News" class="category-link text-muted">Industry News</a>
            </span>
      <i class="text-muted px-2">▪</i>
      <span class="meta meta-date text-muted">
              <time datetime="2017-09-06T01:19:34.000Z" itemprop="datePublished">2017-09-06</time>
            </span>
      <span class="meta meta-read ml-auto text-muted">
              <i class="fa fa-eye fa-fw"></i><span class="read-count">330</span>
      </span>
    </div>
  </div>
</article>
