{% from '_macros/helpers.html' import sprite %}
<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7 lte9 lte8 lte7" lang="en"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="en"> <![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="en"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="noIE" lang="en">
<!--<![endif]-->

<head>
  {% include "_includes/meta.html" %}
  <title>{% block title %}{{ title }}{% endblock %}</title>
  {% block head %}
  {% include "_includes/head.html" %}
  {% endblock %}
  {% block style %}
  {% endblock %}
</head>

<body class="hold-transition">
  <div class="page">
    <!-- Main Header -->
    {% include "_includes/header.html" %}
    <!-- Content Wrapper. Contains page content -->
    <!-- /.content-wrapper -->
    <!-- Main Footer -->
    {% include "_includes/footer.html" %}
  </div>
  <!-- ./wrapper -->
  {% block javascript %}
  <!-- REQUIRED JS SCRIPTS -->
  {% include "_includes/scripts.html" %}
  {% endblock %}
  {% block script %}
  {% endblock %}
</body>

</html>
