{% from '_macros/helpers.html' import sprite %}
<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7 lte9 lte8 lte7" lang="en"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="en"> <![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="en"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="noIE" lang="en">
<!--<![endif]-->

<head>
  {% include "_includes/meta.html" %}
  <title>{% block title %}{{ global.title }}{% endblock %}</title>
  {% block head %} {% include "_includes/head.html" %} {% endblock %} 
  <!-- Custom Style -->
  {% block style %} {% endblock %}
  <!-- REQUIRED JS SCRIPTS -->
  {% block javascript %}
  {% include "_includes/scripts.html" %} 
  {% endblock %} 
</head>

<body class="hold-transition" style="background-color: #fafbfc;">
  <!-- Main Header -->
  {% include "_includes/header.html" %}
  <!-- Content Wrapper. Contains page content -->
  <main class="main" role="main">
    <!-- Content Header (Page header) -->
    {% block breadcrumb %}
    <section class="page-header">
      <div class="container">
        <h1 class="page-title">
        Page Header
        <small>Optional description</small>
      </h1>
      </div>
    </section>
    {% endblock %}
    <!-- Main content -->
    <section class="page-content">
      <!--------------------------
        | Your Page Content Here |
        -------------------------->
      {% block content %}{% endblock %}
    </section>
    <!-- /.content -->
  </main>
  <!-- /.content-wrapper -->
  <!-- Main Footer -->
  {% include "_includes/footer.html" %}
  <!-- ./wrapper -->
  <!-- Custom JS SCRIPTS -->
  {% block script %} {% endblock %}
</body>

</html>
