.position-tl {
  position: absolute;
  top: 0;
  left: 0;
}

.position-tl-1 {
  position: absolute;
  top: 0;
  left: -0.5rem;
}

.position-lt-1 {
  position: absolute;
  top: -0.5rem;
  left: 0;
}

.position-tr {
  position: absolute;
  top: 0;
  right: 0;
}

.position-bl {
  position: absolute;
  bottom: 0;
  left: 0;
}

.position-br {
  position: absolute;
  bottom: 0;
  right: 0;
}
