.position-tl {
  position: absolute;
  top: 0;
  left: 0;
}

.position-tr {
  position: absolute;
  top: 0;
  right: 0;
}

.position-bl {
  position: absolute;
  bottom: 0;
  left: 0;
}

.position-br {
  position: absolute;
  bottom: 0;
  right: 0;
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}

.sticky-bottom {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 1020;
}
