/*----------------------------------------------------
 * hover effect
 *---------------------------------------------------*/

// hover-gray
img.hover-gray,
.hover-gray img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}

img.hover-gray:hover,
.hover-gray:hover img {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
  filter: grayscale(0);
}

// hover-rotate
img.hover-rotate,
.hover-rotate img {
  padding: 5px;
  border: 1px #fff solid;
  -moz-transition: -moz-transform 0.3s ease;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
}

img.hover-rotate:hover,
.hover-rotate:hover img {
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  /* IE 9 */
  -moz-transform: rotate(360deg);
  /* Firefox */
  -webkit-transform: rotate(360deg);
  /* Safari and Chrome */
  -o-transform: rotate(360deg);
  /* Opera */
}

// hover-burn
img.hover-burn,
.hover-burn img {
  position: relative;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

img.hover-burn:hover,
.hover-burn:hover img {
  -webkit-transform: scale(1.2) rotate(2deg);
  -moz-transform: scale(1.2) rotate(2deg);
  -o-transform: scale(1.2) rotate(2deg);
  -ms-transform: scale(1.2) rotate(2deg);
  transform: scale(1.2) rotate(2deg);
}

// hover-up
img.hover-up,
.hover-up img {
  position: relative;
  top: 0;
  -webkit-transition: top .3s ease-out;
  -moz-transition: top .3s ease-out;
  -o-transition: top .3s ease-out;
  transition: top .3s ease-out
}

img.hover-up:hover,
.hover-up:hover img {
  top: -6px
}

// hover-grow
.hover-grow {
  transition: all .2s linear;
  &:hover {
    transform: translate3d(0, -2px, 0);
  }
}

// hover-border
.hover-border {
  position: relative;
  &::before,
  &::after {
    @include transition(opacity .35s, transform .35s);
    bottom: 0;
    content: '';
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  &::before {
    @include scale(0, 1);
    border-bottom: 1px solid $main-color;
    border-top: 1px solid $main-color;
  }
  &::after {
    @include scale(1, 0);
    border-left: 1px solid $main-color;
    border-right: 1px solid $main-color;
  }
  &:hover {
    &::before,
    &::after {
      @include scale(1);
      opacity: 1;
    }
  }
}
