.list-disc {
  list-style: disc!important;
  /*实心圆形符号*/
}

.list-alpha {
  list-style: upper-alpha!important;
  /*标记是大写字母*/
}

.list-decimal {
  list-style: decimal!important;
  /*标记是数字*/
}

.list-outside {
  list-style-position: outside!important;
  /*凸排*/
}

.list-inside {
  list-style-position: inside!important;
  /*缩进*/
}

.list-square {
  padding-left: 0;
  li {
    list-style: none;
    &:before {
      color: #999;
      content: "▪";
      font-size: 12px;
      margin-right: 6px;
      -webkit-transition: 0.2s ease;
      -moz-transition: 0.2s ease;
      -ms-transition: 0.2s ease;
      transition: 0.2s ease;
    }
  }
}

.list-circle-num,
.list-square-num {
  padding-left: 0;
  counter-reset: list1;
  > li {
    list-style: none outside none;
    margin-top: 6px;
    margin-bottom: 6px;
    &:before {
      counter-increment: list1;
      content: counter(list1) '';
      width: 24px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      font-size: 12px;
      border-width: 1px;
      border-style: solid;
      margin: 0 10px 0 0;
      display: inline-block;
      vertical-align: middle;
    }
    > ol,
    > ul {
      list-style: none;
      counter-reset: list2;
      > li {
        margin-top: 6px;
        margin-bottom: 6px;
        &:before {
          counter-increment: list2;
          content: counter(list1) "." counter(list2) "";
          width: 24px;
          height: 24px;
          line-height: 24px;
          text-align: center;
          font-size: 85%;
          border-width: 1px;
          border-style: solid;
          margin: 0 10px 0 0;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
}

.list-circle-num {
  li {
    &:before {
      border-radius: 50%;
    }
  }
}

.list-square-num {
  li {
    &:before {
      border-radius: 3px;
    }
  }
}

.list-circle-num[class*="list-full"] > li::before,
.list-square-num[class*="list-full"] > li::before {
  background: #de4a32;
  color: #ffffff;
}
