.m-0 { margin: 0!important }
.m-1 { margin: $margin-1!important }
.m-2 { margin: $margin-2!important }
.m-3 { margin: $margin-3!important }
.m-4 { margin: $margin-4!important }
.m-5 { margin: $margin-5!important }
.m-6 { margin: $margin-6!important }
.m-max { margin: $margin-max!important }

.mb-0 { margin-bottom: 0!important }
.mb-1 { margin-bottom: $margin-1!important }
.mb-2 { margin-bottom: $margin-2!important }
.mb-3 { margin-bottom: $margin-3!important }
.mb-4 { margin-bottom: $margin-4!important }
.mb-5 { margin-bottom: $margin-5!important }
.mb-6 { margin-bottom: $margin-6!important }
.mb-max { margin-bottom: $margin-max!important }

.ml-0 { margin-left: 0!important }
.ml-1 { margin-left: $margin-1!important }
.ml-2 { margin-left: $margin-2!important }
.ml-3 { margin-left: $margin-3!important }
.ml-4 { margin-left: $margin-4!important }
.ml-5 { margin-left: $margin-5!important }
.ml-6 { margin-left: $margin-6!important }
.ml-max { margin-left: $margin-max!important }

.mr-0 { margin-right: 0!important }
.mr-1 { margin-right: $margin-1!important }
.mr-2 { margin-right: $margin-2!important }
.mr-3 { margin-right: $margin-3!important }
.mr-4 { margin-right: $margin-4!important }
.mr-5 { margin-right: $margin-5!important }
.mr-6 { margin-right: $margin-6!important }
.mr-max { margin-right: $margin-max!important }

.mt-0 { margin-top: 0!important }
.mt-1 { margin-top: $margin-1!important }
.mt-2 { margin-top: $margin-2!important }
.mt-3 { margin-top: $margin-3!important }
.mt-4 { margin-top: $margin-4!important }
.mt-5 { margin-top: $margin-5!important }
.mt-6 { margin-top: $margin-6!important }
.mt-max { margin-top: $margin-max!important }

.mx-0 {
	margin-left: 0!important;
	margin-right: 0!important
}

.mx-1 {
	margin-left: $margin-1!important;
	margin-right: $margin-1!important
}

.mx-2 {
	margin-left: $margin-2!important;
	margin-right: $margin-2!important
}

.mx-3 {
	margin-left: $margin-3!important;
	margin-right: $margin-3!important
}

.mx-4 {
	margin-left: $margin-4!important;
	margin-right: $margin-4!important
}

.mx-5 {
	margin-left: $margin-5!important;
	margin-right: $margin-5!important
}

.mx-6 {
	margin-left: $margin-6!important;
	margin-right: $margin-6!important
}

.mx-max {
	margin-left: $margin-max!important;
	margin-right: $margin-max!important
}

.mx-auto {
	margin-left: auto!important;
	margin-right: auto!important
}

.my-0 {
	margin-bottom: 0!important;
	margin-top: 0!important
}

.my-1 {
	margin-bottom: $margin-1!important;
	margin-top: $margin-1!important
}

.my-2 {
	margin-bottom: $margin-2!important;
	margin-top: $margin-2!important
}

.my-3 {
	margin-bottom: $margin-3!important;
	margin-top: $margin-3!important
}

.my-4 {
	margin-bottom: $margin-4!important;
	margin-top: $margin-4!important
}

.my-5 {
	margin-bottom: $margin-5!important;
	margin-top: $margin-5!important
}

.my-6 {
	margin-bottom: $margin-6!important;
	margin-top: $margin-6!important
}

.my-max {
	margin-bottom: $margin-max!important;
	margin-top: $margin-max!important
}
