.absolute { position: absolute; }
// .fixed { position: fixed; }
.relative { position: relative; }
.sticky { position: sticky; }

.bottom-0 { bottom: 0; }
.left-0 { left: 0; }
.right-0 { right: 0; }
.top-0 { top: 0; }

.z-0 { z-index: 0; }
.z-1 { z-index: $z-index-1; }
.z-2 { z-index: $z-index-2; }
.z-3 { z-index: $z-index-3; }
.z-4 { z-index: $z-index-4; }
.z-5 { z-index: $z-index-5; }
.z-6 { z-index: $z-index-6; }
.z-7 { z-index: $z-index-7; }
.z-8 { z-index: $z-index-8; }
.z-9 { z-index: $z-index-9; }
.z-10 { z-index: $z-index-10; }

.z-min { z-index: -1 }
.z-max { z-index: $z-index-max }

/*绝对居中*/

.fixed-center {
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
}

.vertical-center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
