.entry {
  position: relative;
  display: flex;
  flex-direction: column;
  .entry-body {
    flex: 1 1 auto;
  }
  .entry-header {
    display: flex;
    align-items: center;
  }
  .entry-action {
    position: relative;
    z-index: 10;
  }
  .entry-label {
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
    line-height: 1.0;
    background-color: $base-dark-color;
    color: #fff!important;
    font-size: 12px;
    z-index: 10;
    &:focus,
    &:hover {
      color: #fff;
      opacity: 0.8
    }
  }
  .entry-label,
  .entry-date {
    display: none;
  }
  .entry-title {
    margin-top: 0;
    color: $base-dark-color;
    font-size: 16px;
    max-width: 100%;
    // text-overflow: ellipsis;
    // white-space: nowrap;
    // word-wrap: normal;
    // overflow: hidden;
    a {
      color: $base-dark-color;
    }
  }
  .entry-link {
    color: $gray-500
  }
  .entry-desc {
    display: -webkit-box;
    text-overflow: ellipsis;
    @include text-line-clamp($font-size-base, 1.15, 3);
    word-wrap: break-word;
    color: $gray-500;
    overflow: hidden;
  }
  .entry-meta,
  .entry-footer {
    a {
      color: $gray-500;
      &:focus,
      &:hover {
        color: $link-hover-color;
      }
    }
  }
}

.entry-meta {
  font-size: 13px;
  .meta {
    display: inline;
    color: $gray-500;
    + .meta {
      margin-left: 0.5rem;
    }
    // &.meta-category,
    // &.meta-date {
    //   &:before {
    //     content: '▪';
    //   }
    // }
  }
}

// 列表
.entry-list {
  .entry {
    margin-bottom: px2rem(20px);
  }
  .not-found {
    position: relative;
    padding: 1.5rem 1.5rem;
    background: #fff;
    border: 1px solid $border-color;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .03);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, .03);
    -ms-box-shadow: 0 5px 15px rgba(0, 0, 0, .03);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .03);
    border-radius: .25rem;
    overflow: hidden;
  }
}
