.card {
  .figure-img {
    position: relative;
    margin-bottom: 0;
  }
  .card-overlay {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 1.5rem 1.25rem 1.25rem 1.25rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.95));
    z-index: 1;
  }
  .card-img-overlay {
    @each $color,$value in $theme-colors {
      &.bg-#{$color} {
        background: rgba($value, .85)!important;
      }
    }
  }
  .card-mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    z-index: -1;
    .icon {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 48px;
      height: 48px;
      line-height: 48px;
      margin-top: -24px;
      margin-left: -24px;
      background: #fff;
      text-align: center;
      color: $primary;
      z-index: 9;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      -webkit-transform: scale(0);
      transform: scale(0);
      &.icon-round {
        border-radius: 50%;
      }
    }
  }
  @include media-breakpoint-up(md) {
    &:hover {
      // -webkit-transform: translateY(-2px);
      // -ms-transform: translateY(-2px);
      // transform: translateY(-2px);
      .card-mask {
        display: block;
        z-index: 1;
        .icon {
          transform: scale(1);
          -ms-transform: scale(1);
          -moz-transform: scale(1);
          -webkit-transform: scale(1);
          -o-transform: scale(1);
        }
        &:before {
          display: block;
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: $primary;
          opacity: 0.75;
          z-index: 1;
        }
      }
    }
  }
}

// cover
.card {
  &.card-cover {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 0!important;
    .card-body {
      position: relative;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
      z-index: 1;
    }
    @each $color,$value in $theme-colors {
      &.bg-#{$color} {
        &:after {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background: $value;
          opacity: 0.85;
          z-index: 0;
        }
      }
    }
  }
}

// post format
.card-post-format {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2.8rem;
  height: 2.8rem;
  margin-left: -1.4rem;
  margin-top: -1.4rem;
  line-height: 2.8rem;
  font-size: 1.25rem;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  .icon {
    line-height: inherit;
  }
}