.pattern {
  position: relative;
  background: $gray-900;
  @include clearfix;
  .pattern-content,
  .container {
    position: relative;
    z-index: 1;
  }
  .pattern-cover {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
  }
  &.pattern-md {
    padding-top: 5.0rem;
    padding-bottom: 5.0rem;
  }
  &.pattern-lg {
    padding-top: 10.0rem;
    padding-bottom: 10.0rem;
  }
  &.pattern-fixed {
    .pattern-cover {
      background-attachment: fixed;
    }
  }
  &.pattern-opacity {
    .pattern-cover {
      opacity: .5;
    }
  }
  &.pattern-gradient {
    .pattern-cover {
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(to top, rgba($primary, 0.25) 0, rgba($primary, 1) 100%);
        background-repeat: repeat;
      }
    }
  }
  &.pattern-grid {
    .pattern-cover {
      opacity: .75;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-image: url(../images/lines.png);
        background-color: rgba(0, 0, 0, .15);
        opacity: .5
      }
    }
  }
}
