// 磁贴
.tile-feeds {
  width: 100%;
  overflow: hidden;
  >ul {
    height: auto;
    overflow: hidden;
    padding: 0;
    margin: 0 -1px;
    >li {
      display: block;
      height: auto;
      float: left;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 1px;
      position: relative;
      >span {
        display: block;
        width: 100%;
        padding-top: 100%;
        background-position: center;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
        background-color: #ccc
      }
      &:first-child:nth-last-child(1),
      &:first-child:nth-last-child(1) ~ li {
        width: 100%;
        max-height: 3.75rem;
        max-height: 100vw
      }
      &:first-child:nth-last-child(1) img,
      &:first-child:nth-last-child(1) ~ li img {
        display: block;
        width: 100%;
        height: auto
      }
      &:first-child:nth-last-child(2),
      &:first-child:nth-last-child(2) ~ li {
        width: 50%
      }
      &:first-child:nth-last-child(3),
      &:first-child:nth-last-child(3) ~ li {
        width: 50%
      }
      &:first-child:nth-last-child(3) {
        width: 100%;
        padding-bottom: 2px
      }
      &:first-child:nth-last-child(3):after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: #fff;
        z-index: 99
      }
      &:first-child:nth-last-child(3)>span {
        padding-top: 50%
      }
      &:first-child:nth-last-child(3) ~ li {
        width: 50%
      }
      &:first-child:nth-last-child(3) ~ li>span {
        padding-top: 100%;
        position: relative
      }
      &:first-child:nth-last-child(4),
      &:first-child:nth-last-child(4) ~ li {
        width: 50%
      }
      &:first-child:nth-last-child(4) {
        width: 100%;
        padding-bottom: 2px
      }
      &:first-child:nth-last-child(4):after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: #fff;
        z-index: 99
      }
      &:first-child:nth-last-child(4)>span {
        padding-top: 50%
      }
      &:first-child:nth-last-child(4) ~ li {
        width: 33.3%
      }
      &:first-child:nth-last-child(4) ~ li>span {
        padding-top: 100%
      }
      &:first-child:nth-last-child(5),
      &:first-child:nth-last-child(5) ~ li:nth-child(2) {
        width: 50%;
        padding-bottom: 2px
      }
      &:first-child:nth-last-child(5):after,
      &:first-child:nth-last-child(5) ~ li:nth-child(2):after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: #fff;
        z-index: 99
      }
      &:first-child:nth-last-child(5)>span,
      &:first-child:nth-last-child(5) ~ li:nth-child(2)>span {
        padding-top: 100%
      }
      &:first-child:nth-last-child(5) ~ li {
        width: 33.3%
      }
      &:first-child:nth-last-child(5) ~ li>span {
        padding-top: 100%
      }
      &:first-child:nth-last-child(6) {
        width: 66.666%;
        padding-bottom: 1px
      }
      &i:first-child:nth-last-child(6):after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: #fff;
        z-index: 99
      }
      &:first-child:nth-last-child(6)>span {
        padding-top: 100.3%
      }
      &:first-child:nth-last-child(6) ~ li {
        width: 33.3%
      }
      &:first-child:nth-last-child(6) ~ li>span {
        padding-top: 100%
      }
      &:first-child:nth-last-child(6) ~ li:nth-child(2) {
        padding-bottom: 2px;
        width: 33.333%
      }
      &:first-child:nth-last-child(6) ~ li:nth-child(2):after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: #fff;
        z-index: 99
      }
      &:first-child:nth-last-child(6) ~ li:nth-child(2)>span {
        padding-top: 100.15%
      }
      &:first-child:nth-last-child(6) ~ li:nth-child(3) {
        padding-bottom: 2px;
        width: 33.333%
      }
      &:first-child:nth-last-child(6) ~ li:nth-child(3):after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: #fff;
        z-index: 99
      }
      &:first-child:nth-last-child(6) ~ li:nth-child(3)>span {
        padding-top: 100.15%
      }
      &:first-child:nth-last-child(6) ~ li:nth-child(4) {
        clear: both
      }
      &:first-child:nth-last-child(7) {
        width: 100%;
        padding-bottom: 2px
      }
      &:first-child:nth-last-child(7):after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: #fff;
        z-index: 99
      }
      &:first-child:nth-last-child(7)>span {
        padding-top: 50%
      }
      &:first-child:nth-last-child(7) ~ li:nth-child(2),
      &:first-child:nth-last-child(7) ~ li:nth-child(3),
      &:first-child:nth-last-child(7) ~ li:nth-child(4) {
        padding-bottom: 2px
      }
      &:first-child:nth-last-child(7) ~ li:nth-child(2):after,
      &:first-child:nth-last-child(7) ~ li:nth-child(3):after,
      &:first-child:nth-last-child(7) ~ li:nth-child(4):after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: #fff;
        z-index: 99
      }
      &:first-child:nth-last-child(7) ~ li {
        width: 33.3%
      }
      &:first-child:nth-last-child(7) ~ li>span {
        padding-top: 100%
      }
      &:first-child:nth-last-child(8),
      &:first-child:nth-last-child(8) ~ li:nth-child(2) {
        width: 50%;
        padding-bottom: 2px
      }
      &:first-child:nth-last-child(8):after,
      &:first-child:nth-last-child(8) ~ li:nth-child(2):after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: #fff;
        z-index: 99
      }
      &:first-child:nth-last-child(8) span,
      &:first-child:nth-last-child(8) ~ li:nth-child(2) span {
        padding-top: 100%
      }
      &:first-child:nth-last-child(8) ~ li:nth-child(3),
      &:first-child:nth-last-child(8) ~ li:nth-child(4),
      &:first-child:nth-last-child(8) ~ li:nth-child(5) {
        padding-bottom: 2px
      }
      &:first-child:nth-last-child(8) ~ li:nth-child(3):after,
      &:first-child:nth-last-child(8) ~ li:nth-child(4):after,
      &:first-child:nth-last-child(8) ~ li:nth-child(5):after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: #fff;
        z-index: 99
      }
      &:first-child:nth-last-child(8) ~ li {
        width: 33.3%
      }
      &:first-child:nth-last-child(8) ~ li>span {
        padding-top: 100%
      }
      &:first-child:nth-last-child(9),
      &:first-child:nth-last-child(9) ~ li {
        width: 33.333%
      }
      &:first-child:nth-last-child(9),
      &:first-child:nth-last-child(9) ~ li:nth-child(2),
      &:first-child:nth-last-child(9) ~ li:nth-child(3),
      &:first-child:nth-last-child(9) ~ li:nth-child(4),
      &:first-child:nth-last-child(9) ~ li:nth-child(5),
      &:first-child:nth-last-child(9) ~ li:nth-child(6) {
        padding-bottom: 2px
      }
      &:first-child:nth-last-child(9):after,
      &:first-child:nth-last-child(9) ~ li:nth-child(2):after,
      &:first-child:nth-last-child(9) ~ li:nth-child(3):after,
      &:first-child:nth-last-child(9) ~ li:nth-child(4):after,
      &:first-child:nth-last-child(9) ~ li:nth-child(5):after,
      &:first-child:nth-last-child(9) ~ li:nth-child(6):after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: #fff;
        z-index: 99
      }
    }
  }
}
