/*----------------------------------------------------
 * Fluidity response
 *---------------------------------------------------*/

img,
canvas,
iframe,
video,
svg {
  max-width: 100%;
  height: auto
}

iframe {
  border: 0;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1680px) {
  .container {
    max-width: 1360px;
  }
}
