<article class="article article-post">
  <div class="article-thumb img-holder">
    <a href="news-detail.html"><img class="b-lazy" data-src="assets/images/demo/products/poster_3_up1.jpg" alt="news thumb"></a>
    <a class="article-extra" href="news-detail.html"><span class="icon icon-round"><i class="fa fa-link fa-fw"></i></span></a>
  </div>
  <div class="article-body">
    <h3 class="article-title"><a href="news-detail.html">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</a></h3>
    <div class="article-meta">
      <span class="meta meta-category">
        <a href="#" title="Industry News" class="category-link">Industry News</a>
      </span>
      <span class="meta meta-date">
        <time datetime="2017-09-06T01:19:34.000Z" itemprop="datePublished">2017-09-06</time>
      </span>
      <span class="meta meta-read">
        <i class="fa fa-eye fa-fw"></i><span class="read-count">330</span>
      </span>
    </div>
  </div>
  <div class="article-footer">
    <a href="news-detail.html">Read More<span class="pull-right">→</span></a>
  </div>
</article>
