@mixin btn-gradient($startColor, $endColor) {
  color: #fff;
  border: 0;
  background-image: -moz-linear-gradient(left, $startColor 0%, $endColor 50%, $startColor 100%)!important;
  background-image: -webkit-linear-gradient(left, $startColor 0%, $endColor 50%, $startColor 100%)!important;
  background-image: linear-gradient(to right, $startColor 0%, $endColor 50%, $startColor 100%)!important;
  background-size: 200% auto;
  transition: 0.5s;
  &:focus,
  &:hover {
    color: #fff;
    border: 0;
    background-position: right center;
  }
}
