/*----------------------------------------------------
 * border
 *---------------------------------------------------*/

.b {
  border: 1px solid $border-base-color!important
}

.bt {
  border-top: solid 1px $border-base-color!important
}

.br {
  border-right: solid 1px $border-base-color!important
}

.bb {
  border-bottom: solid 1px $border-base-color!important
}

.bl {
  border-left: solid 1px $border-base-color!important
}

.bx {
  border-left: solid 1px $border-base-color!important;
  border-right: solid 1px $border-base-color!important
}

.by {
  border-top: solid 1px $border-base-color!important;
  border-bottom: solid 1px $border-base-color!important
}


/*----------------------------------------------------
 * border width
 *---------------------------------------------------*/

.b-0 {
  border: none!important
}

.bl-0 {
  border-left: none!important
}

.br-0 {
  border-right: none!important
}

.bt-0 {
  border-top: none!important
}

.bb-0 {
  border-bottom: none!important
}

.b-1 {
  border-width: $border-1!important
}

.b-2 {
  border-width: $border-2!important
}

.b-3 {
  border-width: $border-3!important
}

.b-4 {
  border-width: $border-4!important
}

.b-5 {
  border-width: $border-5!important
}

.b-max {
  border-width: $border-max!important
}


/*----------------------------------------------------
 * border style
 *---------------------------------------------------*/

.b-dashed {
  border-style: dashed!important
}

.b-dotted {
  border-style: dotted!important
}

.b-double {
  border-style: double!important
}

.b-inset {
  border-style: inset!important
}

.b-outset {
  border-style: outset!important
}


/*----------------------------------------------------
 * border color
 *---------------------------------------------------*/

// basic border color
.b-main {
  border-color: $main-color!important
}

.b-sub {
  border-color: $sub-color!important
}

.b-mix {
  border-color: $mix-color!important
}

.b-dif {
  border-color: $dif-color!important
}

// brand border color
.b-primary {
  border-color: $brand-primary!important
}

.b-success {
  border-color: $brand-success!important
}

.b-info {
  border-color: $brand-info!important
}

.b-warning {
  border-color: $brand-warning!important
}

.b-danger {
  border-color: $brand-danger!important
}

// basic monochrome border color
.b-white {
  border-color: $--white!important
}

.b-smoke {
  border-color: $--whitesmoke!important
}

.b-light {
  border-color: $--lightgray!important
}

.b-silver {
  border-color: $--silver!important
}

.b-gray,
.b-grey {
  border-color: $--gray!important
}

.b-dark {
  border-color: $--darkgray!important
}

.b-black {
  border-color: $--black!important
}

.b-alpha {
  border-color: transparent!important;
}
