/*----------------------------------------------------
 * pull
 *---------------------------------------------------*/

.pull-in {
  margin-left: 15px;
  margin-right: 15px;
}

.pull-out {
  margin: -10px -15px;
}


/*other*/

.clickable {
  cursor: pointer
}

.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
}


/*transform*/

.transform-no {
  -ms-transform: none!important;
  -webkit-transform: none!important;
  -o-transform: none!important;
  -moz-transform: none!important;
  transform: none!important;
}
