.ellipsis {
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.italic {
  font-style: italic;
}

.normal {
  font-style: normal;
}

.oblique {
  font-style: oblique;
}

.lighter {
  font-weight: lighter
}

.regular {
  font-weight: $--regular
}

.bold {
  font-weight: $--bold
}

.line-through {
  text-decoration: line-through;
}

.overline {
  text-decoration: overline;
}

.underline {
  text-decoration: underline;
}

.capitalize {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.pre {
  white-space: pre;
}

.pre-line {
  white-space: pre-line;
}

.pre-wrap {
  white-space: pre-wrap;
}

.nowrap {
  white-space: nowrap;
}

.break-word {
  word-wrap: break-word;
}


/*-----------------   css text    --------------------*/

.text-break {
  word-break: break-all !important;
  word-wrap: break-word !important;
}

.text-unbreak {
  white-space: nowrap !important;
  word-wrap: normal !important;
}

.text-undecorate {
  text-decoration: none !important;
}

.text-underline {
  text-decoration: underline !important;
}

.text-through {
  text-decoration: line-through!important;
}

.text-sub {
  vertical-align: sub!important;
  /*下标字*/
}

.text-super {
  vertical-align: super!important;
  /*上标字*/
}

.text-indent,
.text-indent p,
.text-indent div {
  text-indent: 2em;
  /*缩进*/
}


/*text wrap*/

.text-nowrap {
  /*display: block;*/
  max-width: 100%;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  word-wrap: normal !important;
}

.text-nowrap-1 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  -webkit-box-flex: 1;
  line-height: $text-nowrap-height-base;
  height: $text-nowrap-height-1;
  word-break: break-all !important;
  word-wrap: break-word !important;
}

.text-nowrap-2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: $text-nowrap-height-base;
  height: $text-nowrap-height-2;
  word-break: break-all !important;
  word-wrap: break-word !important;
}

.text-nowrap-3 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: $text-nowrap-height-base;
  height: $text-nowrap-height-3;
  word-break: break-all !important;
  word-wrap: break-word !important;
}

.text-nowrap-4 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-height: $text-nowrap-height-base;
  height: $text-nowrap-height-4;
  word-break: break-all !important;
  word-wrap: break-word !important;
}

.text-nowrap-5 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  line-height: $text-nowrap-height-base;
  height: $text-nowrap-height-5;
  word-break: break-all !important;
  word-wrap: break-word !important;
}


/*----------------------------------------------------
 * text line height
 *---------------------------------------------------*/

.lh-1 {
  line-height: $text-height-1;
}

.lh-2 {
  line-height: $text-height-2;
}

.lh-3 {
  line-height: $text-height-3;
}

.lh-4 {
  line-height: $text-height-4;
}

.lh-5 {
  line-height: $text-height-5;
}


/*----------------------------------------------------
 * text font size
 *---------------------------------------------------*/

.fs {
  font-size: $font-size-normal
}

.fs-1 {
  font-size: $font-size-1
}

.fs-2 {
  font-size: $font-size-2
}

.fs-3 {
  font-size: $font-size-3
}

.fs-4 {
  font-size: $font-size-4
}

.fs-5 {
  font-size: $font-size-5
}

.fs-min {
  font-size: $font-size-min
}

.fs-max {
  font-size: $font-size-max
}


/*----------------------------------------------------
 * text align
 *---------------------------------------------------*/

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

/*----------------------------------------------------
 * active
 *---------------------------------------------------*/

.text-active,
.active > .text,
.active > .auto .text,
.collapsed > .text,
.collapsed > .auto .text {
  display: none !important;
}

.active > .text-active,
.active > .auto .text-active,
.collapsed > .text-active,
.collapsed > .auto .text-active {
  display: inline-block !important;
}
