{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

<!-- 模版 -->
{% extends '_layouts/application.html' %}

<!-- 页面标题 -->
{% block title %}{{ title }} | Base{% endblock %}

<!-- 面包屑导航 -->
{% block breadcrumb %}
<section class="content-header">
  <h1>
    Base
    <small>Preview page</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Overview</a></li>
    <li class="active">Base</li>
  </ol>
</section>
{% endblock %}

<!-- 主体内容 -->
{% block content %}
<section class="card my-3">
  <div class="card-header">
    <h3 class="card-title">Border radius</h3>
  </div>
  <div class="card-body">
    <div class="flex flex-gap-1">
      <div class="bg-smoke radius-0 h-3 w-3 flex flex-center">radius-0</div>
      <div class="bg-light radius-1 h-3 w-3 flex flex-center">radius-1</div>
      <div class="bg-light radius-2 h-3 w-3 flex flex-center">radius-2</div>
      <div class="bg-light radius-3 h-3 w-3 flex flex-center">radius-3</div>
      <div class="bg-light radius-4 h-3 w-3 flex flex-center">radius-4</div>
      <div class="bg-light radius-5 h-3 w-3 flex flex-center">radius-5</div>
      <div class="bg-light rounded h-3 w-3 flex flex-center text-center">rounded</div>
      <div class="bg-light circle h-3 w-3 flex flex-center text-center">circle</div>
      <div class="bg-black text-smoke radius-max px-5 nowrap h-3 flex flex-center">radius-max</div>
      <div class="bg-black text-smoke radius-100 h-3 w-3 flex flex-center">radius-100</div>
    </div>
  </div>
</section>
<section class="card my-3">
  <div class="card-header">
    <h3 class="card-title">Display</h3>
  </div>
  <div class="card-body">
    <div class="well">
      <p>block</p>
      <p>clearfix*</p>
      <p>flex</p>
      <p>grid</p>
      <p>inline-block</p>
      <p>inline-flex</p>
      <p>inline-table</p>
      <p>inline</p>
      <p>none</p>
      <p>table*</p>
      <p>table-cell</p>
      <p>table-column</p>
      <p>table-row</p>
    </div>
    <p><code>.clearfix</code> is an after-before-content hack for clearing floats.</p>
    <p><code>.table</code> has an extra attribute, layout: fixed.</p>
  </div>
</section>
<section class="card my-3">
  <div class="card-header">
    <h3 class="card-title">Flex</h3>
  </div>
  <div class="card-body">
    <div class="well">
      <p>flex-wrap</p>
      <p>flex-wrap-reverse</p>
      <p>flex-reverse</p>
      <p>flex-column</p>
      <p>flex-around</p>
      <p>flex-between</p>
      <p>flex-right</p>
      <p>flex-baseline</p>
      <p>flex-end</p>
      <p>flex-start</p>
      <p>flex-gap-1</p>
      <p>flex-gap-2</p>
      <p>flex-gap-3</p>
      <p>flex-gap-4</p>
      <p>flex-gap-5</p>
      <p>flex-gap-6</p>
      <p>flex-center*</p>
      <p>flex-xcenter*</p>
      <p>flex-ycenter*</p>
      <p>grow-1</p>
      <p>grow-2</p>
      <p>grow-3</p>
      <p>grow-4</p>
      <p>grow-5</p>
      <p>grow-6</p>
      <p>self-center</p>
      <p>self-start</p>
      <p>self-end</p>
      <p>self-baseline</p>
    </div>
    <p><code>.flex-(x|y)center</code> does what is say. x-y is axis.</p>
    <p><code>.grow-x</code> also resets flex-basis to 0. Should be used on flex children.</p>
    <p><code>.self-x</code> is align-self. Should be used on flex children.</p>
  </div>
</section>
<section class="card my-3">
  <div class="card-header">
    <h3 class="card-title">Height</h3>
  </div>
  <div class="card-body">
    <div class="well">
      <div class="grid grid-cols-4 grid-gap-1">
        <div>
          <p>h-0</p>
          <p>h-1</p>
          <p>h-2</p>
          <p>h-3</p>
          <p>h-4</p>
          <p>h-5</p>
          <p>h-6</p>
        </div>
        <div>
          <p>h-25</p>
          <p>h-33</p>
          <p>h-50</p>
          <p>h-66</p>
          <p>h-75</p>
          <p>h-100</p>
        </div>
        <div>
          <p>mh-0</p>
          <p>mh-1</p>
          <p>mh-2</p>
          <p>mh-3</p>
          <p>mh-4</p>
          <p>mh-5</p>
          <p>mh-6</p>
        </div>
        <div>
          <p>minvh-25</p>
          <p>minvh-33</p>
          <p>minvh-50</p>
          <p>minvh-66</p>
          <p>minvh-75</p>
          <p>minvh-100</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="card my-3">
  <div class="card-header">
    <h3 class="card-title">Width</h3>
  </div>
  <div class="card-body">
    <div class="well">
      <div class="grid grid-cols-4 grid-gap-1">
        <div>
          <p>W-0</p>
          <p>w-1</p>
          <p>w-2</p>
          <p>w-3</p>
          <p>w-4</p>
          <p>w-5</p>
          <p>w-6</p>
        </div>
        <div>
          <p>w-25</p>
          <p>w-33</p>
          <p>w-50</p>
          <p>w-66</p>
          <p>w-75</p>
          <p>w-100</p>
        </div>
        <div>
          <p>mw-0</p>
          <p>mw-1</p>
          <p>mw-2</p>
          <p>mw-3</p>
          <p>mw-4</p>
          <p>mw-5</p>
          <p>mw-6</p>
        </div>
        <div>
          <p>minvw-25</p>
          <p>minvw-33</p>
          <p>minvw-50</p>
          <p>minvw-66</p>
          <p>minvw-75</p>
          <p>minvw-100</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="card my-3">
  <div class="card-header">
    <h3 class="card-title">Margin</h3>
  </div>
  <div class="card-body">
    <div class="well">
      <div class="grid grid-cols-7 grid-gap-1">
        <div>
          <p>m-0</p>
          <p>m-1</p>
          <p>m-2</p>
          <p>m-3</p>
          <p>m-4</p>
          <p>m-5</p>
          <p>m-6</p>
          <p>m-max</p>
        </div>
        <div>
          <p>mb-0</p>
          <p>mb-1</p>
          <p>mb-2</p>
          <p>mb-3</p>
          <p>mb-4</p>
          <p>mb-5</p>
          <p>mb-6</p>
          <p>mb-max</p>
        </div>
        <div>
          <p>ml-0</p>
          <p>ml-1</p>
          <p>ml-2</p>
          <p>ml-3</p>
          <p>ml-4</p>
          <p>ml-5</p>
          <p>ml-6</p>
          <p>ml-max</p>
        </div>
        <div>
          <p>mr-0</p>
          <p>mr-1</p>
          <p>mr-2</p>
          <p>mr-3</p>
          <p>mr-4</p>
          <p>mr-5</p>
          <p>mr-6</p>
          <p>mr-max</p>
        </div>
        <div>
          <p>mt-0</p>
          <p>mt-1</p>
          <p>mt-2</p>
          <p>mt-3</p>
          <p>mt-4</p>
          <p>mt-5</p>
          <p>mt-6</p>
          <p>mt-max</p>
        </div>
        <div>
          <p>my-0</p>
          <p>my-1</p>
          <p>my-2</p>
          <p>my-3</p>
          <p>my-4</p>
          <p>my-5</p>
          <p>my-6</p>
          <p>my-max</p>
        </div>
        <div>
          <p>mx-0</p>
          <p>mx-1</p>
          <p>mx-2</p>
          <p>mx-3</p>
          <p>mx-4</p>
          <p>mx-5</p>
          <p>mx-6</p>
          <p>mx-max</p>
          <p>mx-auto</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="card my-3">
  <div class="card-header">
    <h3 class="card-title">Padding</h3>
  </div>
  <div class="card-body">
    <div class="grid grid-cols-7 grid-gap-1">
      <div>
        <p>p-0</p>
        <p>p-1</p>
        <p>p-2</p>
        <p>p-3</p>
        <p>p-4</p>
        <p>p-5</p>
        <p>p-6</p>
        <p>p-max</p>
      </div>
      <div>
        <p>pb-0</p>
        <p>pb-1</p>
        <p>pb-2</p>
        <p>pb-3</p>
        <p>pb-4</p>
        <p>pb-5</p>
        <p>pb-6</p>
        <p>pb-max</p>
      </div>
      <div>
        <p>pl-0</p>
        <p>pl-1</p>
        <p>pl-2</p>
        <p>pl-3</p>
        <p>pl-4</p>
        <p>pl-5</p>
        <p>pl-6</p>
        <p>pl-max</p>
      </div>
      <div>
        <p>pr-0</p>
        <p>pr-1</p>
        <p>pr-2</p>
        <p>pr-3</p>
        <p>pr-4</p>
        <p>pr-5</p>
        <p>pr-6</p>
        <p>pr-max</p>
      </div>
      <div>
        <p>pt-0</p>
        <p>pt-1</p>
        <p>pt-2</p>
        <p>pt-3</p>
        <p>pt-4</p>
        <p>pt-5</p>
        <p>pt-6</p>
        <p>pt-max</p>
      </div>
      <div>
        <p>py-0</p>
        <p>py-1</p>
        <p>py-2</p>
        <p>py-3</p>
        <p>py-4</p>
        <p>py-5</p>
        <p>py-6</p>
        <p>py-max</p>
      </div>
      <div>
        <p>px-0</p>
        <p>px-1</p>
        <p>px-2</p>
        <p>px-3</p>
        <p>px-4</p>
        <p>px-5</p>
        <p>px-6</p>
        <p>px-max</p>
      </div>
    </div>
  </div>
</section>
<section class="card my-3">
  <div class="card-header">
    <h3 class="card-title">Opacity</h3>
  </div>
  <div class="card-body">
    <div class="grid grid-cols-5 grid-gap-1" data-reactid="292">
      <div class="bg-gray p-1 opacity-100" data-reactid="293">opacity-100</div>
      <div class="bg-gray p-1 opacity-90" data-reactid="294">opacity-90</div>
      <div class="bg-gray p-1 opacity-80" data-reactid="295">opacity-80</div>
      <div class="bg-gray p-1 opacity-70" data-reactid="296">opacity-70</div>
      <div class="bg-gray p-1 opacity-60" data-reactid="297">opacity-60</div>
      <div class="bg-gray p-1 opacity-50" data-reactid="298">opacity-50</div>
      <div class="bg-gray p-1 opacity-40" data-reactid="299">opacity-40</div>
      <div class="bg-gray p-1 opacity-30" data-reactid="300">opacity-30</div>
      <div class="bg-gray p-1 opacity-20" data-reactid="301">opacity-20</div>
      <div class="bg-gray p-1 opacity-10" data-reactid="302">opacity-10</div>
      <div class="bg-gray p-1 opacity-0" data-reactid="303">opacity-0</div>
    </div>
  </div>
</section>
<section class="card my-3">
  <div class="card-header">
    <h3 class="card-title">Position</h3>
  </div>
  <div class="card-body">
    <div class="well">
      <p>absolute</p>
      <p>fixed</p>
      <p>relative</p>
      <p>sticky</p>
      <hr />
      <p>bottom-0</p>
      <p>left-0</p>
      <p>right-0</p>
      <p>top-0</p>
      <hr />
      <p>z-min</p>
      <p>z-0</p>
      <p>z-1</p>
      <p>z-2</p>
      <p>z-3</p>
      <p>z-4</p>
      <p>z-5</p>
      <p>z-6</p>
      <p>z-7</p>
      <p>z-8</p>
      <p>z-9</p>
      <p>z-10</p>
      <p>z-max</p>
    </div>
  </div>
</section>
<section class="card my-3">
  <div class="card-header">
    <h3 class="card-title">Responsive Float</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <h4>float left</h4>
        <div class="well">
          <p>pull-left</p>
          <p>pull-xs-left</p>
          <p>pull-sm-left</p>
          <p>pull-md-left</p>
          <p>pull-lg-left</p>
          <p>pull-xl-left</p>
        </div>
      </div>
      <div class="col-md-6">
        <h4>float right</h4>
        <div class="well">
          <p>pull-right</p>
          <p>pull-xs-right</p>
          <p>pull-sm-right</p>
          <p>pull-md-right</p>
          <p>pull-lg-right</p>
          <p>pull-xl-right</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}