{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

<!-- 模版 -->
{% extends '_layouts/application.html' %}

<!-- 页面标题 -->
{% block title %}{{ title }} | Base{% endblock %}

<!-- 面包屑导航 -->
{% block breadcrumb %}
<section class="content-header">
  <h1>
    Base
    <small>Preview page</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Overview</a></li>
    <li class="active">Base</li>
  </ol>
</section>
{% endblock %}

<!-- 主体内容 -->
{% block content %}
<section class="box my-3">
  <div class="box-header">
    <h3 class="box-title">Border radius</h3>
  </div>
  <div class="box-body">
    <div class="flex flex-gap-1">
      <div class="bg-smoke radius-0 h-3 w-3 flex flex-center">radius-0</div>
      <div class="bg-light radius-1 h-3 w-3 flex flex-center">radius-1</div>
      <div class="bg-light radius-2 h-3 w-3 flex flex-center">radius-2</div>
      <div class="bg-light radius-3 h-3 w-3 flex flex-center">radius-3</div>
      <div class="bg-black text-smoke radius-max px-5 nowrap h-3 flex flex-center">radius-max</div>
      <div class="bg-black text-smoke radius-100 h-3 w-3 flex flex-center">radius-100</div>
    </div>
  </div>
</section>
<section class="box my-3">
  <div class="box-header">
    <h3 class="box-title">Display</h3>
  </div>
  <div class="box-body">
  </div>
</section>
<section class="box my-3">
  <div class="box-header">
    <h3 class="box-title">Flex</h3>
  </div>
  <div class="box-body">  
  </div>
</section>
<section class="box my-3">
  <div class="box-header">
    <h3 class="box-title">Height</h3>
  </div>
  <div class="box-body">  
  </div>
</section>
<section class="box my-3">
  <div class="box-header">
    <h3 class="box-title">Width</h3>
  </div>
  <div class="box-body">  
  </div>
</section>
<section class="box my-3">
  <div class="box-header">
    <h3 class="box-title">Margin</h3>
  </div>
  <div class="box-body">  
  </div>
</section>
<section class="box my-3">
  <div class="box-header">
    <h3 class="box-title">Padding</h3>
  </div>
  <div class="box-body">  
  </div>
</section>
<section class="box my-3">
  <div class="box-header">
    <h3 class="box-title">Opacity</h3>
  </div>
  <div class="box-body">  
  </div>
</section>
<section class="box my-3">
  <div class="box-header">
    <h3 class="box-title">Position</h3>
  </div>
  <div class="box-body">  
  </div>
</section>
<section class="box my-3">
  <div class="box-header">
    <h3 class="box-title">Responsive Float</h3>
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-md-6">
        <h4>float left</h4>
        <div class="well">
          <p>pull-left</p>
          <p>pull-xs-left</p>
          <p>pull-sm-left</p>
          <p>pull-md-left</p>
          <p>pull-lg-left</p>
          <p>pull-xl-left</p>
        </div>
      </div>
      <div class="col-md-6">
        <h4>float right</h4>
        <div class="well">
          <p>pull-right</p>
          <p>pull-xs-right</p>
          <p>pull-sm-right</p>
          <p>pull-md-right</p>
          <p>pull-lg-right</p>
          <p>pull-xl-right</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}