{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

<!-- 模版 -->
{% extends '_layouts/application.html' %}

<!-- 页面标题 -->
{% block title %}{{ title }} | Colors{% endblock %}

<!-- 自定义样式 -->
{% block style %}
<style>
.color-palette {
  height: 35px;
  line-height: 35px;
  text-align: center;
}

.color-palette-set {
  margin-bottom: 15px;
}

.color-palette span {
  display: none;
  font-size: 12px;
}

.color-palette:hover span {
  display: block;
}

.color-palette-box h4 {
  position: absolute;
  top: 100%;
  left: 25px;
  margin-top: -40px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  display: block;
  z-index: 7;
}
</style>
{% endblock %}

<!-- 面包屑导航 -->
{% block breadcrumb %}
<section class="content-header">
  <h1>
    Colors
    <small>Preview page</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Overview</a></li>
    <li class="active">Colors</li>
  </ol>
</section>
{% endblock %}

<!-- 主体内容 -->
{% block content %}
<section class="box my-3">
  <div class="box-header">
    <h3 class="box-title">Color</h3>
  </div>
  <div class="box-body">
    <div class="grid grid-cols-7 grid-gap-1">
      <div class="bg-default p-1">bg-default</div>
      <div class="bg-primary bg-inverse p-1">bg-primary</div>
      <div class="bg-success bg-inverse p-1">bg-success</div>
      <div class="bg-info bg-inverse p-1">bg-info</div>
      <div class="bg-warning bg-inverse p-1">bg-warning</div>
      <div class="bg-danger bg-inverse p-1">bg-danger</div>
      <div class="bg-black bg-inverse p-1">bg-black</div>
    </div>
  </div>
</section>
<section class="box my-3">
  <div class="box-header">
    <h3 class="box-title">Color</h3>
  </div>
  <div class="box-body">
    <div class="grid grid-cols-7 grid-gap-1">
      <div class="bg-white p-1">bg-white</div>
      <div class="bg-smoke p-1">bg-smoke</div>
      <div class="bg-light p-1">bg-light</div>
      <div class="bg-silver p-1">bg-silver</div>
      <div class="bg-dark p-1">bg-dark</div>
      <div class="bg-gray p-1">bg-gray</div>
      <div class="bg-black p-1">bg-black</div>
      <div class="text-white p-1">white</div>
      <div class="text-smoke p-1">smoke</div>
      <div class="text-light p-1">light</div>
      <div class="text-silver p-1">silver</div>
      <div class="text-dark p-1">dark</div>
      <div class="text-gray p-1">gray</div>
      <div class="text-black p-1">black</div>
    </div>
  </div>
</section>
<!-- COLOR PALETTE -->
<div class="box box-default color-palette-box">
  <div class="box-header with-border">
    <h3 class="box-title">Color Palette</h3>
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-sm-4 col-md-2">
        <h4 class="text-center">Primary</h4>
        <div class="color-palette-set">
          <div class="bg-light-blue disabled color-palette"><span>Disabled</span></div>
          <div class="bg-light-blue color-palette"><span>#3c8dbc</span></div>
          <div class="bg-light-blue-active color-palette"><span>Active</span></div>
        </div>
      </div>
      <!-- /.col -->
      <div class="col-sm-4 col-md-2">
        <h4 class="text-center">Info</h4>
        <div class="color-palette-set">
          <div class="bg-aqua disabled color-palette"><span>Disabled</span></div>
          <div class="bg-aqua color-palette"><span>#00c0ef</span></div>
          <div class="bg-aqua-active color-palette"><span>Active</span></div>
        </div>
      </div>
      <!-- /.col -->
      <div class="col-sm-4 col-md-2">
        <h4 class="text-center">Success</h4>
        <div class="color-palette-set">
          <div class="bg-green disabled color-palette"><span>Disabled</span></div>
          <div class="bg-green color-palette"><span>#00a65a</span></div>
          <div class="bg-green-active color-palette"><span>Active</span></div>
        </div>
      </div>
      <!-- /.col -->
      <div class="col-sm-4 col-md-2">
        <h4 class="text-center">Warning</h4>
        <div class="color-palette-set">
          <div class="bg-yellow disabled color-palette"><span>Disabled</span></div>
          <div class="bg-yellow color-palette"><span>#f39c12</span></div>
          <div class="bg-yellow-active color-palette"><span>Active</span></div>
        </div>
      </div>
      <!-- /.col -->
      <div class="col-sm-4 col-md-2">
        <h4 class="text-center">Danger</h4>
        <div class="color-palette-set">
          <div class="bg-red disabled color-palette"><span>Disabled</span></div>
          <div class="bg-red color-palette"><span>#f56954</span></div>
          <div class="bg-red-active color-palette"><span>Active</span></div>
        </div>
      </div>
      <!-- /.col -->
      <div class="col-sm-4 col-md-2">
        <h4 class="text-center">Gray</h4>
        <div class="color-palette-set">
          <div class="bg-gray disabled color-palette"><span>Disabled</span></div>
          <div class="bg-gray color-palette"><span>#d2d6de</span></div>
          <div class="bg-gray-active color-palette"><span>Active</span></div>
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-sm-4 col-md-2">
        <h4 class="text-center">Navy</h4>
        <div class="color-palette-set">
          <div class="bg-navy disabled color-palette"><span>Disabled</span></div>
          <div class="bg-navy color-palette"><span>#001F3F</span></div>
          <div class="bg-navy-active color-palette"><span>Active</span></div>
        </div>
      </div>
      <!-- /.col -->
      <div class="col-sm-4 col-md-2">
        <h4 class="text-center">Teal</h4>
        <div class="color-palette-set">
          <div class="bg-teal disabled color-palette"><span>Disabled</span></div>
          <div class="bg-teal color-palette"><span>#39CCCC</span></div>
          <div class="bg-teal-active color-palette"><span>Active</span></div>
        </div>
      </div>
      <!-- /.col -->
      <div class="col-sm-4 col-md-2">
        <h4 class="text-center">Purple</h4>
        <div class="color-palette-set">
          <div class="bg-purple disabled color-palette"><span>Disabled</span></div>
          <div class="bg-purple color-palette"><span>#605ca8</span></div>
          <div class="bg-purple-active color-palette"><span>Active</span></div>
        </div>
      </div>
      <!-- /.col -->
      <div class="col-sm-4 col-md-2">
        <h4 class="text-center">Orange</h4>
        <div class="color-palette-set">
          <div class="bg-orange disabled color-palette"><span>Disabled</span></div>
          <div class="bg-orange color-palette"><span>#ff851b</span></div>
          <div class="bg-orange-active color-palette"><span>Active</span></div>
        </div>
      </div>
      <!-- /.col -->
      <div class="col-sm-4 col-md-2">
        <h4 class="text-center">Maroon</h4>
        <div class="color-palette-set">
          <div class="bg-maroon disabled color-palette"><span>Disabled</span></div>
          <div class="bg-maroon color-palette"><span>#D81B60</span></div>
          <div class="bg-maroon-active color-palette"><span>Active</span></div>
        </div>
      </div>
      <!-- /.col -->
      <div class="col-sm-4 col-md-2">
        <h4 class="text-center">Black</h4>
        <div class="color-palette-set">
          <div class="bg-black disabled color-palette"><span>Disabled</span></div>
          <div class="bg-black color-palette"><span>#111111</span></div>
          <div class="bg-black-active color-palette"><span>Active</span></div>
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
{% endblock %}