{# 
  Nunjucks Templating! 
  Homepage: https://mozilla.github.io/nunjucks/ 
  Docs: https://mozilla.github.io/nunjucks/api.html 
#}
<!-- 模版 -->
{% extends '_layouts/application.html' %}
<!-- 页面标题 -->
{% block title %}{{ global.title }} | Tile{% endblock %}
<!-- 面包屑导航 -->
{% block breadcrumb %}
<section class="page-header">
  <div class="container">
    <h1 class="page-title">Tile</h1>
  </div>
</section>
{% endblock %}
<!-- 主体内容 -->
{% block content %}
<div class="container">
  <section id="portfolio">
      <div class="portfolio-wrap">

          <div href="" class="portfolio-tile">
            <div class="portfolio-img"><img src="https://unsplash.it/500/375?image=1"></div>
            <h1>Lorem ipsum dolor</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur in eaque pariatur, unde repellat, quidem similique temporibus ullam eum blanditiis, dolorem ut doloribus?</p>
          </div>

          <div class="portfolio-tile">
            <div class="portfolio-img"><img src="https://unsplash.it/700/400?image=1"></div>
            <h1>Lorem ipsum</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis saepe, incidunt ratione sed distinctio illum corporis beatae. Nisi reprehenderit nam amet dolorum, odit impedit officia quos, beatae nesciunt, fugit ipsa!</p>
          </div>

          <div class="portfolio-tile">
            <div class="portfolio-img"><img src="https://unsplash.it/700/700?image=1"></div>
            <h1>Lorem ipsum</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem id repellendus, non maiores voluptas rem!</p>
          </div>

          <div class="portfolio-tile">
            <div class="portfolio-img"><img src="https://unsplash.it/700/400?image=1"></div>
            <h1>Lorem ipsum dolor sit</h1>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>

          <div class="portfolio-tile">
            <div class="portfolio-img"><img src="https://unsplash.it/700/400?image=1"></div>
            <h1>Lorem ipsum dolor sit amet</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, quod, suscipit! Nam voluptas quos non temporibus, nulla. Dicta possimus perferendis, esse delectus impedit unde tempore officia, molestiae quos!</p>
          </div>

          <div class="portfolio-tile">
            <div class="portfolio-img"><img src="https://unsplash.it/700/400?image=1"></div>
            <h1>Lorem ipsum</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur in eaque pariatur, unde repellat, quidem similique temporibus ullam eum blanditiis, dolorem ut doloribus.</p>
          </div>

          <div class="portfolio-tile">
            <div class="portfolio-img"><img src="https://unsplash.it/700/400?image=1"></div>
            <h1>Lorem ipsum dolor</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis sunt ducimus similique! Provident repudiandae, quod fugit magni non dignissimos laboriosam incidunt iure, corporis nemo voluptates perspiciatis voluptatibus ipsum aperiam labore perferendis dolorum.</p>
          </div>

          <div class="portfolio-tile">
            <div class="portfolio-img"><img src="https://unsplash.it/700/400?image=1"></div>
            <h1>Lorem ipsum dolor sit amet</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita porro, quibusdam dolores ut impedit doloribus autem qui ducimus fuga quisquam eos repellendus ex veniam veritatis sapiente dolore aut dicta tenetur doloremque voluptates suscipit!</p>
          </div>

          <div class="portfolio-tile">
            <div class="portfolio-img"><img src="https://unsplash.it/700/400?image=1"></div>
            <h1>Lorem ipsum</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, amet, esse. Fugiat hic dicta voluptas. Labore illo, dicta facilis voluptatum perferendis consectetur.</p>
          </div>

          <div class="portfolio-tile">
            <div class="portfolio-img"><img src="https://unsplash.it/700/400?image=1"></div>
            <h1>Lorem ipsum dolor</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae quae nisi itaque, id deleniti esse quis earum odio accusamus atque blanditiis?</p>
          </div>

          <div class="portfolio-tile">
            <div class="portfolio-img"><img src="https://unsplash.it/700/400?image=1"></div>
            <h1>Lorem ipsum dolor</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur in eaque pariatur, unde repellat, quidem similique temporibus ullam eum blanditiis, dolorem ut doloribus?</p>
          </div>

          <div class="portfolio-tile">
            <div class="portfolio-img"><img src="https://unsplash.it/700/400?image=1"></div>
            <h1>Lorem</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam quo beatae temporibus recusandae voluptates dolore repellendus quia ipsa non animi numquam iure vero neque, eius, delectus aperiam explicabo deserunt porro, tempora. Dolores consequatur necessitatibus a eaque perferendis maiores maxime, laboriosam, quam suscipit alias eum.</p>
          </div>

          <a href="" class="portfolio-tile">
            <div class="portfolio-img"><img src="https://unsplash.it/700/400?image=1"></div>
            <h1>Lorem ipsum dolor</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, quisquam.</p>
          </a>

          <div class="portfolio-tile">
            <div class="portfolio-img"><img src="https://unsplash.it/700/400?image=1"></div>
            <h1>Lorem ipsum</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis saepe, incidunt ratione sed distinctio illum corporis beatae. Nisi reprehenderit nam amet dolorum, odit impedit officia quos, beatae nesciunt, fugit ipsa!</p>
          </div>

          <div class="portfolio-tile">
            <div class="portfolio-img"><img src="https://unsplash.it/700/400?image=1"></div>
            <h1>Lorem ipsum</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem id repellendus, non maiores voluptas rem!</p>
          </div>

          <div class="portfolio-tile">
            <div class="portfolio-img"><img src="https://unsplash.it/700/400?image=1"></div>
            <h1>Lorem ipsum dolor sit</h1>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>

      </div>
    </section>
  <div class="wrapper">
    <h3 class="mt-5">Horizontal Masonry</h3>
    <div class="masonry masonry--h">
      <figure class="masonry-brick masonry-brick--h"><img src="https://unsplash.it/700/400?image=1" class="masonry-img" alt="Masonry Brick #1"></figure>
      <figure class="masonry-brick masonry-brick--h"><img src="https://unsplash.it/700/300?image=2" class="masonry-img" alt="Masonry Brick #2"></figure>
      <figure class="masonry-brick masonry-brick--h"><img src="https://unsplash.it/700/500?image=3" class="masonry-img" alt="Masonry Brick #3"></figure>
      <figure class="masonry-brick masonry-brick--h"><img src="https://unsplash.it/700/250?image=4" class="masonry-img" alt="Masonry Brick #4"></figure>
      <figure class="masonry-brick masonry-brick--h"><img src="https://unsplash.it/700/450?image=5" class="masonry-img" alt="Masonry Brick #5"></figure>
      <figure class="masonry-brick masonry-brick--h"><img src="https://unsplash.it/700/350?image=6" class="masonry-img" alt="Masonry Brick #6"></figure>
      <figure class="masonry-brick masonry-brick--h"><img src="https://unsplash.it/700/600?image=18" class="masonry-img" alt="Masonry Brick #7"></figure>
      <figure class="masonry-brick masonry-brick--h"><img src="https://unsplash.it/700/700?image=8" class="masonry-img" alt="Masonry Brick #8"></figure>
      <figure class="masonry-brick masonry-brick--h"><img src="https://unsplash.it/700/200?image=19" class="masonry-img" alt="Masonry Brick #9"></figure>
      <figure class="masonry-brick masonry-brick--h"><img src="https://unsplash.it/700/300?image=10" class="masonry-img" alt="Masonry Brick #10"></figure>
      <figure class="masonry-brick masonry-brick--h"><img src="https://unsplash.it/700/420?image=11" class="masonry-img" alt="Masonry Brick #11"></figure>
      <figure class="masonry-brick masonry-brick--h"><img src="https://unsplash.it/700/450?image=12" class="masonry-img" alt="Masonry Brick #12"></figure>
      <figure class="masonry-brick masonry-brick--h"><img src="https://unsplash.it/700/550?image=13" class="masonry-img" alt="Masonry Brick #13"></figure>
      <figure class="masonry-brick masonry-brick--h"><img src="https://unsplash.it/700/640?image=14" class="masonry-img" alt="Masonry Brick #14"></figure>
      <figure class="masonry-brick masonry-brick--h"><img src="https://unsplash.it/700/420?image=15" class="masonry-img" alt="Masonry Brick #15"></figure>
      <figure class="masonry-brick masonry-brick--h"><img src="https://unsplash.it/700/430?image=16" class="masonry-img" alt="Masonry Brick #16"></figure>
      <figure class="masonry-brick masonry-brick--h"><img src="https://unsplash.it/700/340?image=17" class="masonry-img" alt="Masonry Brick #17"></figure>
      <figure class="masonry-brick masonry-brick--h"><img src="https://unsplash.it/700/240?image=27" class="masonry-img" alt="Masonry Brick #18"></figure>
      <figure class="masonry-brick masonry-brick--h"><img src="https://unsplash.it/700/780?image=19" class="masonry-img" alt="Masonry Brick #19"></figure>
      <figure class="masonry-brick masonry-brick--h"><img src="https://unsplash.it/700/470?image=20" class="masonry-img" alt="Masonry Brick #20"></figure>
      <figure class="masonry-brick masonry-brick--h"><img src="https://unsplash.it/700/380?image=21" class="masonry-img" alt="Masonry Brick #21"></figure>
      <figure class="masonry-brick masonry-brick--h"><img src="https://unsplash.it/700/240?image=22" class="masonry-img" alt="Masonry Brick #22"></figure>
      <figure class="masonry-brick masonry-brick--h"><img src="https://unsplash.it/700/900?image=23" class="masonry-img" alt="Masonry Brick #23"></figure>
      <figure class="masonry-brick masonry-brick--h"><img src="https://unsplash.it/700/480?image=24" class="masonry-img" alt="Masonry Brick #24"></figure>
      <figure class="masonry-brick masonry-brick--h"><img src="https://unsplash.it/700/300?image=25" class="masonry-img" alt="Masonry Brick #25"></figure>
      <figure class="masonry-brick masonry-brick--h"><img src="https://unsplash.it/700/400?image=26" class="masonry-img" alt="Masonry Brick #26"></figure>
      <figure class="masonry-brick masonry-brick--h"><img src="https://unsplash.it/700/500?image=27" class="masonry-img" alt="Masonry Brick #27"></figure>
      <figure class="masonry-brick masonry-brick--h"><img src="https://unsplash.it/700/520?image=28" class="masonry-img" alt="Masonry Brick #28"></figure>
      <figure class="masonry-brick masonry-brick--h"><img src="https://unsplash.it/700/920?image=29" class="masonry-img" alt="Masonry Brick #29"></figure>
      <figure class="masonry-brick masonry-brick--h"><img src="https://unsplash.it/700/400?image=30" class="masonry-img" alt="Masonry Brick #30"></figure>
      <figure class="masonry-brick masonry-brick--h"><img src="https://unsplash.it/700/560?image=31" class="masonry-img" alt="Masonry Brick #31"></figure>
      <figure class="masonry-brick masonry-brick--h"><img src="https://unsplash.it/700/370?image=32" class="masonry-img" alt="Masonry Brick #32"></figure>
    </div>
    <h3 class="mt-5">Vertical Masonry</h3>
    <div class="masonry masonry--v">
      <figure class="masonry-brick masonry-brick--v"><img src="https://unsplash.it/700/500?image=1" class="masonry-img" alt="Masonry Brick #1"></figure>
      <figure class="masonry-brick masonry-brick--v"><img src="https://unsplash.it/700/900?image=2" class="masonry-img" alt="Masonry Brick #2"></figure>
      <figure class="masonry-brick masonry-brick--v"><img src="https://unsplash.it/700/600?image=3" class="masonry-img" alt="Masonry Brick #3"></figure>
      <figure class="masonry-brick masonry-brick--v"><img src="https://unsplash.it/700/1024?image=4" class="masonry-img" alt="Masonry Brick #4"></figure>
      <figure class="masonry-brick masonry-brick--v"><img src="https://unsplash.it/700/450?image=5" class="masonry-img" alt="Masonry Brick #5"></figure>
      <figure class="masonry-brick masonry-brick--v"><img src="https://unsplash.it/700/600?image=6" class="masonry-img" alt="Masonry Brick #6"></figure>
      <figure class="masonry-brick masonry-brick--v"><img src="https://unsplash.it/700/550?image=18" class="masonry-img" alt="Masonry Brick #7"></figure>
      <figure class="masonry-brick masonry-brick--v"><img src="https://unsplash.it/700/800?image=8" class="masonry-img" alt="Masonry Brick #8"></figure>
      <figure class="masonry-brick masonry-brick--v"><img src="https://unsplash.it/700/600?image=19" class="masonry-img" alt="Masonry Brick #9"></figure>
      <figure class="masonry-brick masonry-brick--v"><img src="https://unsplash.it/700/500?image=10" class="masonry-img" alt="Masonry Brick #10"></figure>
      <figure class="masonry-brick masonry-brick--v"><img src="https://unsplash.it/700/450?image=11" class="masonry-img" alt="Masonry Brick #11"></figure>
      <figure class="masonry-brick masonry-brick--v"><img src="https://unsplash.it/700/550?image=12" class="masonry-img" alt="Masonry Brick #12"></figure>
      <figure class="masonry-brick masonry-brick--v"><img src="https://unsplash.it/700/650?image=13" class="masonry-img" alt="Masonry Brick #13"></figure>
      <figure class="masonry-brick masonry-brick--v"><img src="https://unsplash.it/700/450?image=14" class="masonry-img" alt="Masonry Brick #14"></figure>
    </div>
  </div>
</div>


{% endblock %}
