{# 
  Nunjucks Templating! 
  Homepage: https://mozilla.github.io/nunjucks/ 
  Docs: https://mozilla.github.io/nunjucks/api.html 
#}
<!-- 模版 -->
{% extends '_layouts/application.html' %}
<!-- 页面标题 -->
{% block title %}{{ global.title }} | Entry Cards{% endblock %}
<!-- 面包屑导航 -->
{% block breadcrumb %}
<section class="page-header">
  <div class="container">
    <h1 class="page-title">Entry Cards</h1>
  </div>
</section>
{% endblock %}
<!-- 主体内容 -->
{% block content %}
<div class="container">
  <div class="row row-cards">
    <div class="col-lg-4 col-md-6">
      <div class="card text-white bg-primary">
        <div class="card-body">
          <h4 class="card-title">Primary card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4 col-md-6">
      <div class="card text-white bg-secondary">
        <div class="card-body">
          <h4 class="card-title">Secondary card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4 col-md-6">
      <div class="card text-white bg-success">
        <div class="card-body">
          <h4 class="card-title">Success card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4 col-md-6">
      <div class="card text-white bg-info">
        <div class="card-body">
          <h4 class="card-title">Info card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4 col-md-6">
      <div class="card text-white bg-warning">
        <div class="card-body">
          <h4 class="card-title">Warning card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4 col-md-6">
      <div class="card text-white bg-danger">
        <div class="card-body">
          <h4 class="card-title">Danger card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4 col-md-6">
      <div class="card text-white bg-dark">
        <div class="card-body">
          <h4 class="card-title">Dark card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-12"></div>
    <div class="col-lg-4 col-md-6">
      <div class="card border-primary">
        <div class="card-body">
          <h4 class="card-title">Primary card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4 col-md-6">
      <div class="card border-secondary">
        <div class="card-body">
          <h4 class="card-title">Secondary card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4 col-md-6">
      <div class="card border-success">
        <div class="card-body">
          <h4 class="card-title">Success card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4 col-md-6">
      <div class="card border-info">
        <div class="card-body">
          <h4 class="card-title">Info card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4 col-md-6">
      <div class="card border-warning">
        <div class="card-body">
          <h4 class="card-title">Warning card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4 col-md-6">
      <div class="card border-danger">
        <div class="card-body">
          <h4 class="card-title">Danger card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4 col-md-6">
      <div class="card border-dark">
        <div class="card-body">
          <h4 class="card-title">Dark card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-12"></div>
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-status bg-primary"></div>
        <div class="card-body">
          <h4 class="mb-3">HTML & CSS lessons</h4>
          <div class="row">
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-calendar mr-1 text-muted w-4 text-center"></i> 6 Dec 2017</div>
            </div>
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-map-marker mr-1 text-muted w-4 text-center"></i> Warsaw, Poland</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-status bg-secondary"></div>
        <div class="card-body">
          <h4 class="mb-3">HTML & CSS lessons</h4>
          <div class="row">
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-calendar mr-1 text-muted w-4 text-center"></i> 5 Jun 2019</div>
            </div>
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-map-marker mr-1 text-muted w-4 text-center"></i> London, UK</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-status bg-success"></div>
        <div class="card-body">
          <h4 class="mb-3">HTML & CSS lessons</h4>
          <div class="row">
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-calendar mr-1 text-muted w-4 text-center"></i> 22 Oct 2018</div>
            </div>
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-map-marker mr-1 text-muted w-4 text-center"></i> Barcelona, Spain</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-status bg-info"></div>
        <div class="card-body">
          <h4 class="mb-3">HTML & CSS lessons</h4>
          <div class="row">
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-calendar mr-1 text-muted w-4 text-center"></i> 22 Oct 2018</div>
            </div>
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-map-marker mr-1 text-muted w-4 text-center"></i> Barcelona, Spain</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-status bg-warning"></div>
        <div class="card-body">
          <h4 class="mb-3">HTML & CSS lessons</h4>
          <div class="row">
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-calendar mr-1 text-muted w-4 text-center"></i> 22 Oct 2018</div>
            </div>
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-map-marker mr-1 text-muted w-4 text-center"></i> Barcelona, Spain</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-status bg-danger"></div>
        <div class="card-body">
          <h4 class="mb-3">HTML & CSS lessons</h4>
          <div class="row">
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-calendar mr-1 text-muted w-4 text-center"></i> 22 Oct 2018</div>
            </div>
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-map-marker mr-1 text-muted w-4 text-center"></i> Barcelona, Spain</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-status bg-dark"></div>
        <div class="card-body">
          <h4 class="mb-3">HTML & CSS lessons</h4>
          <div class="row">
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-calendar mr-1 text-muted w-4 text-center"></i> 22 Oct 2018</div>
            </div>
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-map-marker mr-1 text-muted w-4 text-center"></i> Barcelona, Spain</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-12"></div>
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-status card-status-left bg-primary"></div>
        <div class="card-body">
          <h4 class="mb-3">HTML & CSS lessons</h4>
          <div class="row">
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-calendar mr-1 text-muted w-4 text-center"></i> 6 Dec 2017</div>
            </div>
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-map-marker mr-1 text-muted w-4 text-center"></i> Warsaw, Poland</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-status card-status-left bg-secondary"></div>
        <div class="card-body">
          <h4 class="mb-3">HTML & CSS lessons</h4>
          <div class="row">
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-calendar mr-1 text-muted w-4 text-center"></i> 5 Jun 2019</div>
            </div>
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-map-marker mr-1 text-muted w-4 text-center"></i> London, UK</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-status card-status-left bg-success"></div>
        <div class="card-body">
          <h4 class="mb-3">HTML & CSS lessons</h4>
          <div class="row">
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-calendar mr-1 text-muted w-4 text-center"></i> 22 Oct 2018</div>
            </div>
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-map-marker mr-1 text-muted w-4 text-center"></i> Barcelona, Spain</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-status card-status-left bg-info"></div>
        <div class="card-body">
          <h4 class="mb-3">HTML & CSS lessons</h4>
          <div class="row">
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-calendar mr-1 text-muted w-4 text-center"></i> 22 Oct 2018</div>
            </div>
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-map-marker mr-1 text-muted w-4 text-center"></i> Barcelona, Spain</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-status card-status-left bg-warning"></div>
        <div class="card-body">
          <h4 class="mb-3">HTML & CSS lessons</h4>
          <div class="row">
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-calendar mr-1 text-muted w-4 text-center"></i> 22 Oct 2018</div>
            </div>
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-map-marker mr-1 text-muted w-4 text-center"></i> Barcelona, Spain</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-status card-status-left bg-danger"></div>
        <div class="card-body">
          <h4 class="mb-3">HTML & CSS lessons</h4>
          <div class="row">
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-calendar mr-1 text-muted w-4 text-center"></i> 22 Oct 2018</div>
            </div>
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-map-marker mr-1 text-muted w-4 text-center"></i> Barcelona, Spain</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-status card-status-left bg-dark"></div>
        <div class="card-body">
          <h4 class="mb-3">HTML & CSS lessons</h4>
          <div class="row">
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-calendar mr-1 text-muted w-4 text-center"></i> 22 Oct 2018</div>
            </div>
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-map-marker mr-1 text-muted w-4 text-center"></i> Barcelona, Spain</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-12"></div>
    <div class="col-lg-4">
      <div class="card card-profile">
        <div class="card-header" style="background-image: url(assets/images/demo/eberhard-grossgasteiger-311213-500.jpg);"></div>
        <div class="card-body text-center">
          <img class="card-profile-img" src="assets/images/avatars/male/16.jpg">
          <h3 class="mb-3">Peter Richards</h3>
          <p class="mb-4">
            Big belly rude boy, million dollar hustler. Unemployed.
          </p>
          <button class="btn btn-outline-primary btn-sm">
            <span class="icon icon-twitter-fill"></span> Follow
          </button>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4">
      <div class="card">
        <header class="card-header">
          <h4 class="card-title">Feeds</h4>
          <div class="card-options">
            <button type="button" class="btn btn-option" data-toggle="tooltip" title="Edit">
              <i class="si si-pencil"></i>
            </button>
            <div class="dropdown card-options-dropdown">
              <button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown"><i class="si si-options"></i></button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="si si-bell mr-3"></i>News
                </a>
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="si si-envelope mr-3"></i>Messages
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="si si-pencil mr-3"></i>Edit Profile
                </a>
              </div>
            </div>
          </div>
        </header>
        <div class="card-body">
          <div class="media mb-3">
            <div class="media-object mr-4"><span class="avatar avatar-md" style="background-image: url(assets/images/avatars/male/16.jpg)"></span></div>
            <div class="media-body">
              <h5 class="mb-0"><a href="javascript:void(0)" class="text-color">Some of the fantastic things people have had to say about Ooooh</a></h5>
              <small class="text-muted">2 days ago</small>
            </div>
          </div>
          <div class="media mb-3">
            <div class="media-object mr-4"><span class="avatar avatar-md" style="background-image: url(assets/images/avatars/male/26.jpg)"></span></div>
            <div class="media-body">
              <h5 class="mb-0"><a href="javascript:void(0)" class="text-color">Here are just some of the magazine reviews we have had</a></h5>
              <small class="text-muted">1 day ago</small>
            </div>
          </div>
          <div class="media mb-3">
            <div class="media-object mr-4"><span class="avatar avatar-md" style="background-image: url(assets/images/avatars/female/7.jpg)"></span></div>
            <div class="media-body">
              <h5 class="mb-0"><a href="javascript:void(0)" class="text-color">Lorem ipsum dolor amet, consectetur adipisicing elit.</a></h5>
              <small class="text-muted">2 days ago</small>
            </div>
          </div>
          <div class="media mb-3">
            <div class="media-object mr-4"><span class="avatar avatar-md" style="background-image: url(assets/images/avatars/female/17.jpg)"></span></div>
            <div class="media-body">
              <h5 class="mb-0"><a href="javascript:void(0)" class="text-color">“It’s just brilliant. I will recommend it to everyone!”</a></h5>
              <small class="text-muted">2 mins ago</small>
            </div>
          </div>
          <div class="media">
            <div class="media-object mr-4"><span class="avatar avatar-md" style="background-image: url(assets/images/avatars/male/30.jpg)"></span></div>
            <div class="media-body">
              <h5 class="mb-0"><a href="javascript:void(0)" class="text-color">John has just started working on the project</a></h5>
              <small class="text-muted">right now</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4">
      <div class="card">
        <img class="card-img-top" src="assets/images/demo/grant-ritchie-338179-500.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group card-list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
          <a href="javascript:void(0)" class="card-link">Card link</a>
          <a href="javascript:void(0)" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            Card with header content
          </div>
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid architecto commodi dolorum nam odio perspiciatis quo sapiente vitae voluptatem? Accusamus beatae distinctio dolores laborum nobis, obcaecati odio quia reprehenderit.
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores atque beatae commodi, deserunt dolores eligendi esse est harum maxime nesciunt non nostrum quibusdam quisquam ratione repudiandae saepe soluta sunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores atque beatae commodi, deserunt dolores eligendi esse est harum maxime nesciunt non nostrum quibusdam quisquam ratione repudiandae saepe soluta sunt.
        </div>
      </div>
    </div>
    <!-- /col -->
  </div>
</div>
{% endblock %}
