{# 
  Nunjucks Templating! 
  Homepage: https://mozilla.github.io/nunjucks/ 
  Docs: https://mozilla.github.io/nunjucks/api.html 
#}
<!-- 模版 -->
{% extends '_layouts/application.html' %}
<!-- 页面标题 -->
{% block title %}{{ global.title }} | Feeds{% endblock %}
<!-- 面包屑导航 -->
{% block breadcrumb %}
<section class="page-header">
  <div class="container">
    <h1 class="page-title">Feeds</h1>
  </div>
</section>
{% endblock %}
<!-- 主体内容 -->
{% block content %}
<div class="container">
  <h3>图片排版,支持2-9张图</h3>
  <div class="figure-feeds">
    <ul>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
    </ul>
  </div>
  <h3 class="mt-5">3张图</h3>
  <div class="figure-feeds">
    <ul>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
    </ul>
  </div>
  <h3 class="mt-5">4张图</h3>
  <div class="figure-feeds">
    <ul>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
    </ul>
  </div>
  <h3 class="mt-5">5张图</h3>
  <div class="figure-feeds">
    <ul>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
    </ul>
  </div>
  <h3 class="mt-5">6张图</h3>
  <div class="figure-feeds">
    <ul>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
    </ul>
  </div>
  <h3 class="mt-5">7张图</h3>
  <div class="figure-feeds">
    <ul>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
    </ul>
  </div>
  <h3 class="mt-5">8张图</h3>
  <div class="figure-feeds">
    <ul>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
    </ul>
  </div>
  <h3 class="mt-5">9张图</h3>
  <div class="figure-feeds">
    <ul>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
      <li>
        <span style="background-image:url(assets/images/demo/adrian-infernus-281832-500.jpg);background-repeat:no-repeat;background-size:cover;"></span>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
