{# 
  Nunjucks Templating! 
  Homepage: https://mozilla.github.io/nunjucks/ 
  Docs: https://mozilla.github.io/nunjucks/api.html 
#}
<!-- 模版 -->
{% extends '_layouts/application.html' %}
<!-- 页面标题 -->
{% block title %}{{ global.title }} | Entry Cards{% endblock %}
<!-- 面包屑导航 -->
{% block breadcrumb %}
<section class="page-header">
  <div class="container">
    <h1 class="page-title">Entry Cards</h1>
  </div>
</section>
{% endblock %}
<!-- 主体内容 -->
{% block content %}
<div class="container">
  <div class="row row-cards">
    <div class="col-lg-4 col-md-6">
      <div class="card text-white bg-primary">
        <div class="card-body">
          <h4 class="card-title">Primary card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4 col-md-6">
      <div class="card text-white bg-secondary">
        <div class="card-body">
          <h4 class="card-title">Secondary card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4 col-md-6">
      <div class="card text-white bg-success">
        <div class="card-body">
          <h4 class="card-title">Success card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4 col-md-6">
      <div class="card text-white bg-info">
        <div class="card-body">
          <h4 class="card-title">Info card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4 col-md-6">
      <div class="card text-white bg-warning">
        <div class="card-body">
          <h4 class="card-title">Warning card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4 col-md-6">
      <div class="card text-white bg-danger">
        <div class="card-body">
          <h4 class="card-title">Danger card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4 col-md-6">
      <div class="card text-white bg-dark">
        <div class="card-body">
          <h4 class="card-title">Dark card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-12"></div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-cover text-white bg-primary" style="background-image: url(assets/images/demo/teddy-kelley-109202-500.jpg);">
        <div class="card-body">
          <h4 class="card-title">Primary card title</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi fugiat fugit numquam quae rerum sed ut! Ad, blanditiis consequatur corporis cumque deserunt dolorem id perferendis recusandae repellendus sed, suscipit vitae.</p>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4 col-md-6">
      <div class="card card-cover text-white bg-secondary" style="background-image: url(assets/images/demo/teddy-kelley-109202-500.jpg);">
        <div class="card-body">
          <h4 class="card-title">Secondary card title</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi fugiat fugit numquam quae rerum sed ut! Ad, blanditiis consequatur corporis cumque deserunt dolorem id perferendis recusandae repellendus sed, suscipit vitae.</p>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4 col-md-6">
      <div class="card card-cover text-white bg-success" style="background-image: url(assets/images/demo/teddy-kelley-109202-500.jpg);">
        <div class="card-body">
          <h4 class="card-title">Success card title</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi fugiat fugit numquam quae rerum sed ut! Ad, blanditiis consequatur corporis cumque deserunt dolorem id perferendis recusandae repellendus sed, suscipit vitae.</p>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4 col-md-6">
      <div class="card card-cover text-white bg-info" style="background-image: url(assets/images/demo/teddy-kelley-109202-500.jpg);">
        <div class="card-body">
          <h4 class="card-title">Info card title</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi fugiat fugit numquam quae rerum sed ut! Ad, blanditiis consequatur corporis cumque deserunt dolorem id perferendis recusandae repellendus sed, suscipit vitae.</p>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4 col-md-6">
      <div class="card card-cover text-white bg-warning" style="background-image: url(assets/images/demo/teddy-kelley-109202-500.jpg);">
        <div class="card-body">
          <h4 class="card-title">Warning card title</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi fugiat fugit numquam quae rerum sed ut! Ad, blanditiis consequatur corporis cumque deserunt dolorem id perferendis recusandae repellendus sed, suscipit vitae.</p>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4 col-md-6">
      <div class="card card-cover text-white bg-danger" style="background-image: url(assets/images/demo/teddy-kelley-109202-500.jpg);">
        <div class="card-body">
          <h4 class="card-title">Danger card title</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi fugiat fugit numquam quae rerum sed ut! Ad, blanditiis consequatur corporis cumque deserunt dolorem id perferendis recusandae repellendus sed, suscipit vitae.</p>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4 col-md-6">
      <div class="card card-cover text-white bg-dark" style="background-image: url(assets/images/demo/teddy-kelley-109202-500.jpg);">
        <div class="card-body">
          <h4 class="card-title">Dark card title</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi fugiat fugit numquam quae rerum sed ut! Ad, blanditiis consequatur corporis cumque deserunt dolorem id perferendis recusandae repellendus sed, suscipit vitae.</p>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-12"></div>
    <div class="col-lg-4 col-md-6">
      <div class="card border-primary">
        <div class="card-body">
          <h4 class="card-title">Primary card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4 col-md-6">
      <div class="card border-secondary">
        <div class="card-body">
          <h4 class="card-title">Secondary card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4 col-md-6">
      <div class="card border-success">
        <div class="card-body">
          <h4 class="card-title">Success card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4 col-md-6">
      <div class="card border-info">
        <div class="card-body">
          <h4 class="card-title">Info card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4 col-md-6">
      <div class="card border-warning">
        <div class="card-body">
          <h4 class="card-title">Warning card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4 col-md-6">
      <div class="card border-danger">
        <div class="card-body">
          <h4 class="card-title">Danger card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4 col-md-6">
      <div class="card border-dark">
        <div class="card-body">
          <h4 class="card-title">Dark card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-12"></div>
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-status bg-primary"></div>
        <div class="card-body">
          <h4 class="mb-3">HTML & CSS lessons</h4>
          <div class="row">
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-calendar mr-1 text-muted w-4 text-center"></i> 6 Dec 2017</div>
            </div>
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-map-marker mr-1 text-muted w-4 text-center"></i> Warsaw, Poland</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-status bg-secondary"></div>
        <div class="card-body">
          <h4 class="mb-3">HTML & CSS lessons</h4>
          <div class="row">
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-calendar mr-1 text-muted w-4 text-center"></i> 5 Jun 2019</div>
            </div>
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-map-marker mr-1 text-muted w-4 text-center"></i> London, UK</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-status bg-success"></div>
        <div class="card-body">
          <h4 class="mb-3">HTML & CSS lessons</h4>
          <div class="row">
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-calendar mr-1 text-muted w-4 text-center"></i> 22 Oct 2018</div>
            </div>
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-map-marker mr-1 text-muted w-4 text-center"></i> Barcelona, Spain</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-status bg-info"></div>
        <div class="card-body">
          <h4 class="mb-3">HTML & CSS lessons</h4>
          <div class="row">
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-calendar mr-1 text-muted w-4 text-center"></i> 22 Oct 2018</div>
            </div>
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-map-marker mr-1 text-muted w-4 text-center"></i> Barcelona, Spain</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-status bg-warning"></div>
        <div class="card-body">
          <h4 class="mb-3">HTML & CSS lessons</h4>
          <div class="row">
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-calendar mr-1 text-muted w-4 text-center"></i> 22 Oct 2018</div>
            </div>
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-map-marker mr-1 text-muted w-4 text-center"></i> Barcelona, Spain</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-status bg-danger"></div>
        <div class="card-body">
          <h4 class="mb-3">HTML & CSS lessons</h4>
          <div class="row">
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-calendar mr-1 text-muted w-4 text-center"></i> 22 Oct 2018</div>
            </div>
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-map-marker mr-1 text-muted w-4 text-center"></i> Barcelona, Spain</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-status bg-dark"></div>
        <div class="card-body">
          <h4 class="mb-3">HTML & CSS lessons</h4>
          <div class="row">
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-calendar mr-1 text-muted w-4 text-center"></i> 22 Oct 2018</div>
            </div>
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-map-marker mr-1 text-muted w-4 text-center"></i> Barcelona, Spain</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-status bg-stripe"></div>
        <div class="card-body">
          <h4 class="mb-3">HTML & CSS lessons</h4>
          <div class="row">
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-calendar mr-1 text-muted w-4 text-center"></i> 22 Oct 2018</div>
            </div>
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-map-marker mr-1 text-muted w-4 text-center"></i> Barcelona, Spain</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-12"></div>
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-status card-status-left bg-primary"></div>
        <div class="card-body">
          <h4 class="mb-3">HTML & CSS lessons</h4>
          <div class="row">
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-calendar mr-1 text-muted w-4 text-center"></i> 6 Dec 2017</div>
            </div>
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-map-marker mr-1 text-muted w-4 text-center"></i> Warsaw, Poland</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-status card-status-left bg-secondary"></div>
        <div class="card-body">
          <h4 class="mb-3">HTML & CSS lessons</h4>
          <div class="row">
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-calendar mr-1 text-muted w-4 text-center"></i> 5 Jun 2019</div>
            </div>
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-map-marker mr-1 text-muted w-4 text-center"></i> London, UK</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-status card-status-left bg-success"></div>
        <div class="card-body">
          <h4 class="mb-3">HTML & CSS lessons</h4>
          <div class="row">
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-calendar mr-1 text-muted w-4 text-center"></i> 22 Oct 2018</div>
            </div>
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-map-marker mr-1 text-muted w-4 text-center"></i> Barcelona, Spain</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-status card-status-left bg-info"></div>
        <div class="card-body">
          <h4 class="mb-3">HTML & CSS lessons</h4>
          <div class="row">
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-calendar mr-1 text-muted w-4 text-center"></i> 22 Oct 2018</div>
            </div>
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-map-marker mr-1 text-muted w-4 text-center"></i> Barcelona, Spain</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-status card-status-left bg-warning"></div>
        <div class="card-body">
          <h4 class="mb-3">HTML & CSS lessons</h4>
          <div class="row">
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-calendar mr-1 text-muted w-4 text-center"></i> 22 Oct 2018</div>
            </div>
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-map-marker mr-1 text-muted w-4 text-center"></i> Barcelona, Spain</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-status card-status-left bg-danger"></div>
        <div class="card-body">
          <h4 class="mb-3">HTML & CSS lessons</h4>
          <div class="row">
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-calendar mr-1 text-muted w-4 text-center"></i> 22 Oct 2018</div>
            </div>
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-map-marker mr-1 text-muted w-4 text-center"></i> Barcelona, Spain</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-status card-status-left bg-dark"></div>
        <div class="card-body">
          <h4 class="mb-3">HTML & CSS lessons</h4>
          <div class="row">
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-calendar mr-1 text-muted w-4 text-center"></i> 22 Oct 2018</div>
            </div>
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-map-marker mr-1 text-muted w-4 text-center"></i> Barcelona, Spain</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-status card-status-left bg-stripe"></div>
        <div class="card-body">
          <h4 class="mb-3">HTML & CSS lessons</h4>
          <div class="row">
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-calendar mr-1 text-muted w-4 text-center"></i> 22 Oct 2018</div>
            </div>
            <div class="col-auto">
              <div class="text-muted-dark"><i class="mdi mdi-map-marker mr-1 text-muted w-4 text-center"></i> Barcelona, Spain</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-12"></div>
    <div class="col-lg-4">
      <div class="card bg-dark text-white">
        <img class="card-img" src="assets/images/demo/teddy-kelley-109202-500.jpg" alt="Card image">
        <div class="card-img-overlay justify-content-end">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card bg-dark text-white">
        <img class="card-img" src="assets/images/demo/teddy-kelley-109202-500.jpg" alt="Card image">
        <div class="card-img-overlay justify-content-center">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card bg-dark text-white">
        <img class="card-img" src="assets/images/demo/teddy-kelley-109202-500.jpg" alt="Card image">
        <div class="card-img-overlay">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card text-white">
        <img class="card-img" src="assets/images/demo/teddy-kelley-109202-500.jpg" alt="Card image">
        <div class="card-img-overlay justify-content-center bg-primary">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card text-white">
        <img class="card-img" src="assets/images/demo/teddy-kelley-109202-500.jpg" alt="Card image">
        <div class="card-img-overlay justify-content-center bg-secondary">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card text-white">
        <img class="card-img" src="assets/images/demo/teddy-kelley-109202-500.jpg" alt="Card image">
        <div class="card-img-overlay justify-content-center bg-success">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card text-white">
        <img class="card-img" src="assets/images/demo/teddy-kelley-109202-500.jpg" alt="Card image">
        <div class="card-img-overlay justify-content-center bg-info">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card text-white">
        <img class="card-img" src="assets/images/demo/teddy-kelley-109202-500.jpg" alt="Card image">
        <div class="card-img-overlay justify-content-center bg-warning">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card text-white">
        <img class="card-img" src="assets/images/demo/teddy-kelley-109202-500.jpg" alt="Card image">
        <div class="card-img-overlay justify-content-center bg-danger">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card text-white">
        <img class="card-img" src="assets/images/demo/teddy-kelley-109202-500.jpg" alt="Card image">
        <div class="card-img-overlay justify-content-center bg-dark">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card text-white">
        <img class="card-img" src="assets/images/demo/teddy-kelley-109202-500.jpg" alt="Card image">
        <div class="card-overlay">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col-12"></div>
    <div class="col-lg-4">
      <div class="card text-white">
        <div class="card-media">
          <a href="#" target="_blank" class="media-content" style="background-image:url(assets/images/demo/teddy-kelley-109202-500.jpg)">
            <div class="media-overlay"></div>
          </a>
        </div>
        <div class="card-overlay">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col-12"></div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Card with options</h4>
          <div class="card-options">
            <button type="button" class="btn btn-option" data-toggle="tooltip" title="Edit">
              <i class="icon icon-pencil-line"></i>
            </button>
            <div class="dropdown card-options-dropdown">
              <button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown"><i class="icon icon-more-2-line"></i></button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="icon icon-notification-line mr-3"></i>News
                </a>
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="icon icon-chat-1-line mr-3"></i>Messages
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="icon icon-pencil-line mr-3"></i>Edit Profile
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi fugiat fugit numquam quae rerum sed ut! Ad, blanditiis consequatur corporis cumque deserunt dolorem id perferendis recusandae repellendus sed, suscipit vitae.
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            Card with header content
          </div>
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid architecto commodi dolorum nam odio perspiciatis quo sapiente vitae voluptatem? Accusamus beatae distinctio dolores laborum nobis, obcaecati odio quia reprehenderit.
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid architecto commodi dolorum nam odio perspiciatis quo sapiente vitae voluptatem? Accusamus beatae distinctio dolores laborum nobis, obcaecati odio quia reprehenderit.
        </div>
        <div class="card-footer">
          Card with footer content
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores atque beatae commodi, deserunt dolores eligendi esse est harum maxime nesciunt non nostrum quibusdam quisquam ratione repudiandae saepe soluta sunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores atque beatae commodi, deserunt dolores eligendi esse est harum maxime nesciunt non nostrum quibusdam quisquam ratione repudiandae saepe soluta sunt.
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <h6 class="card-subtitle">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div>
            <a href="javascript:void(0)" class="card-link">Card link</a>
            <a href="javascript:void(0)" class="card-link">Another link</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4">
      <div class="card card-aside">
        <div class="card-aside-column" style="background-image: url(assets/images/demo/teddy-kelley-109202-500.jpg)"></div>
        <div class="card-body">
          <h4 class="card-title">Card with aside</h4>
          <p>
            Lorem ipsum dolor sit amet.
          </p>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-12"></div>
    <div class="col-lg-4">
      <div class="card">
        <img class="card-img-top" src="assets/images/demo/tim-bogdanov-97988-500.jpg" alt="Card image cap">
        <ul class="list-group card-list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4">
      <div class="card card-profile">
        <div class="card-media holder-2x1 flex-fill">
          <div class="media-content" style="background-image:url(assets/images/demo/eberhard-grossgasteiger-311213-500.jpg)">
          </div>
        </div>
        <div class="card-body text-center">
          <div class="d-flex flex-column align-items-center pb-5" style="margin-top: -3.5rem">
            <div class="avatar avatar-xxl card-photo" style="background-image: url(assets/images/avatars/female/18.jpg);border: 4px solid #fff;"></div>
            <div class="text">
              <h3 class="mb-3">Peter Richards</h3>
              <p class="mb-4">
                Big belly rude boy, million dollar hustler. Unemployed.
              </p>
            </div>
            <button class="btn btn-outline-primary btn-sm">
              <span class="icon icon-twitter-fill"></span> Follow
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4">
      <div class="card">
        <header class="card-header">
          <h4 class="card-title">Feeds</h4>
          <div class="card-options">
            <button type="button" class="btn btn-option" data-toggle="tooltip" title="Edit">
              <i class="si si-pencil"></i>
            </button>
            <div class="dropdown card-options-dropdown">
              <button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown"><i class="si si-options"></i></button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="si si-bell mr-3"></i>News
                </a>
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="si si-envelope mr-3"></i>Messages
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="si si-pencil mr-3"></i>Edit Profile
                </a>
              </div>
            </div>
          </div>
        </header>
        <div class="card-body">
          <div class="media mb-3">
            <div class="media-object mr-4"><span class="avatar avatar-md" style="background-image: url(assets/images/avatars/male/16.jpg)"></span></div>
            <div class="media-body">
              <h5 class="mb-0"><a href="javascript:void(0)" class="text-color">Some of the fantastic things people have had to say about Ooooh</a></h5>
              <small class="text-muted">2 days ago</small>
            </div>
          </div>
          <div class="media mb-3">
            <div class="media-object mr-4"><span class="avatar avatar-md" style="background-image: url(assets/images/avatars/male/26.jpg)"></span></div>
            <div class="media-body">
              <h5 class="mb-0"><a href="javascript:void(0)" class="text-color">Here are just some of the magazine reviews we have had</a></h5>
              <small class="text-muted">1 day ago</small>
            </div>
          </div>
          <div class="media mb-3">
            <div class="media-object mr-4"><span class="avatar avatar-md" style="background-image: url(assets/images/avatars/female/7.jpg)"></span></div>
            <div class="media-body">
              <h5 class="mb-0"><a href="javascript:void(0)" class="text-color">Lorem ipsum dolor amet, consectetur adipisicing elit.</a></h5>
              <small class="text-muted">2 days ago</small>
            </div>
          </div>
          <div class="media mb-3">
            <div class="media-object mr-4"><span class="avatar avatar-md" style="background-image: url(assets/images/avatars/female/17.jpg)"></span></div>
            <div class="media-body">
              <h5 class="mb-0"><a href="javascript:void(0)" class="text-color">“It’s just brilliant. I will recommend it to everyone!”</a></h5>
              <small class="text-muted">2 mins ago</small>
            </div>
          </div>
          <div class="media">
            <div class="media-object mr-4"><span class="avatar avatar-md" style="background-image: url(assets/images/avatars/male/30.jpg)"></span></div>
            <div class="media-body">
              <h5 class="mb-0"><a href="javascript:void(0)" class="text-color">John has just started working on the project</a></h5>
              <small class="text-muted">right now</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4">
      <div class="card">
        <img class="card-img-top" src="assets/images/demo/grant-ritchie-338179-500.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group card-list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
          <a href="javascript:void(0)" class="card-link">Card link</a>
          <a href="javascript:void(0)" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Client card</h3>
          <div class="card-options">
            <button type="button" class="btn btn-option" data-toggle="tooltip" title="Edit">
              <i class="si si-pencil"></i>
            </button>
            <div class="dropdown card-options-dropdown">
              <button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown"><i class="si si-options"></i></button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="si si-bell mr-3"></i>News
                </a>
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="si si-envelope mr-3"></i>Messages
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="si si-pencil mr-3"></i>Edit Profile
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-map card-map-placeholder" style="background-image: url(assets/images/demo/staticmap.png)"></div>
        <div class="card-body">
          <div class="media mb-5">
            <img class="d-flex mr-5 rounded" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2264%22%20height%3D%2264%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15ec911398e%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15ec911398e%22%3E%3Crect%20width%3D%2264%22%20height%3D%2264%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2213.84375%22%20y%3D%2236.65%22%3E64x64%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Generic placeholder image">
            <div class="media-body">
              <h5>Axa Global Group</h5>
              <address class="text-muted small">
                1290 Avenua of The Americas
                <br> New York, NY 101040105
              </address>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="h6">Relationship</div>
              <p>Client</p>
            </div>
            <div class="col-6">
              <div class="h6">Business Type</div>
              <p>Insurance Company</p>
            </div>
            <div class="col-6">
              <div class="h6">Website</div>
              <p><a href="javascript:void(0)">http://www.axa.com</a></p>
            </div>
            <div class="col-6">
              <div class="h6">Office Phone</div>
              <p>+123456789</p>
            </div>
          </div>
          <div class="h6">Description</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dignissimos doloribus eum fugiat itaque laboriosam maiores nisi nostrum perspiciatis vero.</p>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4">
      <div class="card">
        <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <div class="card-subtitle">Lorem ipsum dolor sit amet.</div>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="media">
            <span class="avatar avatar-xxl mr-5" style="background-image: url(assets/images/avatars/male/21.jpg)"></span>
            <div class="media-body">
              <h4 class="m-0">Juan Hernandez</h4>
              <p class="text-muted mb-0">Webdeveloper</p>
              <ul class="social-links list-inline mb-0 mt-2">
                <li class="list-inline-item">
                  <a href="javascript:void(0)" title="Facebook" data-toggle="tooltip"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="javascript:void(0)" title="Twitter" data-toggle="tooltip"><i class="icon icon-twitter-fill"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="javascript:void(0)" title="1234567890" data-toggle="tooltip"><i class="fa fa-phone"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="javascript:void(0)" title="@skypename" data-toggle="tooltip"><i class="fa fa-skype"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-12"></div>
    <div class="col-lg-4">
      <div class="card">
        <a href="#"><img class="card-img-top" src="assets/images/demo/adrian-infernus-281832-500.jpg" alt="And this isn't my nose. This is a false one."></a>
        <div class="card-body">
          <div class="d-flex align-items-end pb-5" style="margin-top: -3.5rem">
            <div class="avatar avatar-xxl card-photo" style="background-image: url(assets/images/avatars/female/18.jpg);border: 4px solid #fff;"></div>
            <div class="text ml-3">
              <a href="./profile.html" class="text-default">Rose Bradley</a>
              <small class="d-block text-muted">3 days ago</small>
            </div>
          </div>
          <h4><a href="#">And this isn't my nose. This is a false one.</a></h4>
          <div class="text-muted">Look, my liege! The Knights Who Say Ni demand a sacrifice! …Are you suggesting that coconuts migr...</div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4">
      <div class="card">
        <a href="#"><img class="card-img-top" src="assets/images/demo/adrian-infernus-281832-500.jpg" alt="And this isn't my nose. This is a false one."></a>
        <div class="card-body">
          <div class="d-flex align-items-end pb-5" style="margin-top: -3.5rem">
            <div class="text">
              <a href="./profile.html" class="text-default">Rose Bradley</a>
              <small class="d-block text-muted">3 days ago</small>
            </div>
            <div class="avatar avatar-xxl card-photo ml-auto" style="background-image: url(assets/images/avatars/female/18.jpg);border: 4px solid #fff;"></div>
          </div>
          <h4><a href="#">And this isn't my nose. This is a false one.</a></h4>
          <div class="text-muted">Look, my liege! The Knights Who Say Ni demand a sacrifice! …Are you suggesting that coconuts migr...</div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4">
      <div class="card">
        <a href="#"><img class="card-img-top" src="assets/images/demo/adrian-infernus-281832-500.jpg" alt="And this isn't my nose. This is a false one."></a>
        <div class="card-body">
          <div class="d-flex flex-column align-items-center text-center pb-5" style="margin-top: -3.5rem">
            <div class="avatar avatar-xxl card-photo" style="background-image: url(assets/images/avatars/female/18.jpg);border: 4px solid #fff;"></div>
            <div class="text">
              <a href="./profile.html" class="text-default">Rose Bradley</a>
              <small class="d-block text-muted">3 days ago</small>
            </div>
          </div>
          <h4><a href="#">And this isn't my nose. This is a false one.</a></h4>
          <div class="text-muted">Look, my liege! The Knights Who Say Ni demand a sacrifice! …Are you suggesting that coconuts migr...</div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4">
      <div class="card">
        <a href="#"><img class="card-img-top" src="assets/images/demo/adrian-infernus-281832-500.jpg" alt="And this isn't my nose. This is a false one."></a>
        <div class="card-body">
          <div class="d-flex" style="margin-top: -3.0rem">
            <div class="avatar avatar-md card-photo" style="background-image: url(assets/images/avatars/female/18.jpg);border: 4px solid #fff;"></div>
          </div>
          <h4><a href="#">And this isn't my nose. This is a false one.</a></h4>
          <div class="text-muted">Look, my liege! The Knights Who Say Ni demand a sacrifice! …Are you suggesting that coconuts migr...</div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4">
      <div class="card">
        <a href="#"><img class="card-img-top" src="assets/images/demo/adrian-infernus-281832-500.jpg" alt="And this isn't my nose. This is a false one."></a>
        <div class="card-body">
          <div class="d-flex justify-content-center" style="margin-top: -3.5rem">
            <div class="avatar avatar-xl card-photo" style="background-image: url(assets/images/avatars/female/18.jpg);border: 4px solid #fff;"></div>
          </div>
          <h4><a href="#">And this isn't my nose. This is a false one.</a></h4>
          <div class="text-muted">Look, my liege! The Knights Who Say Ni demand a sacrifice! …Are you suggesting that coconuts migr...</div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4">
      <div class="card">
        <a href="#"><img class="card-img-top" src="assets/images/demo/adrian-infernus-281832-500.jpg" alt="And this isn't my nose. This is a false one."></a>
        <div class="card-body">
          <div class="d-flex justify-content-end" style="margin-top: -3.0rem">
            <div class="avatar avatar-md card-photo" style="background-image: url(assets/images/avatars/female/18.jpg);border: 4px solid #fff;"></div>
          </div>
          <h4><a href="#">And this isn't my nose. This is a false one.</a></h4>
          <div class="text-muted">Look, my liege! The Knights Who Say Ni demand a sacrifice! …Are you suggesting that coconuts migr...</div>
        </div>
      </div>
    </div>
    <!-- /col -->
  </div>
</div>
{% endblock %}
