{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

<!-- 模版 -->
{% extends '_layouts/application.html' %}

<!-- 页面标题 -->
{% block title %}{{ title }} | Skew Background{% endblock %}

<!-- 自定义样式 -->
{% block style %}
{% endblock %}

<!-- 面包屑导航 -->
{% block breadcrumb %}
<section class="content-header">
  <h1>
    Blank page
    <small>it all starts here</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Examples</a></li>
    <li class="active">Blank page</li>
  </ol>
</section>
{% endblock %}

<!-- 主体内容 -->
{% block content %}
<div class="bg-success h-6"></div>
<div class="bg-white bg-skew h-6"></div>
<div class="bg-danger bg-skew h-6"></div>
<div class="bg-black bg-skew h-6"></div>
{% endblock %}