{# 
  Nunjucks Templating! 
  Homepage: https://mozilla.github.io/nunjucks/ 
  Docs: https://mozilla.github.io/nunjucks/api.html 
#}
<!-- 模版 -->
{% extends '_layouts/application.html' %}
<!-- 页面标题 -->
{% block title %}{{ global.title }} | Form Cards{% endblock %}
<!-- 面包屑导航 -->
{% block breadcrumb %}
<section class="page-header">
  <div class="container">
    <h1 class="page-title">Form Cards</h1>
  </div>
</section>
{% endblock %}
<!-- 主体内容 -->
{% block content %}
<div class="container">
  <div class="row row-cards">
    <div class="col-lg-6">
      <form class="card" action="" method="post">
        <div class="card-body p-6">
          <div class="card-title">Login to your account</div>
          <div class="form-group">
            <label class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label class="form-label">
              Password
              <a href="./forgot-password.html" class="float-right small">I forgot password</a>
            </label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" />
              <span class="custom-control-label">Remember me</span>
            </label>
          </div>
          <div class="form-footer">
            <button type="submit" class="btn btn-primary btn-block">Sign in</button>
          </div>
        </div>
      </form>
      <div class="text-center text-muted">
        Don't have account yet? <a href="./register.html">Sign up</a>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-6">
      <form class="card" action="" method="post">
        <div class="card-body p-6">
          <div class="card-title">Forgot password</div>
          <p class="text-muted">Enter your email address and your password will be reset and emailed to you.</p>
          <div class="form-group">
            <label class="form-label" for="exampleInputEmail2">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-footer">
            <button type="submit" class="btn btn-primary btn-block">Send me new password</button>
          </div>
        </div>
      </form>
      <div class="text-center text-muted">
        Forget it, <a href="./login.html">send me back</a> to the sign in screen.
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-6">
      <form class="card" action="" method="post">
        <div class="card-body p-6">
          <div class="card-title">Create new account</div>
          <div class="form-group">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" placeholder="Enter name">
          </div>
          <div class="form-group">
            <label class="form-label">Email address</label>
            <input type="email" class="form-control" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" placeholder="Password">
          </div>
          <div class="form-group">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" />
              <span class="custom-control-label">Agree the <a href="terms.html">terms and policy</a></span>
            </label>
          </div>
          <div class="form-footer">
            <button type="submit" class="btn btn-primary btn-block">Create new account</button>
          </div>
        </div>
      </form>
      <div class="text-center text-muted">
        Already have account? <a href="./login.html">Sign in</a>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <form action="">
            <div class="form-group">
              <label class="form-label">Search</label>
              <input type="text" class="form-control" />
            </div>
            <div class="form-group">
              <label class="form-label">Ratios</label>
              <div class="row align-items-center">
                <div class="col">
                  <input type="range" class="form-control custom-range" step="5" min="0" max="50">
                </div>
                <div class="col-auto">
                  <input type="number" class="form-control w-8" value="45" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="form-label">Intensity</label>
              <div class="selectgroup w-100">
                <label class="selectgroup-item">
                  <input type="radio" name="intensity" value="low" class="selectgroup-input" checked>
                  <span class="selectgroup-button">Low</span>
                </label>
                <label class="selectgroup-item">
                  <input type="radio" name="intensity" value="medium" class="selectgroup-input">
                  <span class="selectgroup-button">Medium</span>
                </label>
                <label class="selectgroup-item">
                  <input type="radio" name="intensity" value="high" class="selectgroup-input">
                  <span class="selectgroup-button">High</span>
                </label>
              </div>
            </div>
            <div class="form-group">
              <label class="form-label">Size</label>
              <div class="selectgroup w-100">
                <label class="selectgroup-item">
                  <input type="checkbox" name="value" value="50" class="selectgroup-input" checked>
                  <span class="selectgroup-button">S</span>
                </label>
                <label class="selectgroup-item">
                  <input type="checkbox" name="value" value="100" class="selectgroup-input">
                  <span class="selectgroup-button">M</span>
                </label>
                <label class="selectgroup-item">
                  <input type="checkbox" name="value" value="150" class="selectgroup-input">
                  <span class="selectgroup-button">L</span>
                </label>
                <label class="selectgroup-item">
                  <input type="checkbox" name="value" value="200" class="selectgroup-input">
                  <span class="selectgroup-button">XL</span>
                </label>
              </div>
            </div>
            <div class="form-group">
              <label class="form-label">Company</label>
              <input type="text" class="form-control" placeholder="e.g. ACME Technology" />
            </div>
            <div class="form-group">
              <label class="form-label">Add to list</label>
              <select class="form-control custom-select">
                <option>Base</option>
                <option>Custom</option>
              </select>
            </div>
            <div class="form-footer text-right">
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">My Profile</h3>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-auto">
                <span class="avatar avatar-xl" style="background-image: url(assets/images/avatars/female/9.jpg)"></span>
              </div>
              <div class="col">
                <div class="form-group">
                  <label class="form-label">Email-Address</label>
                  <input class="form-control" placeholder="your-email@domain.com" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="form-label">Bio</label>
              <textarea class="form-control" rows="5">Big belly rude boy, million dollar hustler. Unemployed.</textarea>
            </div>
            <div class="form-group">
              <label class="form-label">Email-Address</label>
              <input class="form-control" placeholder="your-email@domain.com" />
            </div>
            <div class="form-group">
              <label class="form-label">Password</label>
              <input type="password" class="form-control" value="password" />
            </div>
            <div class="form-footer">
              <button class="btn btn-primary btn-block">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">HTTP Request</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="form-group col-sm-4 col-md-2">
              <label class="form-label">
                Method <span class="form-required">*</span>
              </label>
              <select class="custom-select">
                <option value="GET">GET</option>
                <option value="POST">POST</option>
                <option value="PUT">PUT</option>
                <option value="HEAD">HEAD</option>
                <option value="DELETE">DELETE</option>
                <option value="PATCH">PATCH</option>
              </select>
            </div>
            <div class="form-group col-sm-8 col-md-10">
              <label class="form-label">
                URL <span class="form-required">*</span>
              </label>
              <input name="url" type="text" class="form-control" value="https://content.googleapis.com/discovery/v1/apis/surveys/v2/rest">
            </div>
          </div>
          <div class="form-label">Assertions</div>
          <div class="table-responsive">
            <table class="table mb-0">
              <thead>
                <tr>
                  <th class="pl-0">Source</th>
                  <th>Property</th>
                  <th>Comparison</th>
                  <th class="pr-0">Target</th>
                </tr>
              </thead>
              <tr>
                <td class="pl-0">
                  <select class="custom-select">
                    <option value="STATUS_CODE" selected>Status code</option>
                    <option value="JSON_BODY">JSON body</option>
                    <option value="HEADERS">Headers</option>
                    <option value="TEXT_BODY">Text body</option>
                    <option value="RESPONSE_TIME">Response time</option>
                  </select>
                </td>
                <td>
                  <input type="text" class="form-control">
                </td>
                <td>
                  <select class="custom-select">
                    <option value="EQUALS" selected>Equals</option>
                    <option value="NOT_EQUALS">Not equals</option>
                    <option value="HAS_KEY">Has key</option>
                    <option value="NOT_HAS_KEY">Not has key</option>
                    <option value="HAS_VALUE">Has value</option>
                    <option value="NOT_HAS_VALUE">Not has value</option>
                    <option value="IS_EMPTY">Is empty</option>
                    <option value="NOT_EMPTY">Is not empty</option>
                    <option value="GREATER_THAN">Greater than</option>
                    <option value="LESS_THAN">Less than</option>
                  </select>
                </td>
                <td class="pr-0">
                  <input type="text" class="form-control" value="200">
                </td>
              </tr>
              <tr>
                <td class="pl-0">
                  <select class="custom-select">
                    <option value="STATUS_CODE">Status code</option>
                    <option value="JSON_BODY" selected>JSON body</option>
                    <option value="HEADERS">Headers</option>
                    <option value="TEXT_BODY">Text body</option>
                    <option value="RESPONSE_TIME">Response time</option>
                  </select>
                </td>
                <td>
                  <input type="text" class="form-control" value="parameters.alt.type">
                </td>
                <td>
                  <select class="custom-select">
                    <option value="EQUALS">Equals</option>
                    <option value="NOT_EQUALS">Not equals</option>
                    <option value="HAS_KEY">Has key</option>
                    <option value="NOT_HAS_KEY">Not has key</option>
                    <option value="HAS_VALUE" selected>Has value</option>
                    <option value="NOT_HAS_VALUE">Not has value</option>
                    <option value="IS_EMPTY">Is empty</option>
                    <option value="NOT_EMPTY">Is not empty</option>
                    <option value="GREATER_THAN">Greater than</option>
                    <option value="LESS_THAN">Less than</option>
                  </select>
                </td>
                <td class="pr-0">
                  <input type="text" class="form-control" value="string">
                </td>
              </tr>
              <tr>
                <td class="pl-0">
                  <select class="custom-select">
                    <option value="STATUS_CODE">Status code</option>
                    <option value="JSON_BODY">JSON body</option>
                    <option value="HEADERS">Headers</option>
                    <option value="TEXT_BODY">Text body</option>
                    <option value="RESPONSE_TIME" selected>Response time</option>
                  </select>
                </td>
                <td>
                  <input type="text" class="form-control">
                </td>
                <td>
                  <select class="custom-select">
                    <option value="EQUALS">Equals</option>
                    <option value="NOT_EQUALS">Not equals</option>
                    <option value="HAS_KEY">Has key</option>
                    <option value="NOT_HAS_KEY">Not has key</option>
                    <option value="HAS_VALUE">Has value</option>
                    <option value="NOT_HAS_VALUE">Not has value</option>
                    <option value="IS_EMPTY">Is empty</option>
                    <option value="NOT_EMPTY">Is not empty</option>
                    <option value="GREATER_THAN">Greater than</option>
                    <option value="LESS_THAN" selected>Less than</option>
                  </select>
                </td>
                <td class="pr-0">
                  <input type="text" class="form-control" value="500">
                </td>
              </tr>
              <tr>
                <td class="pl-0">
                  <select class="custom-select">
                    <option value="STATUS_CODE">Status code</option>
                    <option value="JSON_BODY">JSON body</option>
                    <option value="HEADERS" selected>Headers</option>
                    <option value="TEXT_BODY">Text body</option>
                    <option value="RESPONSE_TIME">Response time</option>
                  </select>
                </td>
                <td>
                  <input type="text" class="form-control" value="content-type">
                </td>
                <td>
                  <select class="custom-select">
                    <option value="EQUALS" selected>Equals</option>
                    <option value="NOT_EQUALS">Not equals</option>
                    <option value="HAS_KEY">Has key</option>
                    <option value="NOT_HAS_KEY">Not has key</option>
                    <option value="HAS_VALUE">Has value</option>
                    <option value="NOT_HAS_VALUE">Not has value</option>
                    <option value="IS_EMPTY">Is empty</option>
                    <option value="NOT_EMPTY">Is not empty</option>
                    <option value="GREATER_THAN">Greater than</option>
                    <option value="LESS_THAN">Less than</option>
                  </select>
                </td>
                <td class="pr-0">
                  <input type="text" class="form-control" value="application/json; charset=UTF-8">
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="card-footer text-right">
          <button type="submit" class="btn btn-primary">Make request</button>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-8">
      <form class="card" action="">
        <div class="card-header">
          <h3 class="card-title">Create new classroom</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="form-label">Name of Class</label>
                <input type="text" class="form-control" placeholder="e.g. English Class" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="form-label">Section</label>
                <input type="text" class="form-control" placeholder="e.g. English" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="form-label">Target Language (L1)</label>
                <select class="form-control custom-select">
                  <option value="english">English</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="form-label">Target Language (L2)</label>
                <select class="form-control custom-select">
                  <option value="french">French</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="form-label">Home Country</label>
                <select class="form-control custom-select">
                  <option value="french">United States</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="form-label">School</label>
                <input type="text" class="form-control" placeholder="Where do you teach?" />
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label class="form-label">What kind of classroom would you like to connect with?</label>
                <input type="text" class="form-control" placeholder="Where do you teach?" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="form-label">Which tools would you like to use?</label>
                <select class="form-control custom-select">
                  <option value="french">Blogging, Video Chat, Quizzes, +3 Others</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="form-label">What Age Group are you going to teach?</label>
                <div>
                  <label class="custom-control custom-radio">
                    <input type="radio" name="classroom-age" class="custom-control-input" checked>
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">K-12</span>
                  </label>
                  <label class="custom-control custom-radio">
                    <input type="radio" name="classroom-age" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Value</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex align-items-center">
            <a href="javascript:void(0)" class="text-muted">Cancel</a>
            <button type="submit" class="btn btn-primary ml-auto">Create classroom</button>
          </div>
        </div>
      </form>
    </div>
    <!-- /col -->
  </div>
</div>
{% endblock %}
