{# 
  Nunjucks Templating! 
  Homepage: https://mozilla.github.io/nunjucks/ 
  Docs: https://mozilla.github.io/nunjucks/api.html 
#}
<!-- 模版 -->
{% extends '_layouts/application.html' %}
<!-- 页面标题 -->
{% block title %}{{ global.title }} | Stats Cards{% endblock %}
<!-- 面包屑导航 -->
{% block breadcrumb %}
<section class="page-header">
  <div class="container">
    <h1 class="page-title">Stats Cards</h1>
  </div>
</section>
{% endblock %}
<!-- 主体内容 -->
{% block content %}
<div class="container">
  <div class="row row-cards">
    <div class="col-md-3">
      <div class="card p-3">
        <div class="d-flex align-items-center">
          <span class="stamp stamp-md bg-blue mr-3">
                      <i class="icon icon-money-euro-circle-line"></i>
                    </span>
          <div>
            <h4 class="m-0"><a href="javascript:void(0)">132 <small>Sales</small></a></h4>
            <small class="text-muted">12 waiting payments</small>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-3">
      <div class="card p-3">
        <div class="d-flex align-items-center">
          <span class="stamp stamp-md bg-green mr-3">
                      <i class="icon icon-shopping-bag-line"></i>
                    </span>
          <div>
            <h4 class="m-0"><a href="javascript:void(0)">78 <small>Orders</small></a></h4>
            <small class="text-muted">32 shipped</small>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-3">
      <div class="card p-3">
        <div class="d-flex align-items-center">
          <span class="stamp stamp-md bg-red mr-3">
                      <i class="icon icon-user-line"></i>
                    </span>
          <div>
            <h4 class="m-0"><a href="javascript:void(0)">1,352 <small>Members</small></a></h4>
            <small class="text-muted">163 registered today</small>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-3">
      <div class="card p-3">
        <div class="d-flex align-items-center">
          <span class="stamp stamp-md bg-yellow mr-3">
                      <i class="icon icon-message-line"></i>
                    </span>
          <div>
            <h4 class="m-0"><a href="javascript:void(0)">132 <small>Comments</small></a></h4>
            <small class="text-muted">16 waiting</small>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-3">
      <div class="card p-3 px-4">
        <div>
          Total revenue
        </div>
        <div class="py-4 m-0 text-center h1 text-green">$14,320</div>
        <div class="d-flex">
          <small class="text-muted">Income</small>
          <div class="ml-auto">
            <i class="fa fa-caret-up text-green"></i> 4%
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-3">
      <div class="card p-3 px-4">
        <div>
          Order status
        </div>
        <div class="py-4 m-0 text-center h1 text-red">738</div>
        <div class="d-flex">
          <small class="text-muted">New order</small>
          <div class="ml-auto">
            <i class="fa fa-caret-down text-red"></i> 10%
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-3">
      <div class="card p-3 px-4">
        <div>
          Income status
        </div>
        <div class="py-4 m-0 text-center h1 text-blue">$3,205</div>
        <div class="d-flex">
          <small class="text-muted">New income</small>
          <div class="ml-auto">
            0%
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-3">
      <div class="card p-3 px-4">
        <div>
          Customer status
        </div>
        <div class="py-4 m-0 text-center h1 text-yellow">118</div>
        <div class="d-flex">
          <small class="text-muted">New users</small>
          <div class="ml-auto">
            <i class="fa fa-caret-up text-green"></i> 3%
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-6 col-lg-3">
      <div class="card ">
        <div class="card-body p-4">
          <div class="row">
            <div class="col-auto">
              <div class="stamp stamp-md bg-yellow">
                <i class="icon icon-hard-drive-line"></i>
              </div>
            </div>
            <div class="col text-right">
              <div class="small text-muted">Capacity</div>
              <div class="h4 m-0">105GB</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-6 col-lg-3">
      <div class="card ">
        <div class="card-body p-4">
          <div class="row">
            <div class="col-auto">
              <div class="stamp stamp-md bg-green">
                <i class="icon icon-money-dollar-circle-line"></i>
              </div>
            </div>
            <div class="col text-right">
              <div class="small text-muted">Revenue</div>
              <div class="h4 m-0">$1,345</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-6 col-lg-3">
      <div class="card ">
        <div class="card-body p-4">
          <div class="row">
            <div class="col-auto">
              <div class="stamp stamp-md bg-red">
                <i class="icon icon-error-warning-line"></i>
              </div>
            </div>
            <div class="col text-right">
              <div class="small text-muted">Errors</div>
              <div class="h4 m-0">23</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-6 col-lg-3">
      <div class="card ">
        <div class="card-body p-4">
          <div class="row">
            <div class="col-auto">
              <div class="stamp stamp-md bg-blue">
                <i class="icon icon-twitter-line"></i>
              </div>
            </div>
            <div class="col text-right">
              <div class="small text-muted">Followers</div>
              <div class="h4 m-0">1685</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="card-value float-right text-primary">20%</div>
          <h3 class="mb-1">1530</h3>
          <div>Total Leads</div>
          <div class="mt-4">
            <div class="progress progress-xs">
              <div class="progress-bar bg-primary" style="width: 20%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="card-value float-right text-danger">-1%</div>
          <h3 class="mb-1">935</h3>
          <div>Total Sales</div>
          <div class="mt-4">
            <div class="progress progress-xs">
              <div class="progress-bar bg-danger" style="width: 75%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="card-value float-right text-blue">+5%</div>
          <h3 class="mb-1">423</h3>
          <div class="text-muted">Users online</div>
        </div>
        <div class="card-chart-bg">
          <div id="chart-bg-users" style="height: 100%"></div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="card-value float-right text-yellow">-3%</div>
          <h3 class="mb-1">$5255</h3>
          <div class="text-muted">Revenue</div>
        </div>
        <div class="card-chart-bg">
          <div id="chart-bg-revenue" style="height: 100%"></div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-6 col-lg-3">
      <div class="card bg-success">
        <div class="card-body text-white">
          <div class="card-value float-right">60%</div>
          <h3 class="mb-1">5324</h3>
          <div>New Orders</div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="card-value float-right text-warning">0%</div>
          <h3 class="mb-1">$8,530</h3>
          <div>Total Payment</div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-md-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="card-value float-right text-warning"><i class="wi wi-day-cloudy"></i></div>
          <h3 class="mb-1">16°C</h3>
          <div>Warsaw, Poland</div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-12"></div>
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">Tasks activity</h2>
          <div class="card-options text-muted">
            <select class="custom-select custom-select-sm ml-2" name="" id="">
              <option>This week</option>
              <option>Last week</option>
            </select>
          </div>
        </div>
        <div class="card-body">
          <div id="chart-tasks" style="height: 15rem"></div>
        </div>
        <div class="card-tabs card-tabs-bottom">
          <a href="javascript:void(0)" class="card-tabs-item text-center active">
            <h3 class="mb-1">120</h3>
            <div class="text-muted-dark">Tasks completed</div>
          </a>
          <a href="javascript:void(0)" class="card-tabs-item text-center">
            <h3 class="mb-1">25</h3>
            <div class="text-muted-dark">Hours logged</div>
          </a>
          <a href="javascript:void(0)" class="card-tabs-item text-center">
            <h3 class="mb-1">2</h3>
            <div class="text-muted-dark">Invoices sent</div>
          </a>
          <a href="javascript:void(0)" class="card-tabs-item text-center">
            <h3 class="mb-1">2</h3>
            <div class="text-muted-dark">Files uploaded</div>
          </a>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row text-center">
            <div class="col-lg-4">
              <h2 class="mb-1"><i class="mdi mdi-trending-down text-danger"></i> 25563</h2>
              <div class="text-muted-dark">Total tickets</div>
            </div>
            <div class="col-lg-4">
              <h2 class="mb-1"><i class="mdi mdi-trending-up text-success"></i> 6952</h2>
              <div class="text-muted-dark">Pending Tickets</div>
            </div>
            <div class="col-lg-4">
              <h2 class="mb-1"><i class="mdi mdi-trending-neutral text-warning"></i> 18361</h2>
              <div class="text-muted-dark">Closed Tickets</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Top Countries</h4>
        </div>
        <table class="table card-table">
          <tbody>
            <tr>
              <td width="1"><i class="flag flag-us"></i></td>
              <td>
                USA
                <div class="progress progress-xs mt-2">
                  <div class="progress-bar" style="width: 78%"></div>
                </div>
              </td>
              <td width="1" class="text-right"><span class="text-muted">$6425</span></td>
            </tr>
            <tr>
              <td><i class="flag flag-pl"></i></td>
              <td>
                Poland
                <div class="progress progress-xs mt-2">
                  <div class="progress-bar" style="width: 62%"></div>
                </div>
              </td>
              <td class="text-right"><span class="text-muted">$5582</span></td>
            </tr>
            <tr>
              <td><i class="flag flag-de"></i></td>
              <td>
                Germany
                <div class="progress progress-xs mt-2">
                  <div class="progress-bar" style="width: 48%"></div>
                </div>
              </td>
              <td class="text-right"><span class="text-muted">$4587</span></td>
            </tr>
            <tr>
              <td><i class="flag flag-ru"></i></td>
              <td>
                Russia
                <div class="progress progress-xs mt-2">
                  <div class="progress-bar" style="width: 35%"></div>
                </div>
              </td>
              <td class="text-right"><span class="text-muted">$2520</span></td>
            </tr>
            <tr>
              <td><i class="flag flag-au"></i></td>
              <td>
                Australia
                <div class="progress progress-xs mt-2">
                  <div class="progress-bar" style="width: 30%"></div>
                </div>
              </td>
              <td class="text-right"><span class="text-muted">$1899</span></td>
            </tr>
            <tr>
              <td><i class="flag flag-gb"></i></td>
              <td>
                Great Britain
                <div class="progress progress-xs mt-2">
                  <div class="progress-bar" style="width: 22%"></div>
                </div>
              </td>
              <td class="text-right"><span class="text-muted">$1056</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-12">
      <div class="card">
        <div class="card-tabs">
          <div class="card-tabs-item">
            <div class="row">
              <div class="col-auto align-self-center">
                <div class="chart-circle chart-circle-xs" data-value="0.8" data-thickness="4" data-color="#fca328"></div>
              </div>
              <div class="col">
                <div class="text-muted">Projects</div>
                <div class="h3 m-0">11,164</div>
              </div>
            </div>
          </div>
          <div class="card-tabs-item">
            <div class="row">
              <div class="col-auto align-self-center">
                <div class="chart-circle chart-circle-xs" data-value="0.2" data-thickness="4" data-color="#7bd235"></div>
              </div>
              <div class="col">
                <div class="text-muted">Calls</div>
                <div class="h3 m-0">986</div>
              </div>
            </div>
          </div>
          <div class="card-tabs-item">
            <div class="row">
              <div class="col-auto align-self-center">
                <div class="chart-circle chart-circle-xs" data-value="0.45" data-thickness="4" data-color="#76befe"></div>
              </div>
              <div class="col">
                <div class="text-muted">Referrals</div>
                <div class="h3 m-0">1,986</div>
              </div>
            </div>
          </div>
          <div class="card-tabs-item">
            <div class="row">
              <div class="col-auto align-self-center">
                <div class="chart-circle chart-circle-xs" data-value="0.6" data-thickness="4" data-color="#f90049"></div>
              </div>
              <div class="col">
                <div class="text-muted">Revenue</div>
                <div class="h3 m-0">$640</div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div id="chart-visitors" style="min-height: 18rem"></div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body text-center">
          <div class="h5">Today Expenses</div>
          <div class="display-4 font-weight-bold mb-4">$8500</div>
          <div class="progress progress-sm">
            <div class="progress-bar bg-blue" style="width: 54%"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body text-center">
          <div class="h5">Profit for this month</div>
          <div class="display-4 font-weight-bold mb-4">$65,256</div>
          <div class="progress progress-sm">
            <div class="progress-bar bg-yellow" style="width: 85%"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4">
      <div class="row row-deck">
        <div class="col-6">
          <div class="card">
            <div class="card-body text-center">
              <div class="h5">New feedback</div>
              <div class="display-4 font-weight-bold mb-4">62</div>
              <div class="progress progress-sm">
                <div class="progress-bar bg-red" style="width: 34%"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card">
            <div class="card-body text-center">
              <div class="h5">Users online</div>
              <div class="display-4 font-weight-bold mb-4">76</div>
              <div class="progress progress-sm">
                <div class="progress-bar bg-green" style="width: 32%"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Top Countries</h4>
        </div>
        <table class="table card-table">
          <tbody>
            <tr>
              <td width="1"><i class="flag flag-us"></i></td>
              <td>
                USA
                <div class="progress progress-xs mt-2">
                  <div class="progress-bar" style="width: 78%"></div>
                </div>
              </td>
              <td width="1" class="text-right"><span class="text-muted">$6425</span></td>
            </tr>
            <tr>
              <td><i class="flag flag-pl"></i></td>
              <td>
                Poland
                <div class="progress progress-xs mt-2">
                  <div class="progress-bar" style="width: 62%"></div>
                </div>
              </td>
              <td class="text-right"><span class="text-muted">$5582</span></td>
            </tr>
            <tr>
              <td><i class="flag flag-de"></i></td>
              <td>
                Germany
                <div class="progress progress-xs mt-2">
                  <div class="progress-bar" style="width: 48%"></div>
                </div>
              </td>
              <td class="text-right"><span class="text-muted">$4587</span></td>
            </tr>
            <tr>
              <td><i class="flag flag-ru"></i></td>
              <td>
                Russia
                <div class="progress progress-xs mt-2">
                  <div class="progress-bar" style="width: 35%"></div>
                </div>
              </td>
              <td class="text-right"><span class="text-muted">$2520</span></td>
            </tr>
            <tr>
              <td><i class="flag flag-au"></i></td>
              <td>
                Australia
                <div class="progress progress-xs mt-2">
                  <div class="progress-bar" style="width: 30%"></div>
                </div>
              </td>
              <td class="text-right"><span class="text-muted">$1899</span></td>
            </tr>
            <tr>
              <td><i class="flag flag-gb"></i></td>
              <td>
                Great Britain
                <div class="progress progress-xs mt-2">
                  <div class="progress-bar" style="width: 22%"></div>
                </div>
              </td>
              <td class="text-right"><span class="text-muted">$1056</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
                              Finance Stats
                            </h3>
        </div>
        <div class="card-body">
          <ul class="list-unstyled">
            <li>
              <div class="row align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0">
                    IPO Margin
                  </div>
                  <span class="small text-muted">Average IPO Margin</span>
                </div>
                <div class="col text-right">
                  <span class="h4 text-primary font-weight-bold">+24%</span>
                </div>
              </div>
            </li>
            <li class="mt-4">
              <div class="row align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0">
                    Payments
                  </div>
                  <span class="small text-muted">Yearly Expenses</span>
                </div>
                <div class="col text-right">
                  <span class="h4 text-info font-weight-bold">+$560,800</span>
                </div>
              </div>
            </li>
            <li class="mt-4">
              <div class="row align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0">
                    Logistics
                  </div>
                  <span class="small text-muted">Overall Regional Logistics</span>
                </div>
                <div class="col text-right">
                  <span class="h4 text-warning font-weight-bold">-10%</span>
                </div>
              </div>
            </li>
            <li class="mt-4">
              <div class="row align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0">
                    Expenses
                  </div>
                  <span class="small text-muted">Balance</span>
                </div>
                <div class="col text-right">
                  <span class="h4 text-danger font-weight-bold">$345,000</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Browser Stats</h4>
        </div>
        <table class="table card-table">
          <tr>
            <td width="1"><i class="fa fa-chrome text-muted"></i></td>
            <td>Google Chrome</td>
            <td class="text-right"><span class="text-muted">23%</span></td>
          </tr>
          <tr>
            <td><i class="fa fa-firefox text-muted"></i></td>
            <td>Mozila Firefox</td>
            <td class="text-right"><span class="text-muted">15%</span></td>
          </tr>
          <tr>
            <td><i class="fa fa-safari text-muted"></i></td>
            <td>Apple Safari</td>
            <td class="text-right"><span class="text-muted">7%</span></td>
          </tr>
          <tr>
            <td><i class="fa fa-internet-explorer text-muted"></i></td>
            <td>Internet Explorer</td>
            <td class="text-right"><span class="text-muted">9%</span></td>
          </tr>
          <tr>
            <td><i class="fa fa-opera text-muted"></i></td>
            <td>Opera mini</td>
            <td class="text-right"><span class="text-muted">23%</span></td>
          </tr>
          <tr>
            <td><i class="fa fa-edge text-muted"></i></td>
            <td>Microsoft edge</td>
            <td class="text-right"><span class="text-muted">9%</span></td>
          </tr>
        </table>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Portfolio</div>
        </div>
        <table class="table card-table">
          <tbody>
            <tr>
              <td class="font-weight-bold">AAPL</td>
              <td class="text-right">
                115.52
                <span class="text-success">(0.34%) <i class="fa fa-caret-up"></i></span>
              </td>
            </tr>
            <tr>
              <td class="font-weight-bold">GOOG</td>
              <td class="text-right">
                635.3
                <span class="text-danger">(-1.15%) <i class="fa fa-caret-down"></i></span>
              </td>
            </tr>
            <tr>
              <td class="font-weight-bold">MSFT</td>
              <td class="text-right">
                46.74
                <span class="text-success">(0.26%) <i class="fa fa-caret-up"></i></span>
              </td>
            </tr>
            <tr>
              <td class="font-weight-bold">LNKD</td>
              <td class="text-right">
                190.04
                <span class="text-success">(0.28%) <i class="fa fa-caret-up"></i></span>
              </td>
            </tr>
            <tr>
              <td class="font-weight-bold">TSLA</td>
              <td class="text-right">
                181.47
                <span class="text-danger">(-0.23%) <i class="fa fa-caret-down"></i></span>
              </td>
            </tr>
            <tr>
              <td class="font-weight-bold">YA</td>
              <td class="text-right">
                37.75
                <span class="text-danger">(-0.74%) <i class="fa fa-caret-down"></i></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            Server params
          </div>
          <div class="card-options">
            <button type="button" class="btn btn-option" data-toggle="tooltip" title="Edit">
              <i class="mdi mdi-lead-pencil"></i>
            </button>
            <div class="dropdown card-options-dropdown">
              <button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown"><i class="mdi mdi-dots-horizontal"></i></button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="si si-bell mr-3"></i>News
                </a>
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="si si-envelope mr-3"></i>Messages
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="si si-pencil mr-3"></i>Edit Profile
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="card-text">
            <div class="mt-0">
              <small class="float-right text-muted">10/200 GB</small>
              <h5>Memory</h5>
              <div class="progress progress-sm">
                <div style="width: 60%;" class="progress-bar"></div>
              </div>
            </div>
            <div class="mt-5">
              <small class="float-right text-muted">20 GB</small>
              <h5>Bandwidth</h5>
              <div class="progress progress-sm">
                <div style="width: 50%;" class="progress-bar"></div>
              </div>
            </div>
            <div class="mt-5">
              <small class="float-right text-muted">73%</small>
              <h5>Activity</h5>
              <div class="progress progress-sm">
                <div style="width: 40%;" class="progress-bar"></div>
              </div>
            </div>
            <div class="mt-5">
              <small class="float-right text-muted">400 GB</small>
              <h5>FTP</h5>
              <div class="progress progress-sm">
                <div style="width: 80%;" class="progress-bar bg-danger"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
                              Sales Stats
                            </h3>
        </div>
        <table class="table card-table">
          <tr>
            <th>
              Scheduled
            </th>
            <th>
              Count
            </th>
            <th class="text-right">
              Amount
            </th>
          </tr>
          <tr>
            <td class="text-muted">
              13.06.2017
            </td>
            <td>
              67
            </td>
            <td class="text-right">
              $14,740
            </td>
          </tr>
          <tr>
            <td class="text-muted">
              28.02.2017
            </td>
            <td>
              120
            </td>
            <td class="text-right">
              $11,002
            </td>
          </tr>
          <tr>
            <td class="text-muted">
              06.03.2017
            </td>
            <td>
              32
            </td>
            <td class="text-right">
              $10,900
            </td>
          </tr>
          <tr>
            <td class="text-muted">
              21.10.2017
            </td>
            <td>
              130
            </td>
            <td class="text-right">
              $14,740
            </td>
          </tr>
          <tr>
            <td class="text-muted">
              02.01.2017
            </td>
            <td>
              5
            </td>
            <td class="text-right">
              $18,540
            </td>
          </tr>
          <tr>
            <td class="text-muted">
              06.03.2017
            </td>
            <td>
              32
            </td>
            <td class="text-right">
              $10,900
            </td>
          </tr>
          <tr>
            <td class="text-muted">
              31.12.2017
            </td>
            <td>
              201
            </td>
            <td class="text-right">
              $25,609
            </td>
          </tr>
        </table>
        <div class="card-footer">
          <div class="text-right">
            <button type="button" class="btn btn-primary">
              <i class="mdi mdi-export mr-2"></i>Export data
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- /col -->
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Match results</h3>
        </div>
        <div class="card-body">
          <div class="row align-items-center gutters-sm">
            <div class="col text-left">
            </div>
            <div class="col-auto text-center">
              <div class="display-4 font-weight-bold">2:4</div>
              <div class="text-muted">Today, 20:45</div>
            </div>
            <div class="col text-right">
            </div>
          </div>
        </div>
        <table class="card-table table table-center table-md mt-4">
          <tr>
            <td></td>
            <td class="font-weight-bold">Match stats</td>
            <td></td>
          </tr>
          <tr>
            <td>19</td>
            <td>Fouls</td>
            <td>12</td>
          </tr>
          <tr>
            <td>6</td>
            <td>Yellow Cards</td>
            <td>2</td>
          </tr>
          <tr>
            <td>0</td>
            <td>Red Cards</td>
            <td>0</td>
          </tr>
          <tr>
            <td>0</td>
            <td>Offsides</td>
            <td>0</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Corner Kicks</td>
            <td>4</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Saves</td>
            <td>3</td>
          </tr>
        </table>
      </div>
    </div>
    <!-- /col -->
  </div>
</div>
{% endblock %}
