{# 
  Nunjucks Templating! 
  Homepage: https://mozilla.github.io/nunjucks/ 
  Docs: https://mozilla.github.io/nunjucks/api.html 
#}
<!-- 模版 -->
{% extends '_layouts/application.html' %}
<!-- 页面标题 -->
{% block title %}{{ global.title }} | Blog components{% endblock %}
<!-- 面包屑导航 -->
{% block breadcrumb %}
<section class="page-header">
  <div class="container">
    <h1 class="page-title">Blog components</h1>
  </div>
</section>
{% endblock %}
<!-- 主体内容 -->
{% block content %}
<div class="container">
  <div class="row row-cards row-deck">
    <div class="col-sm-6 col-xl-3">
      <div class="card">
        <a href="#"><img class="card-img-top" src="assets/images/demo/adrian-infernus-281832-500.jpg" alt="And this isn't my nose. This is a false one."></a>
        <div class="card-body d-flex flex-column">
          <h4><a href="#">And this isn't my nose. This is a false one.</a></h4>
          <div class="text-muted">Look, my liege! The Knights Who Say Ni demand a sacrifice! …Are you suggesting that coconuts migr...</div>
          <div class="d-flex align-items-center pt-5 mt-auto">
            <div class="avatar avatar-md mr-3" style="background-image: url(assets/images/avatars/female/18.jpg)"></div>
            <div>
              <a href="./profile.html" class="text-default">Rose Bradley</a>
              <small class="d-block text-muted">3 days ago</small>
            </div>
            <div class="ml-auto text-muted">
              <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="icon icon-heart-line mr-1"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="card">
        <a href="#"><img class="card-img-top" src="assets/images/demo/grant-ritchie-338179-500.jpg" alt="Well, I didn't vote for you."></a>
        <div class="card-body d-flex flex-column">
          <h4><a href="#">Well, I didn't vote for you.</a></h4>
          <div class="text-muted">Well, we did do the nose. Why? Shut up! Will you shut up?! You don't frighten us, English pig-dog...</div>
          <div class="d-flex align-items-center pt-5 mt-auto">
            <div class="avatar avatar-md mr-3" style="background-image: url(assets/images/avatars/male/16.jpg)"></div>
            <div>
              <a href="./profile.html" class="text-default">Peter Richards</a>
              <small class="d-block text-muted">3 days ago</small>
            </div>
            <div class="ml-auto text-muted">
              <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="icon icon-heart-line mr-1"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="card">
        <a href="#"><img class="card-img-top" src="assets/images/demo/joshua-earle-157231-500.jpg" alt="How do you know she is a witch?"></a>
        <div class="card-body d-flex flex-column">
          <h4><a href="#">How do you know she is a witch?</a></h4>
          <div class="text-muted">Are you suggesting that coconuts migrate? No, no, no! Yes, yes. A bit. But she's got a wart. You ...</div>
          <div class="d-flex align-items-center pt-5 mt-auto">
            <div class="avatar avatar-md mr-3" style="background-image: url(assets/images/avatars/male/26.jpg)"></div>
            <div>
              <a href="./profile.html" class="text-default">Wayne Holland</a>
              <small class="d-block text-muted">3 days ago</small>
            </div>
            <div class="ml-auto text-muted">
              <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="icon icon-heart-line mr-1"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="card">
        <a href="#"><img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!"></a>
        <div class="card-body d-flex flex-column">
          <h4><a href="#">Shut up!</a></h4>
          <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          <div class="d-flex align-items-center pt-5 mt-auto">
            <div class="avatar avatar-md mr-3" style="background-image: url(assets/images/avatars/female/7.jpg)"></div>
            <div>
              <a href="./profile.html" class="text-default">Michelle Ross</a>
              <small class="d-block text-muted">3 days ago</small>
            </div>
            <div class="ml-auto text-muted">
              <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="icon icon-heart-line mr-1"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="card">
        <a class="figure figure-img" href="#">
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!">
          <span class="card-mark-lt"># label</span>
        </a>
        <div class="card-body d-flex flex-column">
          <h4><a href="#">Shut up!</a></h4>
          <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          <div class="d-flex align-items-center pt-5 mt-auto">
            <div class="avatar avatar-md mr-3" style="background-image: url(assets/images/avatars/female/7.jpg)"></div>
            <div>
              <a href="./profile.html" class="text-default">Michelle Ross</a>
              <small class="d-block text-muted">3 days ago</small>
            </div>
            <div class="ml-auto text-muted">
              <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="icon icon-heart-line mr-1"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="card">
        <a class="figure figure-img" href="#">
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!">
          <span class="card-mark-lb"># label</span>
        </a>
        <div class="card-body d-flex flex-column">
          <h4><a href="#">Shut up!</a></h4>
          <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          <div class="d-flex align-items-center pt-5 mt-auto">
            <div class="avatar avatar-md mr-3" style="background-image: url(assets/images/avatars/female/7.jpg)"></div>
            <div>
              <a href="./profile.html" class="text-default">Michelle Ross</a>
              <small class="d-block text-muted">3 days ago</small>
            </div>
            <div class="ml-auto text-muted">
              <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="icon icon-heart-line mr-1"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="card">
        <a class="figure figure-img" href="#">
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!">
          <span class="card-mark-rt"># label</span>
        </a>
        <div class="card-body d-flex flex-column">
          <h4><a href="#">Shut up!</a></h4>
          <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          <div class="d-flex align-items-center pt-5 mt-auto">
            <div class="avatar avatar-md mr-3" style="background-image: url(assets/images/avatars/female/7.jpg)"></div>
            <div>
              <a href="./profile.html" class="text-default">Michelle Ross</a>
              <small class="d-block text-muted">3 days ago</small>
            </div>
            <div class="ml-auto text-muted">
              <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="icon icon-heart-line mr-1"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="card">
        <a class="figure figure-img" href="#">
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!">
          <span class="card-mark-rb"># label</span>
        </a>
        <div class="card-body d-flex flex-column">
          <h4><a href="#">Shut up!</a></h4>
          <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          <div class="d-flex align-items-center pt-5 mt-auto">
            <div class="avatar avatar-md mr-3" style="background-image: url(assets/images/avatars/female/7.jpg)"></div>
            <div>
              <a href="./profile.html" class="text-default">Michelle Ross</a>
              <small class="d-block text-muted">3 days ago</small>
            </div>
            <div class="ml-auto text-muted">
              <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="icon icon-heart-line mr-1"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="card">
        <a class="figure figure-img" href="#">
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!">
          <span class="card-post-format"><i class="icon icon-music-2-fill"></i></span>
        </a>
        <div class="card-body d-flex flex-column">
          <h4><a href="#">Shut up!</a></h4>
          <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          <div class="d-flex align-items-center pt-5 mt-auto">
            <div class="avatar avatar-md mr-3" style="background-image: url(assets/images/avatars/female/7.jpg)"></div>
            <div>
              <a href="./profile.html" class="text-default">Michelle Ross</a>
              <small class="d-block text-muted">3 days ago</small>
            </div>
            <div class="ml-auto text-muted">
              <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="icon icon-heart-line mr-1"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="card">
        <a class="figure figure-img" href="#">
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!">
          <span class="card-post-format"><i class="icon icon-play-fill"></i></span>
        </a>
        <div class="card-body d-flex flex-column">
          <h4><a href="#">Shut up!</a></h4>
          <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          <div class="d-flex align-items-center pt-5 mt-auto">
            <div class="avatar avatar-md mr-3" style="background-image: url(assets/images/avatars/female/7.jpg)"></div>
            <div>
              <a href="./profile.html" class="text-default">Michelle Ross</a>
              <small class="d-block text-muted">3 days ago</small>
            </div>
            <div class="ml-auto text-muted">
              <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="icon icon-heart-line mr-1"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="card">
        <a class="figure figure-img" href="#">
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!">
          <span class="card-post-format"><i class="icon icon-landscape-fill"></i></span>
        </a>
        <div class="card-body d-flex flex-column">
          <h4><a href="#">Shut up!</a></h4>
          <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          <div class="d-flex align-items-center pt-5 mt-auto">
            <div class="avatar avatar-md mr-3" style="background-image: url(assets/images/avatars/female/7.jpg)"></div>
            <div>
              <a href="./profile.html" class="text-default">Michelle Ross</a>
              <small class="d-block text-muted">3 days ago</small>
            </div>
            <div class="ml-auto text-muted">
              <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="icon icon-heart-line mr-1"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="card">
        <a class="figure figure-img" href="#">
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!">
          <span class="card-post-format"><i class="icon icon-voiceprint-fill"></i></span>
        </a>
        <div class="card-body d-flex flex-column">
          <h4><a href="#">Shut up!</a></h4>
          <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          <div class="d-flex align-items-center pt-5 mt-auto">
            <div class="avatar avatar-md mr-3" style="background-image: url(assets/images/avatars/female/7.jpg)"></div>
            <div>
              <a href="./profile.html" class="text-default">Michelle Ross</a>
              <small class="d-block text-muted">3 days ago</small>
            </div>
            <div class="ml-auto text-muted">
              <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="icon icon-heart-line mr-1"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body d-flex flex-column">
          <h4><a href="#">Weaseling out of things is important to learn.</a></h4>
          <div class="text-muted">Please do not offer my god a peanut. That's why I love elementary school, Edna. The children beli...</div>
          <div class="d-flex align-items-center pt-5 mt-auto">
            <div class="avatar avatar-md mr-3" style="background-image: url(assets/images/avatars/male/4.jpg)"></div>
            <div>
              <a href="./profile.html" class="text-default">Bobby Knight</a>
              <small class="d-block text-muted">3 days ago</small>
            </div>
            <div class="ml-auto text-muted">
              <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="icon icon-heart-line mr-1"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body d-flex flex-column">
          <h4><a href="#">You don't like your job, you don't strike.</a></h4>
          <div class="text-muted">But, Aquaman, you cannot marry a woman without gills. You're from two different worlds… Oh, I've ...</div>
          <div class="d-flex align-items-center pt-5 mt-auto">
            <div class="avatar avatar-md mr-3" style="background-image: url(assets/images/avatars/male/35.jpg)"></div>
            <div>
              <a href="./profile.html" class="text-default">Craig Anderson</a>
              <small class="d-block text-muted">3 days ago</small>
            </div>
            <div class="ml-auto text-muted">
              <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="icon icon-heart-line mr-1"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body d-flex flex-column">
          <h4><a href="#">I hope I didn't brain my damage.</a></h4>
          <div class="text-muted">I don't like being outdoors, Smithers. For one thing, there's too many fat children. Oh, loneline...</div>
          <div class="d-flex align-items-center pt-5 mt-auto">
            <div class="avatar avatar-md mr-3" style="background-image: url(assets/images/avatars/female/29.jpg)"></div>
            <div>
              <a href="./profile.html" class="text-default">Crystal Wallace</a>
              <small class="d-block text-muted">3 days ago</small>
            </div>
            <div class="ml-auto text-muted">
              <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="icon icon-heart-line mr-1"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card card-aside">
        <a href="#" class="card-aside-column" style="background-image: url(assets/images/demo/dino-reichmuth-84359-500.jpg)"></a>
        <div class="card-body d-flex flex-column">
          <h4><a href="#">And this isn't my nose. This is a false one.</a></h4>
          <div class="text-muted">Look, my liege! The Knights Who Say Ni demand a sacrifice! …Are you suggesting that coconuts migr...</div>
          <div class="d-flex align-items-center pt-5 mt-auto">
            <div class="avatar avatar-md mr-3" style="background-image: url(assets/images/avatars/female/18.jpg)"></div>
            <div>
              <a href="./profile.html" class="text-default">Rose Bradley</a>
              <small class="d-block text-muted">3 days ago</small>
            </div>
            <div class="ml-auto text-muted">
              <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="icon icon-heart-line mr-1"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card card-aside">
        <a href="#" class="card-aside-column" style="background-image: url(assets/images/demo/sean-afnan-244576-500.jpg)"></a>
        <div class="card-body d-flex flex-column">
          <h4><a href="#">Well, I didn't vote for you.</a></h4>
          <div class="text-muted">Well, we did do the nose. Why? Shut up! Will you shut up?! You don't frighten us, English pig-dog...</div>
          <div class="d-flex align-items-center pt-5 mt-auto">
            <div class="avatar avatar-md mr-3" style="background-image: url(assets/images/avatars/male/16.jpg)"></div>
            <div>
              <a href="./profile.html" class="text-default">Peter Richards</a>
              <small class="d-block text-muted">3 days ago</small>
            </div>
            <div class="ml-auto text-muted">
              <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="icon icon-heart-line mr-1"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="card p-3">
        <a href="javascript:void(0)" class="mb-3">
          <img src="assets/images/demo/adrian-infernus-281832-500.jpg" alt="Photo by Nathan Guerrero" class="rounded">
        </a>
        <div class="d-flex align-items-center px-2">
          <div class="avatar avatar-md mr-3" style="background-image: url(assets/images/avatars/male/41.jpg)"></div>
          <div>
            <div>Nathan Guerrero</div>
            <small class="d-block text-muted">12 days ago</small>
          </div>
          <div class="ml-auto text-muted">
            <a href="javascript:void(0)" class="icon"><i class="icon icon-eye-line mr-1"></i> 112</a>
            <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="icon icon-heart-line mr-1"></i> 42</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="card p-3">
        <a href="javascript:void(0)" class="mb-3">
          <img src="assets/images/demo/anders-jilden-307322-500.jpg" alt="Photo by Alice Mason" class="rounded">
        </a>
        <div class="d-flex align-items-center px-2">
          <div class="avatar avatar-md mr-3" style="background-image: url(assets/images/avatars/female/1.jpg)"></div>
          <div>
            <div>Alice Mason</div>
            <small class="d-block text-muted">12 days ago</small>
          </div>
          <div class="ml-auto text-muted">
            <a href="javascript:void(0)" class="icon"><i class="icon icon-eye-line mr-1"></i> 70</a>
            <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="icon icon-heart-line mr-1"></i> 0</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="card p-3">
        <a href="javascript:void(0)" class="mb-3">
          <img src="assets/images/demo/anthony-intraversato-257182-500.jpg" alt="Photo by Rose Bradley" class="rounded">
        </a>
        <div class="d-flex align-items-center px-2">
          <div class="avatar avatar-md mr-3" style="background-image: url(assets/images/avatars/female/18.jpg)"></div>
          <div>
            <div>Rose Bradley</div>
            <small class="d-block text-muted">4 days ago</small>
          </div>
          <div class="ml-auto text-muted">
            <a href="javascript:void(0)" class="icon"><i class="icon icon-eye-line mr-1"></i> 166</a>
            <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="icon icon-heart-line mr-1"></i> 96</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
