{# Nunjucks Templating! Homepage: https://mozilla.github.io/nunjucks/ Docs: https://mozilla.github.io/nunjucks/api.html #}
<!-- 模版 -->
{% extends '_layouts/application.html' %}
<!-- 页面标题 -->
{% block title %}{{ title }} | Blank Page{% endblock %}
<!-- 自定义样式 -->
{% block style %} {% endblock %}
<!-- 面包屑导航 -->
{% block breadcrumb %}
<section class="content-header">
  <h1>
    Blank page
    <small>it all starts here</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Examples</a></li>
    <li class="active">Blank page</li>
  </ol>
</section>
{% endblock %}
<!-- 主体内容 -->
{% block content %}
<!-- main -->
<h2 class="page-header">Little offers with colors and radius</h2>
<div class="row">
  <div class="col-xs-3">
    <div class="offer offer-default">
      <div class="shape shape-tr">
        <div class="shape-text"> top </div>
      </div>
      <div class="offer-content">
        <h3 class="lead"> A default offer </h3>
        <p> And a little description.
          <br> and so one </p>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="offer offer-success">
      <div class="shape shape-tr">
        <div class="shape-text"> top </div>
      </div>
      <div class="offer-content">
        <h3 class="lead"> A success offer </h3>
        <p> And a little description.
          <br> and so one </p>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="offer offer-primary">
      <div class="shape shape-tr">
        <div class="shape-text"> top </div>
      </div>
      <div class="offer-content">
        <h3 class="lead"> A primary-radius </h3>
        <p> And a little description.
          <br> and so one </p>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="offer offer-info">
      <div class="shape shape-tr">
        <div class="shape-text"> top </div>
      </div>
      <div class="offer-content">
        <h3 class="lead"> An info offer </h3>
        <p> And a little description.
          <br> and so one </p>
      </div>
    </div>
  </div>
</div>
<!-- /row -->
<div class="row">
  <div class="col-xs-3">
    <div class="offer offer-warning">
      <div class="shape shape-tr">
        <div class="shape-text"> top </div>
      </div>
      <div class="offer-content">
        <h3 class="lead"> A warning offer </h3>
        <p> And a little description.
          <br> and so one </p>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="offer offer-danger">
      <div class="shape shape-tr">
        <div class="shape-text"> top </div>
      </div>
      <div class="offer-content">
        <h3 class="lead"> A danger-radius </h3>
        <p> And a little description.
          <br> and so one </p>
      </div>
    </div>
  </div>
</div>
<!-- /row -->
<h2 class="page-header">Bootstrap Badge</h2>
<div class="panel panel-body relative text-center" data-toggle="match-height" style="height: 137px;">
  <div class="nook">nook top left</div>
  <div class="nook nook-primary" data-position="top-right">nook top right</div>
  <div class="nook nook-warning" data-position="bottom-left">nook bottom left</div>
  <div class="nook nook-danger" data-position="bottom-right">nook bottom right</div>
  <h5>Nook badge</h5>
  <p>
    <small class="text-muted">Simply use class <code>nook</code></small>
  </p>
</div>
<div class="row gutter-xs">
  <div class="col-xs-6 col-md-3">
    <div class="panel panel-body relative text-center" data-toggle="match-height">
      <div class="nook nook-rounded">New</div>
      <h5>Default button</h5>
      <p>
        <small>Simply use class <code>btn-default</code></small>
      </p>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="panel panel-body relative text-center" data-toggle="match-height">
      <div class="nook nook-primary nook-rounded" data-position="top-right">Hot</div>
      <h5>Primary button</h5>
      <p>
        <small>Simply use class <code>btn-primary</code></small>
      </p>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="panel panel-body relative text-center" data-toggle="match-height">
      <div class="nook nook-warning nook-rounded" data-position="bottom-left">New</div>
      <h5>Success button</h5>
      <p>
        <small>Simply use class <code>btn-primary</code></small>
      </p>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="panel panel-body relative text-center" data-toggle="match-height">
      <div class="nook nook-danger nook-rounded" data-position="bottom-right">Hot</div>
      <h5>Info button</h5>
      <p>
        <small>Simply use class <code>btn-info</code></small>
      </p>
    </div>
  </div>
</div>
<!-- /row -->
<div class="row">
  <div class="col-md-8">
    <h1 class="page-header">ribands</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="ribands boxed">
          <div class="riband-wrap">
            <div class="riband"><span>riband-default</span></div>
          </div>
          <div class="riband-wrap">
            <div class="riband riband-info"><span>riband-info</span></div>
          </div>
          <div class="riband-wrap">
            <div class="riband riband-primary"><span>riband-primary</span></div>
          </div>
          <div class="riband-wrap">
            <div class="riband riband-success"><span>riband-success</span></div>
          </div>
          <div class="riband-wrap">
            <div class="riband riband-warning"><span>riband-warning</span></div>
          </div>
          <div class="riband-wrap">
            <div class="riband riband-danger"><span>riband-danger</span></div>
          </div>
          <div class="riband-wrap">
            <div class="riband riband-dark"><span>riband-dark</span></div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="ribands boxed">
          <div class="riband-wrap riband-left">
            <div class="riband"><span>riband-default</span></div>
          </div>
          <div class="riband-wrap riband-left">
            <div class="riband riband-info"><span>riband-info</span></div>
          </div>
          <div class="riband-wrap riband-left">
            <div class="riband riband-primary"><span>riband-primary</span></div>
          </div>
          <div class="riband-wrap riband-left">
            <div class="riband riband-success"><span>riband-success</span></div>
          </div>
          <div class="riband-wrap riband-left">
            <div class="riband riband-warning"><span>riband-warning</span></div>
          </div>
          <div class="riband-wrap riband-left">
            <div class="riband riband-danger"><span>riband-danger</span></div>
          </div>
          <div class="riband-wrap riband-left">
            <div class="riband riband-dark"><span>riband-dark</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h1 class="page-header">ribbons</h1>
    <div class="band">ribbon-default</div>
    <br>
    <br>
    <br>
    <div class="band band-info">band-info</div>
    <br>
    <br>
    <br>
    <div class="band band-primary">band-primary</div>
    <br>
    <br>
    <br>
    <div class="band band-success">band-success</div>
    <br>
    <br>
    <br>
    <div class="band band-warning">band-warning</div>
    <br>
    <br>
    <br>
    <div class="band band-danger">band-danger</div>
    <br>
    <br>
    <br>
    <div class="band band-dark">band-dark</div>
    <br>
    <br>
    <br>
  </div>
</div>
<!--/row-->
{% endblock %}
