{# 
  Nunjucks Templating! 
  Homepage: https://mozilla.github.io/nunjucks/ 
  Docs: https://mozilla.github.io/nunjucks/api.html 
#}
<!-- 模版 -->
{% extends '_layouts/application.html' %}
<!-- 页面标题 -->
{% block title %}{{ global.title }} | Pagination{% endblock %}
<!-- 面包屑导航 -->
{% block breadcrumb %}
<section class="page-header">
  <div class="container">
    <h1 class="page-title">Pagination</h1>
    <p>Documentation and examples for showing pagination to indicate a series of related content exists across multiple pages.</p>
  </div>
</section>
{% endblock %}
<!-- 主体内容 -->
{% block content %}
<div class="container">
  <div>
    <ul class="pagination ">
      <li class="page-item page-prev disabled">
        <a class="page-link" href="#" tabindex="-1">Prev</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item page-next">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </div>
  <div>
    <ul class="pagination ">
      <li class="page-item page-prev disabled">
        <a class="page-link" href="#" tabindex="-1">Prev</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item"><a class="page-link" href="#">6</a></li>
      <li class="page-item"><a class="page-link" href="#">7</a></li>
      <li class="page-item"><a class="page-link" href="#">8</a></li>
      <li class="page-item page-next">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </div>
  <div>
    <ul class="pagination  pagination-pager">
      <li class="page-item page-prev disabled">
        <a class="page-link" href="#" tabindex="-1">Prev</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item page-next">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </div>
  <div>
    <ul class="pagination  pagination-pager">
      <li class="page-item page-prev disabled">
        <a class="page-link" href="#" tabindex="-1">Prev</a>
      </li>
      <li class="page-item page-next">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </div>
  <div>
    <ul class="pagination pagination-simple">
      <li class="page-item page-prev disabled">
        <a class="page-link" href="#" tabindex="-1">Prev</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item page-next">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </div>
  <div class="d-flex align-items-center mb-4">
    <div class="page-total-text ">1-20 of 85 items</div>
    <ul class="pagination m-0">
      <li class="page-item page-prev disabled">
        <a class="page-link" href="#" tabindex="-1">Prev</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item page-next">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </div>
  <h2 id="sizing"><span class="bd-content-title">Sizing<a class="anchorjs-link " href="#sizing" aria-label="Anchor" data-anchorjs-icon="#" style="padding-left: 0.375em;"></a></span></h2>
  <p>Fancy larger or smaller pagination? Add <code class="highlighter-rouge">.pagination-lg</code> or <code class="highlighter-rouge">.pagination-sm</code> for additional sizes.</p>
  <div>
    <ul class="pagination pagination-lg">
      <li class="page-item page-prev disabled">
        <a class="page-link" href="#" tabindex="-1">Prev</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item page-next">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </div>
  <div>
    <ul class="pagination pagination-sm">
      <li class="page-item page-prev disabled">
        <a class="page-link" href="#" tabindex="-1">Prev</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item page-next">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </div>
  <h2 id="alignment"><span class="bd-content-title">Alignment<a class="anchorjs-link " href="#alignment" aria-label="Anchor" data-anchorjs-icon="#" style="padding-left: 0.375em;"></a></span></h2>
  <p>Change the alignment of pagination components with <a href="/docs/4.3/utilities/flex/">flexbox utilities</a>.</p>
  <div>
    <ul class="pagination ">
      <li class="page-item page-prev disabled">
        <a class="page-link" href="#" tabindex="-1">
          <i class="icon icon-arrow-left-s-line"></i>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item page-next">
        <a class="page-link" href="#">
          <i class="icon icon-arrow-right-s-line"></i>
        </a>
      </li>
    </ul>
  </div>
  <div>
    <ul class="pagination justify-content-center">
      <li class="page-item page-prev disabled">
        <a class="page-link" href="#" tabindex="-1">Prev</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item page-next">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </div>
  <div>
    <ul class="pagination justify-content-end">
      <li class="page-item page-prev disabled">
        <a class="page-link" href="#" tabindex="-1">Prev</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item page-next">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </div>
  <h3 class="h5 mb-3">Pagination</h3>
  <!-- Pagination -->
  <div class="row justify-content-between align-items-center mb-4">
    <div class="col-lg">
      <nav aria-label="Bootstrap Pagination Example">
        <ul class="pagination mb-0">
          <li class="page-item">
            <a class="page-link" href="#"><span class="mr-1 d-none d-sm-inline-block">&larr;</span> Previous</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item active">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">4</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">5</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">Next <span class="ml-1 d-none d-sm-inline-block">&rarr;</span></a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-lg text-lg-right mt-1 mt-lg-0">
      <span class="u-font-size-90 text-muted">Page 2 of 5</span>
    </div>
  </div>
  <!-- End Pagination -->
  <!-- Pagination Large -->
  <div class="row justify-content-between align-items-center mb-4">
    <div class="col-lg-8">
      <nav aria-label="Bootstrap Pagination Example">
        <ul class="pagination pagination-lg mb-0">
          <li class="page-item">
            <a class="page-link" href="#"><span class="mr-1">&larr;</span> Previous</a>
          </li>
          <li class="page-item d-none d-lg-block">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item active d-none d-lg-block">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item d-none d-lg-block">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item d-none d-lg-block">
            <a class="page-link" href="#">4</a>
          </li>
          <li class="page-item d-none d-lg-block">
            <a class="page-link" href="#">5</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">Next <span class="ml-1">&rarr;</span></a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-lg text-lg-right mt-2 mt-lg-0">
      <span class="text-muted">Page 2 of 5</span>
    </div>
  </div>
  <!-- End Pagination Large -->
  <h2 class="text-center"><span class="bd-content-title">Border Radius</span></h2>
  <div>
    <ul class="pagination pagination-circle justify-content-center">
      <li class="page-item page-prev disabled">
        <a class="page-link" href="#" tabindex="-1">
          <i class="icon icon-arrow-left-s-line"></i>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item page-next">
        <a class="page-link" href="#">
          <i class="icon icon-arrow-right-s-line"></i>
        </a>
      </li>
    </ul>
  </div>
  <div>
    <ul class="pagination pagination-circle pagination-lg justify-content-center">
      <li class="page-item page-prev disabled">
        <a class="page-link" href="#" tabindex="-1">
          <i class="icon icon-arrow-left-s-line"></i>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item page-next">
        <a class="page-link" href="#">
          <i class="icon icon-arrow-right-s-line"></i>
        </a>
      </li>
    </ul>
  </div>
  <div>
    <ul class="pagination pagination-rounded justify-content-center">
      <li class="page-item page-prev disabled">
        <a class="page-link" href="#" tabindex="-1">Prev</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item page-next">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </div>
  <div>
    <ul class="pagination pagination-rounded pagination-lg justify-content-center">
      <li class="page-item page-prev disabled">
        <a class="page-link" href="#" tabindex="-1">Prev</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item page-next">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </div>
  <hr class="my-7">
  <h3 class="h5 mb-3">Pager</h3>
  <!-- Pager -->
  <nav aria-label="Bootstrap Pager Example">
    <ul class="list-unstyled d-flex justify-content-between align-items-center mb-0">
      <li>
        <a href="#!" class="btn btn-primary pager-btn disabled"><span class="mr-1">&larr;</span> Previous</a>
      </li>
      <li>
        <span class="text-muted">Page 1 of 5</span>
      </li>
      <li>
        <a href="#!" class="btn btn-primary pager-btn">Next <span class="ml-1">&rarr;</span></a>
      </li>
    </ul>
  </nav>
  <!-- End Pager -->
</div>
{% endblock %}
