{# 
  Nunjucks Templating! 
  Homepage: https://mozilla.github.io/nunjucks/ 
  Docs: https://mozilla.github.io/nunjucks/api.html 
#}
<!-- 模版 -->
{% extends '_layouts/application.html' %}
<!-- 页面标题 -->
{% block title %}{{ global.title }} | Dividers{% endblock %}
<!-- 面包屑导航 -->
{% block breadcrumb %}
<section class="page-header">
  <div class="container">
    <h1 class="page-title">Dividers</h1>
    <p>The divider element presented in the following on screen is a line with text in the centre which splits the content.</p>
  </div>
</section>
{% endblock %}
<!-- 主体内容 -->
{% block content %}
{% include "_includes/_parts/interface_dividers.html" %}
{% endblock %}
