{# 
  Nunjucks Templating! 
  Homepage: https://mozilla.github.io/nunjucks/ 
  Docs: https://mozilla.github.io/nunjucks/api.html 
#}
<!-- 模版 -->
{% extends '_layouts/application.html' %}
<!-- 页面标题 -->
{% block title %}{{ global.title }} | Favorite Icons{% endblock %}
<!-- 面包屑导航 -->
{% block breadcrumb %}
<section class="page-header">
  <div class="container">
    <h1 class="page-title">Favorite Icons</h1>
  </div>
</section>
{% endblock %}
<!-- 主体内容 -->
{% block content %}
<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="card-title">Favorite Icons</div>
    </div>
    <div class="card-body">
      <p> For more info <a href="https://github.com/Remix-Design/remixicon" target="_blank">click here</a>.</p>
      <p><code>&lt;i class="icon icon-ICON_NAME"&gt;&lt;/i&gt;</code></p>
      <div class="icons-list-wrap">
        {% for item in iconfonts %}
        <h3>{{ item.name }}</h3>
        <ul class="icons-list">
          {% for icon in item.icons %}
          <li class="icons-list-item"><i class="icon icon-{{ icon }}" data-toggle="tooltip" title="" data-original-title="icon icon-{{ icon }}"></i></li>
          {% endfor %}
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
