{# 
  Nunjucks Templating! 
  Homepage: https://mozilla.github.io/nunjucks/ 
  Docs: https://mozilla.github.io/nunjucks/api.html 
#}
<!-- 模版 -->
{% extends '_layouts/application.html' %}
<!-- 页面标题 -->
{% block title %}{{ global.title }} | Blank Template{% endblock %}
<!-- 面包屑导航 -->
{% block breadcrumb %}
<section class="page-header">
  <div class="container">
    <h1 class="page-title">Page Title</h1>
  </div>
</section>
{% endblock %}
<!-- 主体内容 -->
{% block content %}
<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="card-title">Icon</div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="icon-round">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-round icon-1x">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-round icon-2x">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-round icon-3x">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-round icon-4x">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-round icon-5x">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-round icon-outline">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-round icon-outline icon-1x">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-round icon-outline icon-2x">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-round icon-outline icon-3x">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-round icon-outline icon-4x">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-round icon-outline icon-5x">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
      </div>
      <div class="row mt-6">
        <div class="col">
          <div class="icon-circle">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-circle icon-1x">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-circle icon-2x">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-circle icon-3x">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-circle icon-4x">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-circle icon-5x">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-circle icon-outline">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-circle icon-outline icon-1x">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-circle icon-outline icon-2x">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-circle icon-outline icon-3x">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-circle icon-outline icon-4x">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-circle icon-outline icon-5x">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/card-->
  <div class="card">
    <div class="card-header">
      <div class="card-title">Icon With Color</div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="icon-round icon-4x bg-primary">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-round icon-4x bg-secondary">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-round icon-4x bg-success">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-round icon-4x bg-info">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-round icon-4x bg-warning">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-round icon-4x bg-danger">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-round icon-4x bg-dark">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-round icon-outline icon-4x border-primary">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-round icon-outline icon-4x border-secondary text-secondary">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-round icon-outline icon-4x border-success text-success">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-round icon-outline icon-4x border-info text-info">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-round icon-outline icon-4x border-warning text-warning">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-round icon-outline icon-4x border-danger text-danger">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-round icon-outline icon-4x border-dark text-dark">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
      </div>
      <!--/row-->
      <div class="row mt-6">
        <div class="col">
          <div class="icon-circle icon-4x bg-primary">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-circle icon-4x bg-secondary">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-circle icon-4x bg-success">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-circle icon-4x bg-info">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-circle icon-4x bg-warning">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-circle icon-4x bg-danger">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-circle icon-4x bg-dark">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-circle icon-outline icon-4x border-primary">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-circle icon-outline icon-4x border-secondary text-secondary">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-circle icon-outline icon-4x border-success text-success">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-circle icon-outline icon-4x border-info text-info">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-circle icon-outline icon-4x border-warning text-warning">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-circle icon-outline icon-4x border-danger text-danger">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-circle icon-outline icon-4x border-dark text-dark">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
      </div>
      <!--/row-->
    </div>
  </div>
  <!--/card-->
  <div class="card">
    <div class="card-header">
      <div class="card-title">Icon With Shadow</div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="icon-round shadow-sm">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-round icon-1x shadow-sm">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-round icon-2x shadow">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-round icon-3x shadow">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-round icon-4x shadow">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-round icon-5x shadow">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-round icon-outline shadow-sm">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-round icon-outline icon-1x shadow-sm">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-round icon-outline icon-2x shadow">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-round icon-outline icon-3x shadow">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-round icon-outline icon-4x shadow">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-round icon-outline icon-5x shadow">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
      </div>
      <div class="row mt-6">
        <div class="col">
          <div class="icon-circle shadow-sm">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-circle icon-1x shadow-sm">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-circle icon-2x shadow">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-circle icon-3x shadow">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-circle icon-4x shadow">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-circle icon-5x shadow">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-circle icon-outline shadow-sm">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-circle icon-outline icon-1x shadow-sm">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-circle icon-outline icon-2x shadow">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-circle icon-outline icon-3x shadow">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-circle icon-outline icon-4x shadow">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-circle icon-outline icon-5x shadow">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/card-->
  <div class="card">
    <div class="card-header">
      <div class="card-title">Icon With Inset Shadow</div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="icon-round icon-5x shadow-inset">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-round icon-outline icon-5x shadow-inset">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-circle icon-5x shadow-inset">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-circle icon-outline icon-5x shadow-inset">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/card-->
  <div class="card">
    <div class="card-header">
      <div class="card-title">Icon hexagon</div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="icon-gear icon-1x">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-gear icon-2x">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-gear icon-3x">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-gear icon-4x">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-gear icon-5x">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-gear icon-6x">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
        <div class="col">
          <div class="icon-hexagon">
            <i class="icon icon-stack-fill"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/card-->
</div>
{% endblock %}
