{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

<!-- 模版 -->
{% extends '_layouts/application.html' %}

<!-- 页面标题 -->
{% block title %}{{ title }} | Dashboard{% endblock %}

<!-- 面包屑导航 -->
{% block breadcrumb %}
<section class="content-header">
  <h1>
    Dashboard
    <small>Control panel</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>
{% endblock %}

<!-- 主体内容 -->
{% block content %}

{% endblock %}