{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

<!-- 模版 -->
{% extends '_layouts/application.html' %}

<!-- 页面标题 -->
{% block title %}{{ title }} | Blank Page{% endblock %}

<!-- 自定义样式 -->
{% block style %}
{% endblock %}

<!-- 面包屑导航 -->
{% block breadcrumb %}
<section class="content-header">
  <h1>
    Blank page
    <small>it all starts here</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Examples</a></li>
    <li class="active">Blank page</li>
  </ol>
</section>
{% endblock %}

<!-- 主体内容 -->
{% block content %}
<div class="section highlight-left" style="background-image:url(assets/images/photo1.png); background-attachment:fixed; background-size:cover; -webkit-background-size:cover">
  <div class="section_wrapper row">
    <div class="col-md-6">
      <div class="content-container px-5 py-max">
        <div class="content text-white">
          <h2 class="mb-6">Phasellus fermentum</h2>
          <p>Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis.</p>
          <p>Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non, consectetuer lobortis quis, varius in, purus. Integer ultrices posuere cubilia Curae, Nulla ipsum dolor lacus, suscipit adipiscing. </p>
          <p class="mb-6"></p>
          <a class="btn btn-outline" href="#" style=" color:#fff;"><span class="button_label">SEE MORE</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section highlight-right" style="background-image:url(assets/images/photo2.png); background-attachment:fixed; background-size:cover; -webkit-background-size:cover">
  <div class="section_wrapper row">
    <div class="col-md-6">
      <div class="content-container">
        <div class="placeholder">&nbsp;</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="content-container px-5 py-max">
        <div class="content text-white">
          <h2 class="mb-6">Phasellus fermentum</h2>
          <p>Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis.</p>
          <p>Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non, consectetuer lobortis quis, varius in, purus. Integer ultrices posuere cubilia Curae, Nulla ipsum dolor lacus, suscipit adipiscing. </p>
          <p class="mb-6"></p>
          <a class="btn btn-outline" href="#" style=" color:#fff;"><span class="button_label">SEE MORE</span></a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}