{# 
  Nunjucks Templating! 
  Homepage: https://mozilla.github.io/nunjucks/ 
  Docs: https://mozilla.github.io/nunjucks/api.html 
#}
<!-- 模版 -->
{% extends '_layouts/application.html' %}
<!-- 页面标题 -->
{% block title %}{{ global.title }} | Match Height{% endblock %}
<!-- Custom Style -->
{% block style %} 
<style type="text/css">
  /* test items */

.items-container,
.data-api-items,
.target-items {
    overflow: hidden;
    margin: 0 -1%;
}

.item {
    display: block;
    float: left;
    width: 23%;
    padding: 20px;
    margin: 1%;
    background: #00A0B0;
}

.item p {
    color: rgba(255,255,255,0.6);
    line-height: 1.5;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.item h2,
.item h3,
.item h4 {
    color: #fff;
    margin: 0 0 1em 0;
    font-weight: normal;
}

.item h2 {
    font-size: 24px;
}

.item h3 {
    font-size: 20px;
}

.item h4 {
    font-size: 16px;
}

.item-0 { background: #00A0B0; border-color: #008795 !important; }
.item-1 { background: #6A4A3C; border-color: #52392e !important; }
.item-2 { background: #CC333F; border-color: #ad2b35 !important; }
.item-3 { background: #EB6841; border-color: #ca5938 !important; }
.item-4 { background: #EDC951; border-color: #d8b74a !important; }
.item-5 { background: #00A0B0; border-color: #008795 !important; }
.item-6 { background: #6A4A3C; border-color: #52392e !important; }
.item-7 { background: #CC333F; border-color: #ad2b35 !important; }
.item-8 { background: #EB6841; border-color: #ca5938 !important; }
.item-9 { background: #EDC951; border-color: #d8b74a !important; }
.item-10 { background: #00A0B0; border-color: #008795 !important; }
.item-11 { background: #6A4A3C; border-color: #52392e !important; }

.item img {
    display: block;
    max-width: 100%;
}

.item p:last-child {
    margin-bottom: 0;
}

.items-container.nested-items-parent .item {
    width: 48%;
}
</style>
{% endblock %}
<!-- 面包屑导航 -->
{% block breadcrumb %}
<section class="page-header">
  <div class="container">
    <h1 class="page-title">matchHeight</h1>
    <p>matchHeight makes the height of all selected elements exactly equal.</p>
    <a class="btn btn-primary" href="http://brm.io/jquery-match-height/" target="_blank">Website</a>
    <a class="btn btn-dark" href="https://github.com/liabru/jquery-match-height" target="_blank">Github</a>
  </div>
</section>
{% endblock %}
<!-- 主体内容 -->
{% block content %}
<div class="container">
  <div class="items-container simple-items">
    <div class="item item-0" data-toggle="match-height">
      <h2>Lorem ipsum</h2>
      <p>Phasellus ut nibh fermentum, vulputate urna vel, semper diam.</p>
      <p>Aenean semper felis ipsum, vulputate consequat dui elementum vel.</p>
    </div>
    <div class="item item-1" data-toggle="match-height">
      <h3>Lorem ipsum dolor</h3>
      <p>Phasellus ut nibh fermentum, vulputate urna vel, semper diam. Nunc sollicitudin felis ut pellentesque fermentum. In erat mi, pulvinar sit amet tincidunt vitae, gravida id felis. Phasellus hendrerit erat sed porta imperdiet. Vivamus viverra ipsum tortor, et congue mauris porttitor ut.</p>
    </div>
    <div class="item item-2">
      <h4>Lorem ipsum dolor sit amet.</h4>
      <p>Aenean semper felis ipsum, vulputate consequat dui elementum vel. Nullam odio eros, sagittis vitae lectus id, pretium viverra lectus. Etiam auctor dolor non dui ultricies pulvinar.</p>
    </div>
    <div class="item item-3">
      <h3>Lorem ipsum dolor</h3>
      <p>Aenean semper.</p>
    </div>
    <div class="item item-4">
      <h3>Lorem ipsum dolor</h3>
      <p>Phasellus ut nibh fermentum, vulputate urna vel, semper diam. Nunc sollicitudin felis ut pellentesque fermentum. In erat mi, pulvinar sit amet tincidunt vitae, gravida id felis.</p>
    </div>
    <div class="item item-5">
      <h3>Lorem ipsum dolor</h3>
      <p>Aenean semper felis ipsum, vulputate consequat dui elementum vel.</p>
    </div>
    <div class="item item-6">
      <h3>Lorem ipsum dolor</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
    </div>
    <div class="item item-7">
      <h3>Lorem ipsum dolor</h3>
      <p>Phasellus ut nibh fermentum, vulputate urna vel, semper diam.</p>
    </div>
  </div>
</div>
{% endblock %}
