{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

<!-- 模版 -->
{% extends '_layouts/application.html' %}

<!-- 页面标题 -->
{% block title %}{{ global.title }} | OverView{% endblock %}

<!-- 面包屑导航 -->
{% block breadcrumb %}
<section class="page-header">
  <div class="container">
    <h1 class="page-title">OverView</h1>
  </div>
</section>
{% endblock %}

<!-- 主体内容 -->
{% block content %}
{% include "_includes/_parts/utilities_opacity.html" %}
{% include "_includes/_parts/utilities_position.html" %}
{% include "_includes/_parts/utilities_overflow.html" %}
{% include "_includes/_parts/utilities_image-replacement.html" %}
{% include "_includes/_parts/utilities_shadows.html" %}
{% endblock %}