{# 
  Nunjucks Templating! 
  Homepage: https://mozilla.github.io/nunjucks/ 
  Docs: https://mozilla.github.io/nunjucks/api.html 
#}
<!-- 模版 -->
{% extends '_layouts/application.html' %}
<!-- 页面标题 -->
{% block title %}{{ global.title }} | Owl Carousel 2{% endblock %}
<!-- 面包屑导航 -->
{% block breadcrumb %}
<section class="page-header">
  <div class="container">
    <h1 class="page-title">Owl Carousel 2</h1>
    <p>Touch enabled jQuery plugin that lets you create a beautiful responsive carousel slider.</p>
    <a class="btn btn-primary" href="http://owlcarousel2.github.io/OwlCarousel2/" target="_blank">Website</a>
    <a class="btn btn-dark" href="https://github.com/OwlCarousel2/OwlCarousel2" target="_blank">Github</a>
  </div>
</section>
{% endblock %}
<!-- 主体内容 -->
{% block content %}
<div class="container">
  <!-- Basic Init -->
  <div class="owl-carousel owl-theme" data-margin="15">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Card title</h3>
      </div>
      <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Card title</h3>
      </div>
      <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Card title</h3>
      </div>
      <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Card title</h3>
      </div>
      <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Card title</h3>
      </div>
      <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
      </div>
    </div>
  </div>
  <!-- Init with autoplay -->
  <div class="owl-carousel owl-theme" data-autoplay="true" data-margin="15">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Card title</h3>
      </div>
      <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Card title</h3>
      </div>
      <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Card title</h3>
      </div>
      <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Card title</h3>
      </div>
      <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Card title</h3>
      </div>
      <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Card title</h3>
      </div>
      <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
      </div>
    </div>
  </div>
  <!-- Init with autoplay and Inifnity loop -->
  <div class="owl-carousel owl-theme" data-autoplay="true" data-loop="true" data-margin="15">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Card title</h3>
      </div>
      <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Card title</h3>
      </div>
      <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Card title</h3>
      </div>
      <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
      </div>
    </div>
  </div>
  <!-- Init with autoplay and Inifnity loop with Navigation arrows & dots -->
  <div class="owl-carousel owl-theme" data-autoplay="true" data-loop="true" data-nav="true" data-dots="true" data-margin="15" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":5}}'>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Card title</h3>
      </div>
      <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Card title</h3>
      </div>
      <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Card title</h3>
      </div>
      <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Card title</h3>
      </div>
      <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Card title</h3>
      </div>
      <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Card title</h3>
      </div>
      <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Card title</h3>
      </div>
      <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Card title</h3>
      </div>
      <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Card title</h3>
      </div>
      <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
      </div>
    </div>
  </div>
</div>
{% endblock %}
