{# 
  Nunjucks Templating! 
  Homepage: https://mozilla.github.io/nunjucks/ 
  Docs: https://mozilla.github.io/nunjucks/api.html 
#}
<!-- 模版 -->
{% extends '_layouts/application.html' %}
<!-- 页面标题 -->
{% block title %}{{ global.title }} | Mega Menu{% endblock %}
<!-- Custom Style -->
{% block style %}
<link href="assets/plugins/megamenu/maxmegamenu.css" rel="stylesheet">
<link href="assets/plugins/megamenu/maxmegamenu-pro.css" rel="stylesheet">
{% endblock %}
<!-- 面包屑导航 -->
{% block breadcrumb %}
<!-- <section class="page-header">
  <div class="container">
    <h1 class="page-title">Mega Menu</h1>
    <a class="btn btn-primary" href="https://www.megamenu.com" target="_blank">Website</a>
  </div>
</section> -->
{% endblock %}
<!-- 主体内容 -->
{% block content %}
{% include "_includes/_parts/plugin-megamenu.html" %}
{% include "_includes/_parts/plugin-megamenu-pro.html" %}
<script type='text/javascript'>
/* <![CDATA[ */
var megamenu = {"timeout":"300","interval":"100"};
/* ]]> */
</script>
<script>
require(['jquery', 'maxmegamenu'], function($, maxmegamenu) {
  console.log("maxmegamenu Loaded :)");
});
</script>
{% endblock %}
