{# 
  Nunjucks Templating! 
  Homepage: https://mozilla.github.io/nunjucks/ 
  Docs: https://mozilla.github.io/nunjucks/api.html 
#}
<!-- 模版 -->
{% extends '_layouts/application.html' %}
<!-- 页面标题 -->
{% block title %}{{ global.title }} | Waterfall{% endblock %}
<!-- 面包屑导航 -->
{% block breadcrumb %}
<section class="page-header">
  <div class="container">
    <h1 class="page-title">Macy.js</h1>
    <p>Macy.js is a lightweight, dependency-free, 4kb masonry layout library, designed for a hassle-free configuration.</p>
    <a class="btn btn-primary" href="http://macyjs.com" target="_blank">Website</a>
    <a class="btn btn-dark" href="https://github.com/bigbite/macy.js" target="_blank">Github</a>
  </div>
</section>
{% endblock %}
<!-- 主体内容 -->
{% block content %}
<section>
  <div class="container">
    <h2>Waterfall with lightbox</h2>
    <div id="waterfall-container1" class="waterfall-grid" data-container="#waterfall-container1" data-margin="10" data-columns="4" data-responsive='{"1200": 5,"940": 4,"520": 2,"400": 2}'>
      <div class="item">
        <a data-fancybox="group" href="assets/images/demo/adrian-infernus-281832-1500.jpg">
          <img src="assets/images/demo/adrian-infernus-281832-500.jpg">
        </a>
      </div>
      <!--/ item -->
      <div class="item">
        <a data-fancybox="group" href="assets/images/demo/grant-ritchie-338179-1500.jpg">
          <img src="assets/images/demo/grant-ritchie-338179-500.jpg">
        </a>
      </div>
      <!--/ item -->
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2>Waterfall</h2>
    <div id="waterfall-container2" class="waterfall-grid" data-container="#waterfall-container2" data-margin="10" data-columns="4" data-responsive='{"1200": 6,"940": 4,"520": 2,"400": 2}'>
      <div class="demo"><img src="http://placerabbit.com/602/660/" alt="" class="demo-image"></div>
      <div class="demo"><img src="http://placerabbit.com/660/646/" alt="" class="demo-image"></div>
      <div class="demo"><img src="http://placerabbit.com/741/375/" alt="" class="demo-image"></div>
      <div class="demo"><img src="http://placerabbit.com/813/455/" alt="" class="demo-image"></div>
      <div class="demo"><img src="http://placerabbit.com/470/896/" alt="" class="demo-image"></div>
      <div class="demo"><img src="http://placerabbit.com/664/653/" alt="" class="demo-image"></div>
      <div class="demo"><img src="http://placerabbit.com/708/313/" alt="" class="demo-image"></div>
      <div class="demo"><img src="http://placerabbit.com/738/578/" alt="" class="demo-image"></div>
      <div class="demo"><img src="http://placerabbit.com/458/482/" alt="" class="demo-image"></div>
      <div class="demo"><img src="http://placerabbit.com/439/856/" alt="" class="demo-image"></div>
      <div class="demo"><img src="http://placerabbit.com/549/315/" alt="" class="demo-image"></div>
      <div class="demo"><img src="http://placerabbit.com/877/693/" alt="" class="demo-image"></div>
      <div class="demo"><img src="http://placerabbit.com/542/805/" alt="" class="demo-image"></div>
      <div class="demo"><img src="http://placerabbit.com/683/445/" alt="" class="demo-image"></div>
      <div class="demo"><img src="http://placerabbit.com/616/340/" alt="" class="demo-image"></div>
      <div class="demo"><img src="http://placerabbit.com/533/317/" alt="" class="demo-image"></div>
      <div class="demo"><img src="http://placerabbit.com/700/894/" alt="" class="demo-image"></div>
      <div class="demo"><img src="http://placerabbit.com/663/541/" alt="" class="demo-image"></div>
      <div class="demo"><img src="http://placerabbit.com/368/575/" alt="" class="demo-image"></div>
      <div class="demo"><img src="http://placerabbit.com/696/538/" alt="" class="demo-image"></div>
      <div class="demo"><img src="http://placerabbit.com/571/460/" alt="" class="demo-image"></div>
      <div class="demo"><img src="http://placerabbit.com/892/379/" alt="" class="demo-image"></div>
      <div class="demo"><img src="http://placerabbit.com/473/729/" alt="" class="demo-image"></div>
      <div class="demo"><img src="http://placerabbit.com/657/632/" alt="" class="demo-image"></div>
      <div class="demo"><img src="http://placerabbit.com/311/796/" alt="" class="demo-image"></div>
      <div class="demo"><img src="http://placerabbit.com/588/561/" alt="" class="demo-image"></div>
      <div class="demo"><img src="http://placerabbit.com/812/564/" alt="" class="demo-image"></div>
      <div class="demo"><img src="http://placerabbit.com/353/454/" alt="" class="demo-image"></div>
      <div class="demo"><img src="http://placerabbit.com/468/737/" alt="" class="demo-image"></div>
      <div class="demo"><img src="http://placerabbit.com/600/784/" alt="" class="demo-image"></div>
      <div class="demo"><img src="http://placerabbit.com/777/833/" alt="" class="demo-image"></div>
      <div class="demo"><img src="http://placerabbit.com/801/576/" alt="" class="demo-image"></div>
      <div class="demo"><img src="http://placerabbit.com/826/564/" alt="" class="demo-image"></div>
      <div class="demo"><img src="http://placerabbit.com/390/240/" alt="" class="demo-image"></div>
      <div class="demo"><img src="http://placerabbit.com/390/130/" alt="" class="demo-image"></div>
    </div>
  </div>
</section>
{% endblock %}
