{# 
  Nunjucks Templating! 
  Homepage: https://mozilla.github.io/nunjucks/ 
  Docs: https://mozilla.github.io/nunjucks/api.html 
#}
<!-- 模版 -->
{% extends '_layouts/application.html' %}
<!-- 页面标题 -->
{% block title %}{{ global.title }} | FAQ{% endblock %}
<!-- 面包屑导航 -->
{% block breadcrumb %}
<section class="page-header">
  <div class="container">
    <div class="page-header">
      <h1 class="page-title">FAQ</h1>
      <div class="page-subtitle">1 - 12 of 1713 photos</div>
      <div class="page-options d-flex">
        <select class="form-control custom-select w-auto">
          <option value="asc">Newest</option>
          <option value="desc">Oldest</option>
        </select>
        <div class="input-icon ml-2">
          <span class="input-icon-addon">
          <i class="icon icon-search-line"></i>
        </span>
          <input type="text" class="form-control w-10" placeholder="Search photo">
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
<!-- 主体内容 -->
{% block content %}
{% include "_includes/_post-type/faq/list-faq.html" %}
{% include "_includes/_common/pagination.html" %}
{% endblock %}
