{# Nunjucks Templating! Homepage: https://mozilla.github.io/nunjucks/ Docs: https://mozilla.github.io/nunjucks/api.html #}
<!-- 模版 -->
{% extends '_layouts/application.html' %}
<!-- 页面标题 -->
{% block title %}{{ global.title }} | Text{% endblock %}
<!-- Custom Style -->
{% block style %}
<style>
.bd-highlight {
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.15);
}
</style>
{% endblock %}
<!-- 面包屑导航 -->
{% block breadcrumb %}
<!-- <section class="page-header">
  <div class="container">
    <h1 class="page-title">排版<small class="ml-2">Text</small></h1>
  </div>
</section> -->
{% endblock %}
<!-- 主体内容 -->
{% block content %}
{% include "_includes/_parts/utilities_text.html" %}
{% include "_includes/_parts/utilities_vertical-align.html" %}
{% endblock %}
