{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

<!-- 模版 -->
{% extends '_layouts/application.html' %}

<!-- 页面标题 -->
{% block title %}{{ title }} | Timeline{% endblock %}

<!-- 自定义样式 -->
{% block style %}
{% endblock %}

<!-- 面包屑导航 -->
{% block breadcrumb %}
<section class="content-header">
  <h1>
    Timeline
    <small>example</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">UI</a></li>
    <li class="active">Timeline</li>
  </ol>
</section>
{% endblock %}

<!-- 主体内容 -->
{% block content %}
<!-- row -->
<!-- /.row -->
{% endblock %}