/*
|--------------------------------------------------------------------------
| post - 文章
|--------------------------------------------------------------------------
*/

@if($enable-type-post) {
  .entry-post {
    border-radius: .25rem;
    overflow: hidden;
  }
  .entry-post {
    background-color: #fff;
    border: 1px solid $border-color;
    // box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    // overflow: hidden;
    .entry-body,
    .entry-footer {
      position: relative;
      z-index: 3;
    }
    .entry-date {
      display: block;
      position: absolute;
      top: 15px;
      left: 15px;
      color: #fff;
      -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
      -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
      -ms-text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
      text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
      text-align: center;
      .day {
        display: block;
        font-size: 48px;
        line-height: 1.0;
      }
    }
    .entry-title {
      @include text-line-clamp(18px, 1.15, 2);
      word-wrap: break-word;
      white-space: normal;
      a {
        word-wrap: break-word;
        word-break: break-all;
      }
    }
    .entry-meta {
      .meta-comment,
      .meta-read {
        float: right;
      }
    }
    .entry-thumb {
      overflow: hidden;
      img {
        width: 100%;
        max-width: 100%;
        height: auto
      }
    }
    .entry-link {
      display: block;
      @include clearfix;
      .icon-arrow {
        float: right
      }
    }
    .entry-header {
      padding: 15px 15px;
      border-bottom: 1px solid $border-color;
      @include clearfix;
    }
    .entry-body {
      position: relative;
      background-color: #fff;
      padding: 15px 15px;
      @include clearfix;
    }
    .entry-footer {
      background-color: #fff;
      border-top: 1px solid $border-color;
      @include clearfix;
      a {
        display: block;
        padding: 12px 15px;
      }
    }
    .entry-link {
      display: none;
    }
    .entry-share {
      position: absolute;
      right: 0;
      top: -24px;
      background-color: #fff;
      padding: 0 15px;
    }
  }
  // img-holder
  .entry-post {
    .img-holder {
      padding-bottom: 60%;
    }
  }
  // 文章列表
  .post-list {
    .owl-carousel {
      .item {
        margin-top: 5px
      }
    }
    @include media-breakpoint-up(md) {
      .entry {
        // border: 0;
        &:hover {
          // -webkit-transform: translateY(-2px);
          // -ms-transform: translateY(-2px);
          // transform: translateY(-2px);
          .entry-extra {
            display: block;
            z-index: 1;
            .icon {
              transform: scale(1);
              -ms-transform: scale(1);
              -moz-transform: scale(1);
              -webkit-transform: scale(1);
              -o-transform: scale(1);
            }
            &:before {
              display: block;
              content: '';
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              background: $primary;
              opacity: 0.75;
              z-index: 1;
            }
          }
        }
      }
    }
  }
}
