.dropdown-menu:after,
.dropdown-menu:before {
  border-color: transparent;
  border-style: solid;
  border-width: 8px;
  content: " ";
  height: 0;
  left: 15px;
  pointer-events: none;
  position: absolute;
  width: 0
}

.dropdown:not(.dropup) .dropdown-menu:before {
  border-bottom-color: #cad6e2;
  bottom: 100%
}

.dropdown:not(.dropup) .dropdown-menu:after {
  border-bottom-color: #fff;
  bottom: 100%;
  margin-bottom: -1px
}

.dropup:not(.dropdown) .dropdown-menu:before {
  border-top-color: #cad6e2;
  top: 100%
}

.dropup:not(.dropdown) .dropdown-menu:after {
  border-top-color: #fff;
  margin-top: -1px;
  top: 100%
}

.dropdown-menu-right:after,
.dropdown-menu-right:before {
  left: auto;
  right: 15px
}