<div class="container">
  <!-- Card with Accordion -->
  <div class="card">
    <header class="card-header">
      <h2 class="h3 card-header-title">Card Accordions</h2>
    </header>
    <div class="card-body p-0">
      <div class="accordion" id="accordionExample">
        <div class="card border-0">
          <div id="headingOne" class="card-header">
            <a class="btn-block collapsed" href="#!" aria-expanded="false" aria-controls="collapseOne" data-toggle="collapse" data-target="#collapseOne">Accordion #1</a>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <p class="card-text">The purpose of your brochure may differ from business to business. Some are designed to display services, whereas others are focused on selling an idea. No matter what the focus of the brochure is, it needs to be readable, intriguing, and functional. The brochure must grab a viewer’s</p>
            </div>
          </div>
        </div>
        <div class="card border-0">
          <div id="headingTwo" class="card-header">
            <a class="btn-block" href="#!" aria-expanded="true" aria-controls="collapseTwo" data-toggle="collapse" data-target="#collapseTwo">Accordion #2</a>
          </div>
          <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              <p class="card-text">The purpose of your brochure may differ from business to business. Some are designed to display services, whereas others are focused on selling an idea. No matter what the focus of the brochure is, it needs to be readable, intriguing, and functional. The brochure must grab a viewer’s</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Card with Accordion -->
</div>
