<section>
  <div class="container">
    <h2>Ribbon Triangle</h2>
    <div class="row">
      <div class="col-xs-3">
        <div class="card">
          <div class="ribbon-triangle triangle-tl"><span>★</span></div>
          <div class="ribbon-triangle triangle-tr"><span>★</span></div>
          <div class="ribbon-triangle triangle-bl"><span>★</span></div>
          <div class="ribbon-triangle triangle-br"><span>★</span></div>
          <!-- <div class="shape shape-tr">
            <div class="shape-text"> top </div>
          </div> -->
          <div class="card-body">
            <h3 class="lead"> A default offer </h3>
            <p> And a little description.
              <br> and so one </p>
          </div>
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
</section>
<section>
  <div class="container">
    <h2>Ribbon Rect</h2>
    <div class="row">
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <a class="figure figure-img" href="#">
            <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
            <div class="ribbon-rect position-tl"># label</div>
            <div class="ribbon-rect position-tr"># label</div>
            <div class="ribbon-rect position-bl"># label</div>
            <div class="ribbon-rect position-br"># label</div>
          </a>
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <a class="figure figure-img" href="#">
            <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
            <div class="ribbon-rect bg-primary position-tl"># label</div>
            <div class="ribbon-rect bg-primary position-tr"># label</div>
            <div class="ribbon-rect bg-primary position-bl"># label</div>
            <div class="ribbon-rect bg-primary position-br"># label</div>
          </a>
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <a class="figure figure-img" href="#">
            <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
            <div class="ribbon-rect bg-info position-tl"># label</div>
            <div class="ribbon-rect bg-info position-tr"># label</div>
            <div class="ribbon-rect bg-info position-bl"># label</div>
            <div class="ribbon-rect bg-info position-br"># label</div>
          </a>
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <a class="figure figure-img" href="#">
            <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
            <div class="ribbon-rect bg-success position-tl"># label</div>
            <div class="ribbon-rect bg-success position-tr"># label</div>
            <div class="ribbon-rect bg-success position-bl"># label</div>
            <div class="ribbon-rect bg-success position-br"># label</div>
          </a>
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <a class="figure figure-img" href="#">
            <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
            <div class="ribbon-rect bg-warning position-tl"># label</div>
            <div class="ribbon-rect bg-warning position-tr"># label</div>
            <div class="ribbon-rect bg-warning position-bl"># label</div>
            <div class="ribbon-rect bg-warning position-br"># label</div>
          </a>
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <a class="figure figure-img" href="#">
            <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
            <div class="ribbon-rect bg-danger position-tl"># label</div>
            <div class="ribbon-rect bg-danger position-tr"># label</div>
            <div class="ribbon-rect bg-danger position-bl"># label</div>
            <div class="ribbon-rect bg-danger position-br"># label</div>
          </a>
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <a class="figure figure-img" href="#">
            <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
            <div class="ribbon-rect bg-dark position-tl"># label</div>
            <div class="ribbon-rect bg-dark position-tr"># label</div>
            <div class="ribbon-rect bg-dark position-bl"># label</div>
            <div class="ribbon-rect bg-dark position-br"># label</div>
          </a>
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <a class="figure figure-img" href="#">
            <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
            <div class="ribbon-rect bg-white position-tl"># label</div>
            <div class="ribbon-rect bg-white position-tr"># label</div>
            <div class="ribbon-rect bg-white position-bl"># label</div>
            <div class="ribbon-rect bg-white position-br"># label</div>
          </a>
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <a class="figure figure-img" href="#">
            <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!">
            <span class="ribbon-rect ribbon-rect-rounded position-tl bg-info"># label</span>
          </a>
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
            <div class="d-flex align-items-center pt-5 mt-auto">
              <div class="avatar avatar-md mr-3" style="background-image: url(assets/images/avatars/female/7.jpg)"></div>
              <div>
                <a href="./profile.html" class="text-default">Michelle Ross</a>
                <small class="d-block text-muted">3 days ago</small>
              </div>
              <div class="ml-auto text-muted">
                <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="icon icon-heart-line mr-1"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <a class="figure figure-img" href="#">
            <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!">
            <span class="ribbon-rect ribbon-rect-rounded position-bl"># label</span>
          </a>
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
            <div class="d-flex align-items-center pt-5 mt-auto">
              <div class="avatar avatar-md mr-3" style="background-image: url(assets/images/avatars/female/7.jpg)"></div>
              <div>
                <a href="./profile.html" class="text-default">Michelle Ross</a>
                <small class="d-block text-muted">3 days ago</small>
              </div>
              <div class="ml-auto text-muted">
                <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="icon icon-heart-line mr-1"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <a class="figure figure-img" href="#">
            <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!">
            <span class="ribbon-rect ribbon-rect-rounded position-tr"># label</span>
          </a>
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
            <div class="d-flex align-items-center pt-5 mt-auto">
              <div class="avatar avatar-md mr-3" style="background-image: url(assets/images/avatars/female/7.jpg)"></div>
              <div>
                <a href="./profile.html" class="text-default">Michelle Ross</a>
                <small class="d-block text-muted">3 days ago</small>
              </div>
              <div class="ml-auto text-muted">
                <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="icon icon-heart-line mr-1"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <a class="figure figure-img" href="#">
            <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!">
            <span class="ribbon-rect ribbon-rect-rounded position-br bg-primary"># label</span>
          </a>
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
            <div class="d-flex align-items-center pt-5 mt-auto">
              <div class="avatar avatar-md mr-3" style="background-image: url(assets/images/avatars/female/7.jpg)"></div>
              <div>
                <a href="./profile.html" class="text-default">Michelle Ross</a>
                <small class="d-block text-muted">3 days ago</small>
              </div>
              <div class="ml-auto text-muted">
                <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="icon icon-heart-line mr-1"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2>Ribbon Square</h2>
    <div class="row">
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <a class="figure figure-img" href="#">
            <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
            <div class="ribbon-square position-tl"><span>+</span></div>
            <div class="ribbon-square position-tr"><span>+</span></div>
            <div class="ribbon-square position-bl"><span>+</span></div>
            <div class="ribbon-square position-br"><span>+</span></div>
          </a>
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <a class="figure figure-img" href="#">
            <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
            <div class="ribbon-square bg-primary position-tl"><span>+</span></div>
            <div class="ribbon-square bg-primary position-tr"><span>+</span></div>
            <div class="ribbon-square bg-primary position-bl"><span>+</span></div>
            <div class="ribbon-square bg-primary position-br"><span>+</span></div>
          </a>
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <a class="figure figure-img" href="#">
            <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
            <div class="ribbon-square bg-info position-tl"><span>+</span></div>
            <div class="ribbon-square bg-info position-tr"><span>+</span></div>
            <div class="ribbon-square bg-info position-bl"><span>+</span></div>
            <div class="ribbon-square bg-info position-br"><span>+</span></div>
          </a>
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <a class="figure figure-img" href="#">
            <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
            <div class="ribbon-square bg-success position-tl"><span>+</span></div>
            <div class="ribbon-square bg-success position-tr"><span>+</span></div>
            <div class="ribbon-square bg-success position-bl"><span>+</span></div>
            <div class="ribbon-square bg-success position-br"><span>+</span></div>
          </a>
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <a class="figure figure-img" href="#">
            <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
            <div class="ribbon-square bg-warning position-tl"><span>+</span></div>
            <div class="ribbon-square bg-warning position-tr"><span>+</span></div>
            <div class="ribbon-square bg-warning position-bl"><span>+</span></div>
            <div class="ribbon-square bg-warning position-br"><span>+</span></div>
          </a>
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <a class="figure figure-img" href="#">
            <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
            <div class="ribbon-square bg-danger position-tl"><span>+</span></div>
            <div class="ribbon-square bg-danger position-tr"><span>+</span></div>
            <div class="ribbon-square bg-danger position-bl"><span>+</span></div>
            <div class="ribbon-square bg-danger position-br"><span>+</span></div>
          </a>
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <a class="figure figure-img" href="#">
            <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
            <div class="ribbon-square bg-dark position-tl"><span>+</span></div>
            <div class="ribbon-square bg-dark position-tr"><span>+</span></div>
            <div class="ribbon-square bg-dark position-bl"><span>+</span></div>
            <div class="ribbon-square bg-dark position-br"><span>+</span></div>
          </a>
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <a class="figure figure-img" href="#">
            <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
            <div class="ribbon-square bg-white position-tl"><span>+</span></div>
            <div class="ribbon-square bg-white position-tr"><span>+</span></div>
            <div class="ribbon-square bg-white position-bl"><span>+</span></div>
            <div class="ribbon-square bg-white position-br"><span>+</span></div>
          </a>
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2>Ribbon Half Circle</h2>
    <div class="row">
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <a class="figure figure-img" href="#">
            <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
            <div class="ribbon-half-circle position-tl"># label</div>
            <div class="ribbon-half-circle position-tr"># label</div>
            <div class="ribbon-half-circle position-bl"># label</div>
            <div class="ribbon-half-circle position-br"># label</div>
          </a>
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <a class="figure figure-img" href="#">
            <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
            <div class="ribbon-half-circle bg-primary position-tl"># label</div>
            <div class="ribbon-half-circle bg-primary position-tr"># label</div>
            <div class="ribbon-half-circle bg-primary position-bl"># label</div>
            <div class="ribbon-half-circle bg-primary position-br"># label</div>
          </a>
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <a class="figure figure-img" href="#">
            <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
            <div class="ribbon-half-circle bg-info position-tl"># label</div>
            <div class="ribbon-half-circle bg-info position-tr"># label</div>
            <div class="ribbon-half-circle bg-info position-bl"># label</div>
            <div class="ribbon-half-circle bg-info position-br"># label</div>
          </a>
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <a class="figure figure-img" href="#">
            <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
            <div class="ribbon-half-circle bg-success position-tl"># label</div>
            <div class="ribbon-half-circle bg-success position-tr"># label</div>
            <div class="ribbon-half-circle bg-success position-bl"># label</div>
            <div class="ribbon-half-circle bg-success position-br"># label</div>
          </a>
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <a class="figure figure-img" href="#">
            <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
            <div class="ribbon-half-circle bg-warning position-tl"># label</div>
            <div class="ribbon-half-circle bg-warning position-tr"># label</div>
            <div class="ribbon-half-circle bg-warning position-bl"># label</div>
            <div class="ribbon-half-circle bg-warning position-br"># label</div>
          </a>
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <a class="figure figure-img" href="#">
            <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
            <div class="ribbon-half-circle bg-danger position-tl"># label</div>
            <div class="ribbon-half-circle bg-danger position-tr"># label</div>
            <div class="ribbon-half-circle bg-danger position-bl"># label</div>
            <div class="ribbon-half-circle bg-danger position-br"># label</div>
          </a>
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <a class="figure figure-img" href="#">
            <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
            <div class="ribbon-half-circle bg-dark position-tl"># label</div>
            <div class="ribbon-half-circle bg-dark position-tr"># label</div>
            <div class="ribbon-half-circle bg-dark position-bl"># label</div>
            <div class="ribbon-half-circle bg-dark position-br"># label</div>
          </a>
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <a class="figure figure-img" href="#">
            <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
            <div class="ribbon-half-circle bg-white position-tl"># label</div>
            <div class="ribbon-half-circle bg-white position-tr"># label</div>
            <div class="ribbon-half-circle bg-white position-bl"># label</div>
            <div class="ribbon-half-circle bg-white position-br"># label</div>
          </a>
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2>Ribbon Corner</h2>
    <div class="row">
      <div class="col-xs-3">
        <div class="card overflow-hidden">
          <div class="ribbon-corner position-tl"><span>Hello</span></div>
          <div class="ribbon-corner position-tr"><a href="#">Hello</a></div>
          <div class="ribbon-corner position-bl"><span>Hello</span></div>
          <div class="ribbon-corner position-br"><a href="#">Hello</a></div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!">
          <div class="card-body">
            <h3 class="lead"> A default offer </h3>
            <p> And a little description.
              <br> and so one </p>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="card overflow-hidden">
          <div class="ribbon-corner position-tl bg-primary"><span>Hello</span></div>
          <div class="ribbon-corner position-tr bg-primary"><a href="#">Hello</a></div>
          <div class="ribbon-corner position-bl bg-primary"><span>Hello</span></div>
          <div class="ribbon-corner position-br bg-primary"><a href="#">Hello</a></div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!">
          <div class="card-body">
            <h3 class="lead"> A default offer </h3>
            <p> And a little description.
              <br> and so one </p>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="card overflow-hidden">
          <div class="ribbon-corner position-tl bg-info"><span>Hello</span></div>
          <div class="ribbon-corner position-tr bg-info"><a href="#">Hello</a></div>
          <div class="ribbon-corner position-bl bg-info"><span>Hello</span></div>
          <div class="ribbon-corner position-br bg-info"><a href="#">Hello</a></div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!">
          <div class="card-body">
            <h3 class="lead"> A default offer </h3>
            <p> And a little description.
              <br> and so one </p>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="card overflow-hidden">
          <div class="ribbon-corner position-tl bg-success"><span>Hello</span></div>
          <div class="ribbon-corner position-tr bg-success"><a href="#">Hello</a></div>
          <div class="ribbon-corner position-bl bg-success"><span>Hello</span></div>
          <div class="ribbon-corner position-br bg-success"><a href="#">Hello</a></div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!">
          <div class="card-body">
            <h3 class="lead"> A default offer </h3>
            <p> And a little description.
              <br> and so one </p>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="card overflow-hidden">
          <div class="ribbon-corner position-tl bg-warning"><span>Hello</span></div>
          <div class="ribbon-corner position-tr bg-warning"><a href="#">Hello</a></div>
          <div class="ribbon-corner position-bl bg-warning"><span>Hello</span></div>
          <div class="ribbon-corner position-br bg-warning"><a href="#">Hello</a></div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!">
          <div class="card-body">
            <h3 class="lead"> A default offer </h3>
            <p> And a little description.
              <br> and so one </p>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="card overflow-hidden">
          <div class="ribbon-corner position-tl bg-danger"><span>Hello</span></div>
          <div class="ribbon-corner position-tr bg-danger"><a href="#">Hello</a></div>
          <div class="ribbon-corner position-bl bg-danger"><span>Hello</span></div>
          <div class="ribbon-corner position-br bg-danger"><a href="#">Hello</a></div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!">
          <div class="card-body">
            <h3 class="lead"> A default offer </h3>
            <p> And a little description.
              <br> and so one </p>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="card overflow-hidden">
          <div class="ribbon-corner position-tl bg-dark"><span>Hello</span></div>
          <div class="ribbon-corner position-tr bg-dark"><a href="#">Hello</a></div>
          <div class="ribbon-corner position-bl bg-dark"><span>Hello</span></div>
          <div class="ribbon-corner position-br bg-dark"><a href="#">Hello</a></div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!">
          <div class="card-body">
            <h3 class="lead"> A default offer </h3>
            <p> And a little description.
              <br> and so one </p>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="card overflow-hidden">
          <div class="ribbon-corner position-tl bg-white"><span>Hello</span></div>
          <div class="ribbon-corner position-tr bg-white"><a href="#">Hello</a></div>
          <div class="ribbon-corner position-bl bg-white"><span>Hello</span></div>
          <div class="ribbon-corner position-br bg-white"><a href="#">Hello</a></div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!">
          <div class="card-body">
            <h3 class="lead"> A default offer </h3>
            <p> And a little description.
              <br> and so one </p>
          </div>
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
</section>
<section>
  <div class="container">
    <h2>Ribbon Band</h2>
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <div class="ribbon-band">Hello</div>
          <div class="ribbon-band position-tr">Hello</div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <div class="ribbon-band bg-primary">Hello</div>
          <div class="ribbon-band bg-primary position-tr">Hello</div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <div class="ribbon-band bg-info">Hello</div>
          <div class="ribbon-band bg-info position-tr">Hello</div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <div class="ribbon-band bg-success">Hello</div>
          <div class="ribbon-band bg-success position-tr">Hello</div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <div class="ribbon-band bg-warning">Hello</div>
          <div class="ribbon-band bg-warning position-tr">Hello</div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <div class="ribbon-band bg-danger">Hello</div>
          <div class="ribbon-band bg-danger position-tr">Hello</div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <div class="ribbon-band bg-dark">Hello</div>
          <div class="ribbon-band bg-dark position-tr">Hello</div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <div class="ribbon-band bg-white">Hello</div>
          <div class="ribbon-band bg-white position-tr">Hello</div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
    </div>
    <!--/row-->
  </div>
</section>
<section>
  <div class="container">
    <h2>Ribbon Mark</h2>
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <div class="ribbon-mark position-tl"><span>Aug</span><span style="font-size: 1.6rem">28</span></div>
          <div class="ribbon-mark position-tr"><span>Aug</span><span style="font-size: 1.6rem">28</span></div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <div class="ribbon-mark bg-primary position-tl"><span>Aug</span><span style="font-size: 1.6rem">28</span></div>
          <div class="ribbon-mark bg-primary position-tr"><span>Aug</span><span style="font-size: 1.6rem">28</span></div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <div class="ribbon-mark bg-info position-tl"><span>Aug</span><span style="font-size: 1.6rem">28</span></div>
          <div class="ribbon-mark bg-info position-tr"><span>Aug</span><span style="font-size: 1.6rem">28</span></div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <div class="ribbon-mark bg-success position-tl"><span>Aug</span><span style="font-size: 1.6rem">28</span></div>
          <div class="ribbon-mark bg-success position-tr"><span>Aug</span><span style="font-size: 1.6rem">28</span></div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <div class="ribbon-mark bg-warning position-tl"><span>Aug</span><span style="font-size: 1.6rem">28</span></div>
          <div class="ribbon-mark bg-warning position-tr"><span>Aug</span><span style="font-size: 1.6rem">28</span></div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <div class="ribbon-mark bg-danger position-tl"><span>Aug</span><span style="font-size: 1.6rem">28</span></div>
          <div class="ribbon-mark bg-danger position-tr"><span>Aug</span><span style="font-size: 1.6rem">28</span></div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <div class="ribbon-mark bg-dark position-tl"><span>Aug</span><span style="font-size: 1.6rem">28</span></div>
          <div class="ribbon-mark bg-dark position-tr"><span>Aug</span><span style="font-size: 1.6rem">28</span></div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <div class="ribbon-mark bg-white position-tl"><span>Aug</span><span style="font-size: 1.6rem">28</span></div>
          <div class="ribbon-mark bg-white position-tr"><span>Aug</span><span style="font-size: 1.6rem">28</span></div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
    </div>
    <!--/row-->
  </div>
</section>
<section>
  <div class="container">
    <h2>ribands</h2>
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <div class="ribbon-vmark position-tl"><span># label</span></div>
          <div class="ribbon-vmark position-tr"><span># label</span></div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <div class="ribbon-vmark bg-primary position-tl"><span># label</span></div>
          <div class="ribbon-vmark bg-primary position-tr"><span># label</span></div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <div class="ribbon-vmark bg-info position-tl"><span># label</span></div>
          <div class="ribbon-vmark bg-info position-tr"><span># label</span></div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <div class="ribbon-vmark bg-success position-tl"><span># label</span></div>
          <div class="ribbon-vmark bg-success position-tr"><span># label</span></div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <div class="ribbon-vmark bg-warning position-tl"><span># label</span></div>
          <div class="ribbon-vmark bg-warning position-tr"><span># label</span></div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <div class="ribbon-vmark bg-danger position-tl"><span># label</span></div>
          <div class="ribbon-vmark bg-danger position-tr"><span># label</span></div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <div class="ribbon-vmark bg-dark position-tl"><span># label</span></div>
          <div class="ribbon-vmark bg-dark position-tr"><span># label</span></div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <div class="ribbon-vmark bg-white position-tl"><span># label</span></div>
          <div class="ribbon-vmark bg-white position-tr"><span># label</span></div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!" title="" style="">
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
          </div>
        </div>
      </div>
    </div>
    <!--/row-->
  </div>
</section>