<section>
  <div class="container">
    <h1>Heading-1</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="heading-1">Heading</h2>
            <p>Heading通常指书的标题、文章的题目或者章节的标题，也可以指信头。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="heading-1 text-center">Heading</h2>
            <p>Heading通常指书的标题、文章的题目或者章节的标题，也可以指信头。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="heading-1 text-right">Heading</h2>
            <p>Heading通常指书的标题、文章的题目或者章节的标题，也可以指信头。</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /row -->
    <h1>Heading-2</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="heading-2">Heading</h2>
            <p>Heading通常指书的标题、文章的题目或者章节的标题，也可以指信头。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body text-center">
            <h2 class="heading-2">Heading</h2>
            <p>Heading通常指书的标题、文章的题目或者章节的标题，也可以指信头。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body text-right">
            <h2 class="heading-2">Heading</h2>
            <p>Heading通常指书的标题、文章的题目或者章节的标题，也可以指信头。</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /row -->
    <h1>Heading-3</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="heading-3">Heading</h2>
            <p>Heading通常指书的标题、文章的题目或者章节的标题，也可以指信头。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="heading-3 text-center">Heading</h2>
            <p>Heading通常指书的标题、文章的题目或者章节的标题，也可以指信头。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="heading-3 text-right">Heading</h2>
            <p>Heading通常指书的标题、文章的题目或者章节的标题，也可以指信头。</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /row -->
    <h1>Heading-4</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="heading-4">Heading</h2>
            <p>Heading通常指书的标题、文章的题目或者章节的标题，也可以指信头。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="heading-4 text-center">Heading</h2>
            <p>Heading通常指书的标题、文章的题目或者章节的标题，也可以指信头。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="heading-4 text-right">Heading</h2>
            <p>Heading通常指书的标题、文章的题目或者章节的标题，也可以指信头。</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /row -->
    <h1>Heading-5</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="heading-5">Heading</h2>
            <p>Heading通常指书的标题、文章的题目或者章节的标题，也可以指信头。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="heading-5 text-center">Heading</h2>
            <p>Heading通常指书的标题、文章的题目或者章节的标题，也可以指信头。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="heading-5 text-right">Heading</h2>
            <p>Heading通常指书的标题、文章的题目或者章节的标题，也可以指信头。</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /row -->
    <h1>Heading-6</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="heading-6">Heading</h2>
            <p>Heading通常指书的标题、文章的题目或者章节的标题，也可以指信头。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="heading-6 text-center">Heading</h2>
            <p>Heading通常指书的标题、文章的题目或者章节的标题，也可以指信头。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="heading-6 text-right">Heading</h2>
            <p>Heading通常指书的标题、文章的题目或者章节的标题，也可以指信头。</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /row -->
    <h1>Heading-7</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="heading-7">Heading</h2>
            <p>Heading通常指书的标题、文章的题目或者章节的标题，也可以指信头。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="heading-7 justify-content-center">Heading</h2>
            <p>Heading通常指书的标题、文章的题目或者章节的标题，也可以指信头。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="heading-7 justify-content-end">Heading</h2>
            <p>Heading通常指书的标题、文章的题目或者章节的标题，也可以指信头。</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /row -->
    <h1>Heading-8</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="heading-8">Heading</h2>
            <p>Heading通常指书的标题、文章的题目或者章节的标题，也可以指信头。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="heading-8 text-center">Heading</h2>
            <p>Heading通常指书的标题、文章的题目或者章节的标题，也可以指信头。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="heading-8 text-right">Heading</h2>
            <p>Heading通常指书的标题、文章的题目或者章节的标题，也可以指信头。</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
</section>
