<section>
  <div class="container">
    <h2 class="page-header">Little offers with colors and radius</h2>
    <div class="row">
      <div class="col-xs-3">
        <div class="card">
          <div class="ribbon-triangle triangle-tl"><span>★</span></div>
          <div class="ribbon-triangle triangle-tr"><span>★</span></div>
          <div class="ribbon-triangle triangle-bl"><span>★</span></div>
          <div class="ribbon-triangle triangle-br"><span>★</span></div>
          <!-- <div class="shape shape-tr">
            <div class="shape-text"> top </div>
          </div> -->
          <div class="card-body">
            <h3 class="lead"> A default offer </h3>
            <p> And a little description.
              <br> and so one </p>
          </div>
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
</section>
<section>
  <div class="container">
    <h2 class="page-header">Ribbon Corner</h2>
    <div class="row">
      <div class="col-xs-3">
        <div class="card overflow-hidden">
          <div class="ribbon left"><span>New</span></div>
          <div class="ribbon right"><a href="https://github.com/petethepig/github-ribbons-css">Recommended</a></div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!">
          <div class="card-body">
            <h3 class="lead"> A default offer </h3>
            <p> And a little description.
              <br> and so one </p>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="card overflow-hidden">
          <div class="ribbon left bg-primary"><a href="https://github.com/petethepig/github-ribbons-css">New</a></div>
          <div class="ribbon right bg-primary"><a href="https://github.com/petethepig/github-ribbons-css">Recommended</a></div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!">
          <div class="card-body">
            <h3 class="lead"> A default offer </h3>
            <p> And a little description.
              <br> and so one </p>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="card overflow-hidden">
          <div class="ribbon left bg-info"><a href="https://github.com/petethepig/github-ribbons-css">New</a></div>
          <div class="ribbon right bg-info"><a href="https://github.com/petethepig/github-ribbons-css">Recommended</a></div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!">
          <div class="card-body">
            <h3 class="lead"> A default offer </h3>
            <p> And a little description.
              <br> and so one </p>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="card overflow-hidden">
          <div class="ribbon left bg-success"><a href="https://github.com/petethepig/github-ribbons-css">New</a></div>
          <div class="ribbon right bg-success"><a href="https://github.com/petethepig/github-ribbons-css">Recommended</a></div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!">
          <div class="card-body">
            <h3 class="lead"> A default offer </h3>
            <p> And a little description.
              <br> and so one </p>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="card overflow-hidden">
          <div class="ribbon left bg-warning"><a href="https://github.com/petethepig/github-ribbons-css">New</a></div>
          <div class="ribbon right bg-warning"><a href="https://github.com/petethepig/github-ribbons-css">Recommended</a></div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!">
          <div class="card-body">
            <h3 class="lead"> A default offer </h3>
            <p> And a little description.
              <br> and so one </p>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="card overflow-hidden">
          <div class="ribbon left bg-danger"><a href="https://github.com/petethepig/github-ribbons-css">New</a></div>
          <div class="ribbon right bg-danger"><a href="https://github.com/petethepig/github-ribbons-css">Recommended</a></div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!">
          <div class="card-body">
            <h3 class="lead"> A default offer </h3>
            <p> And a little description.
              <br> and so one </p>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="card overflow-hidden">
          <div class="ribbon left bg-white"><a href="https://github.com/petethepig/github-ribbons-css">New</a></div>
          <div class="ribbon right bg-white"><a href="https://github.com/petethepig/github-ribbons-css">Recommended</a></div>
          <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!">
          <div class="card-body">
            <h3 class="lead"> A default offer </h3>
            <p> And a little description.
              <br> and so one </p>
          </div>
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <a class="figure figure-img" href="#">
            <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!">
            <span class="card-mark-lt bg-info"># label</span>
          </a>
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
            <div class="d-flex align-items-center pt-5 mt-auto">
              <div class="avatar avatar-md mr-3" style="background-image: url(assets/images/avatars/female/7.jpg)"></div>
              <div>
                <a href="./profile.html" class="text-default">Michelle Ross</a>
                <small class="d-block text-muted">3 days ago</small>
              </div>
              <div class="ml-auto text-muted">
                <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="icon icon-heart-line mr-1"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <a class="figure figure-img" href="#">
            <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!">
            <span class="card-mark-lb"># label</span>
          </a>
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
            <div class="d-flex align-items-center pt-5 mt-auto">
              <div class="avatar avatar-md mr-3" style="background-image: url(assets/images/avatars/female/7.jpg)"></div>
              <div>
                <a href="./profile.html" class="text-default">Michelle Ross</a>
                <small class="d-block text-muted">3 days ago</small>
              </div>
              <div class="ml-auto text-muted">
                <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="icon icon-heart-line mr-1"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <a class="figure figure-img" href="#">
            <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!">
            <span class="card-mark-rt"># label</span>
          </a>
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
            <div class="d-flex align-items-center pt-5 mt-auto">
              <div class="avatar avatar-md mr-3" style="background-image: url(assets/images/avatars/female/7.jpg)"></div>
              <div>
                <a href="./profile.html" class="text-default">Michelle Ross</a>
                <small class="d-block text-muted">3 days ago</small>
              </div>
              <div class="ml-auto text-muted">
                <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="icon icon-heart-line mr-1"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <a class="figure figure-img" href="#">
            <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!">
            <span class="card-mark-rb bg-primary"># label</span>
          </a>
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
            <div class="d-flex align-items-center pt-5 mt-auto">
              <div class="avatar avatar-md mr-3" style="background-image: url(assets/images/avatars/female/7.jpg)"></div>
              <div>
                <a href="./profile.html" class="text-default">Michelle Ross</a>
                <small class="d-block text-muted">3 days ago</small>
              </div>
              <div class="ml-auto text-muted">
                <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="icon icon-heart-line mr-1"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <a class="figure figure-img" href="#">
            <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!">
            <span class="card-corner-lt"># label</span>
          </a>
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
            <div class="d-flex align-items-center pt-5 mt-auto">
              <div class="avatar avatar-md mr-3" style="background-image: url(assets/images/avatars/female/7.jpg)"></div>
              <div>
                <a href="./profile.html" class="text-default">Michelle Ross</a>
                <small class="d-block text-muted">3 days ago</small>
              </div>
              <div class="ml-auto text-muted">
                <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="icon icon-heart-line mr-1"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <a class="figure figure-img" href="#">
            <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!">
            <span class="card-corner-lb"># label</span>
          </a>
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
            <div class="d-flex align-items-center pt-5 mt-auto">
              <div class="avatar avatar-md mr-3" style="background-image: url(assets/images/avatars/female/7.jpg)"></div>
              <div>
                <a href="./profile.html" class="text-default">Michelle Ross</a>
                <small class="d-block text-muted">3 days ago</small>
              </div>
              <div class="ml-auto text-muted">
                <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="icon icon-heart-line mr-1"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <a class="figure figure-img" href="#">
            <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!">
            <span class="card-corner-rt bg-success"># label</span>
          </a>
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
            <div class="d-flex align-items-center pt-5 mt-auto">
              <div class="avatar avatar-md mr-3" style="background-image: url(assets/images/avatars/female/7.jpg)"></div>
              <div>
                <a href="./profile.html" class="text-default">Michelle Ross</a>
                <small class="d-block text-muted">3 days ago</small>
              </div>
              <div class="ml-auto text-muted">
                <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="icon icon-heart-line mr-1"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <a class="figure figure-img" href="#">
            <img class="card-img-top" src="assets/images/demo/dino-reichmuth-84359-500.jpg" alt="Shut up!">
            <span class="card-corner-rb bg-danger"># label</span>
          </a>
          <div class="card-body d-flex flex-column">
            <h4><a href="#">Shut up!</a></h4>
            <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
            <div class="d-flex align-items-center pt-5 mt-auto">
              <div class="avatar avatar-md mr-3" style="background-image: url(assets/images/avatars/female/7.jpg)"></div>
              <div>
                <a href="./profile.html" class="text-default">Michelle Ross</a>
                <small class="d-block text-muted">3 days ago</small>
              </div>
              <div class="ml-auto text-muted">
                <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="icon icon-heart-line mr-1"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2 class="page-header">Bootstrap Badge</h2>
    <div class="panel panel-body relative text-center" data-toggle="match-height" style="height: 137px;">
      <div class="belt">belt top left</div>
      <div class="belt belt-primary" data-position="top-right">belt top right</div>
      <div class="belt belt-warning" data-position="bottom-left">belt bottom left</div>
      <div class="belt belt-danger" data-position="bottom-right">belt bottom right</div>
      <h5>belt badge</h5>
      <p>
        <small class="text-muted">Simply use class <code>belt</code></small>
      </p>
    </div>
    <div class="row gutter-xs">
      <div class="col-xs-6 col-md-3">
        <div class="panel panel-body relative text-center" data-toggle="match-height">
          <div class="belt belt-rounded">New</div>
          <h5>Default button</h5>
          <p>
            <small>Simply use class <code>belt</code></small>
          </p>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="panel panel-body relative text-center" data-toggle="match-height">
          <div class="belt belt-primary belt-rounded" data-position="top-right">Hot</div>
          <h5>Primary button</h5>
          <p>
            <small>Simply use class <code>belt-primary</code></small>
          </p>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="panel panel-body relative text-center" data-toggle="match-height">
          <div class="belt belt-warning belt-rounded" data-position="bottom-left">New</div>
          <h5>Success button</h5>
          <p>
            <small>Simply use class <code>belt-warning</code></small>
          </p>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="panel panel-body relative text-center" data-toggle="match-height">
          <div class="belt belt-danger belt-rounded" data-position="bottom-right">Hot</div>
          <h5>Info button</h5>
          <p>
            <small>Simply use class <code>belt-danger</code></small>
          </p>
        </div>
      </div>
    </div>
    <!-- /row -->
    <div class="row">
      <div class="col-md-8">
        <h1 class="page-header">ribands</h1>
        <div class="row">
          <div class="col-md-6">
            <div class="ribands">
              <div class="riband-wrap">
                <div class="riband"><span>riband-default</span></div>
              </div>
              <div class="riband-wrap">
                <div class="riband riband-info"><span>riband-info</span></div>
              </div>
              <div class="riband-wrap">
                <div class="riband riband-primary"><span>riband-primary</span></div>
              </div>
              <div class="riband-wrap">
                <div class="riband riband-success"><span>riband-success</span></div>
              </div>
              <div class="riband-wrap">
                <div class="riband riband-warning"><span>riband-warning</span></div>
              </div>
              <div class="riband-wrap">
                <div class="riband riband-danger"><span>riband-danger</span></div>
              </div>
              <div class="riband-wrap">
                <div class="riband riband-dark"><span>riband-dark</span></div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="ribands">
              <div class="riband-wrap riband-left">
                <div class="riband"><span>riband-default</span></div>
              </div>
              <div class="riband-wrap riband-left">
                <div class="riband riband-info"><span>riband-info</span></div>
              </div>
              <div class="riband-wrap riband-left">
                <div class="riband riband-primary"><span>riband-primary</span></div>
              </div>
              <div class="riband-wrap riband-left">
                <div class="riband riband-success"><span>riband-success</span></div>
              </div>
              <div class="riband-wrap riband-left">
                <div class="riband riband-warning"><span>riband-warning</span></div>
              </div>
              <div class="riband-wrap riband-left">
                <div class="riband riband-danger"><span>riband-danger</span></div>
              </div>
              <div class="riband-wrap riband-left">
                <div class="riband riband-dark"><span>riband-dark</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/row-->
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <span class="ribbon-buy">New</span>
          <!-- <div class="riband"><span>riband-default</span></div> -->
          <img class="card-img-top" data-src="holder.js/100px180/" alt="Card image cap" />
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <span class="ribbon-buy">New</span>
          <!-- <div class="riband"><span>riband-default</span></div> -->
          <img class="card-img-top" data-src="holder.js/100px180/" alt="Card image cap" />
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <span class="ribbon-buy">New</span>
          <!-- <div class="riband"><span>riband-default</span></div> -->
          <img class="card-img-top" data-src="holder.js/100px180/" alt="Card image cap" />
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <span class="ribbon-buy">New</span>
          <!-- <div class="riband"><span>riband-default</span></div> -->
          <img class="card-img-top" data-src="holder.js/100px180/" alt="Card image cap" />
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
    <!--/row-->
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <div class="panel panel-body relative text-center" data-toggle="match-height">
          <div class="band">band</div>
          <div class="band" data-position="right">band</div>
          <h5>Default button</h5>
          <p>
            <small>Simply use class <code>btn-default</code></small>
          </p>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="panel panel-body relative text-center" data-toggle="match-height">
          <div class="band band-info">band</div>
          <div class="band band-info" data-position="right">band</div>
          <h5>Primary button</h5>
          <p>
            <small>Simply use class <code>band-info</code></small>
          </p>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="panel panel-body relative text-center" data-toggle="match-height">
          <div class="band band-primary">band</div>
          <div class="band band-primary" data-position="right">band</div>
          <h5>Success button</h5>
          <p>
            <small>Simply use class <code>band-primary</code></small>
          </p>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="panel panel-body relative text-center" data-toggle="match-height">
          <div class="band band-danger">band</div>
          <div class="band band-danger" data-position="right">band</div>
          <h5>Info button</h5>
          <p>
            <small>Simply use class <code>band-danger</code></small>
          </p>
        </div>
      </div>
    </div>
    <!--/row-->
  </div>
</section>