<section>
  <div class="container">
    <h2 class="page-header">Little offers with colors and radius</h2>
    <div class="row">
      <div class="col-xs-3">
        <div class="offer offer-default">
          <div class="shape shape-tr">
            <div class="shape-text"> top </div>
          </div>
          <div class="offer-content">
            <h3 class="lead"> A default offer </h3>
            <p> And a little description.
              <br> and so one </p>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="offer offer-success">
          <div class="shape shape-tr">
            <div class="shape-text"> top </div>
          </div>
          <div class="offer-content">
            <h3 class="lead"> A success offer </h3>
            <p> And a little description.
              <br> and so one </p>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="offer offer-primary">
          <div class="shape shape-tr">
            <div class="shape-text"> top </div>
          </div>
          <div class="offer-content">
            <h3 class="lead"> A primary-radius </h3>
            <p> And a little description.
              <br> and so one </p>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="offer offer-info">
          <div class="shape shape-tr">
            <div class="shape-text"> top </div>
          </div>
          <div class="offer-content">
            <h3 class="lead"> An info offer </h3>
            <p> And a little description.
              <br> and so one </p>
          </div>
        </div>
      </div>
    </div>
    <!-- /row -->
    <div class="row">
      <div class="col-xs-3">
        <div class="offer offer-warning">
          <div class="shape shape-tr">
            <div class="shape-text"> top </div>
          </div>
          <div class="offer-content">
            <h3 class="lead"> A warning offer </h3>
            <p> And a little description.
              <br> and so one </p>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="offer offer-danger">
          <div class="shape shape-tr">
            <div class="shape-text"> top </div>
          </div>
          <div class="offer-content">
            <h3 class="lead"> A danger-radius </h3>
            <p> And a little description.
              <br> and so one </p>
          </div>
        </div>
      </div>
    </div>
    <!-- /row -->
    <h2 class="page-header">Bootstrap Badge</h2>
    <div class="panel panel-body relative text-center" data-toggle="match-height" style="height: 137px;">
      <div class="belt">belt top left</div>
      <div class="belt belt-primary" data-position="top-right">belt top right</div>
      <div class="belt belt-warning" data-position="bottom-left">belt bottom left</div>
      <div class="belt belt-danger" data-position="bottom-right">belt bottom right</div>
      <h5>belt badge</h5>
      <p>
        <small class="text-muted">Simply use class <code>belt</code></small>
      </p>
    </div>
    <div class="row gutter-xs">
      <div class="col-xs-6 col-md-3">
        <div class="panel panel-body relative text-center" data-toggle="match-height">
          <div class="belt belt-rounded">New</div>
          <h5>Default button</h5>
          <p>
            <small>Simply use class <code>belt</code></small>
          </p>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="panel panel-body relative text-center" data-toggle="match-height">
          <div class="belt belt-primary belt-rounded" data-position="top-right">Hot</div>
          <h5>Primary button</h5>
          <p>
            <small>Simply use class <code>belt-primary</code></small>
          </p>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="panel panel-body relative text-center" data-toggle="match-height">
          <div class="belt belt-warning belt-rounded" data-position="bottom-left">New</div>
          <h5>Success button</h5>
          <p>
            <small>Simply use class <code>belt-warning</code></small>
          </p>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="panel panel-body relative text-center" data-toggle="match-height">
          <div class="belt belt-danger belt-rounded" data-position="bottom-right">Hot</div>
          <h5>Info button</h5>
          <p>
            <small>Simply use class <code>belt-danger</code></small>
          </p>
        </div>
      </div>
    </div>
    <!-- /row -->
    <div class="row">
      <div class="col-md-8">
        <h1 class="page-header">ribands</h1>
        <div class="row">
          <div class="col-md-6">
            <div class="ribands">
              <div class="riband-wrap">
                <div class="riband"><span>riband-default</span></div>
              </div>
              <div class="riband-wrap">
                <div class="riband riband-info"><span>riband-info</span></div>
              </div>
              <div class="riband-wrap">
                <div class="riband riband-primary"><span>riband-primary</span></div>
              </div>
              <div class="riband-wrap">
                <div class="riband riband-success"><span>riband-success</span></div>
              </div>
              <div class="riband-wrap">
                <div class="riband riband-warning"><span>riband-warning</span></div>
              </div>
              <div class="riband-wrap">
                <div class="riband riband-danger"><span>riband-danger</span></div>
              </div>
              <div class="riband-wrap">
                <div class="riband riband-dark"><span>riband-dark</span></div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="ribands">
              <div class="riband-wrap riband-left">
                <div class="riband"><span>riband-default</span></div>
              </div>
              <div class="riband-wrap riband-left">
                <div class="riband riband-info"><span>riband-info</span></div>
              </div>
              <div class="riband-wrap riband-left">
                <div class="riband riband-primary"><span>riband-primary</span></div>
              </div>
              <div class="riband-wrap riband-left">
                <div class="riband riband-success"><span>riband-success</span></div>
              </div>
              <div class="riband-wrap riband-left">
                <div class="riband riband-warning"><span>riband-warning</span></div>
              </div>
              <div class="riband-wrap riband-left">
                <div class="riband riband-danger"><span>riband-danger</span></div>
              </div>
              <div class="riband-wrap riband-left">
                <div class="riband riband-dark"><span>riband-dark</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/row-->
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <span class="ribbon-buy">New</span>
          <!-- <div class="riband"><span>riband-default</span></div> -->
          <img class="card-img-top" data-src="holder.js/100px180/" alt="Card image cap" />
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <span class="ribbon-buy">New</span>
          <!-- <div class="riband"><span>riband-default</span></div> -->
          <img class="card-img-top" data-src="holder.js/100px180/" alt="Card image cap" />
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <span class="ribbon-buy">New</span>
          <!-- <div class="riband"><span>riband-default</span></div> -->
          <img class="card-img-top" data-src="holder.js/100px180/" alt="Card image cap" />
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <span class="ribbon-buy">New</span>
          <!-- <div class="riband"><span>riband-default</span></div> -->
          <img class="card-img-top" data-src="holder.js/100px180/" alt="Card image cap" />
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
    <!--/row-->
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <div class="panel panel-body relative text-center" data-toggle="match-height">
          <div class="band">band</div>
          <div class="band" data-position="right">band</div>
          <h5>Default button</h5>
          <p>
            <small>Simply use class <code>btn-default</code></small>
          </p>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="panel panel-body relative text-center" data-toggle="match-height">
          <div class="band band-info">band</div>
          <div class="band band-info" data-position="right">band</div>
          <h5>Primary button</h5>
          <p>
            <small>Simply use class <code>band-info</code></small>
          </p>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="panel panel-body relative text-center" data-toggle="match-height">
          <div class="band band-primary">band</div>
          <div class="band band-primary" data-position="right">band</div>
          <h5>Success button</h5>
          <p>
            <small>Simply use class <code>band-primary</code></small>
          </p>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="panel panel-body relative text-center" data-toggle="match-height">
          <div class="band band-danger">band</div>
          <div class="band band-danger" data-position="right">band</div>
          <h5>Info button</h5>
          <p>
            <small>Simply use class <code>band-danger</code></small>
          </p>
        </div>
      </div>
    </div>
    <!--/row-->
  </div>
</section>