<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Carousel with dot control</h3>
        <div class="owl-carousel owl-theme" data-autoplay="true" data-margin="15" data-items="2">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
        </div>
      </div>
      <!-- /col -->
      <div class="col-md-6">
        <h3>Carousel with nav control</h3>
        <div class="owl-carousel owl-theme" data-autoplay="true" data-loop="true" data-nav="true" data-dots="false" data-margin="15" data-items="2">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
        </div>
      </div>
      <!-- /col -->
    </div>
    <h3>Carousel with nav and dot control</h3>
    <div class="owl-carousel owl-theme" data-autoplay="true" data-loop="true" data-nav="true" data-dots="true" data-margin="15" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}'>
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Card title</h3>
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Card title</h3>
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Card title</h3>
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Card title</h3>
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Card title</h3>
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Card title</h3>
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Card title</h3>
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Card title</h3>
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
        </div>
      </div>
    </div>
    <!-- /div -->
    <h3>Carousel with outside nav</h3>
    <div class="owl-carousel owl-theme owl-nav-circle owl-nav-outside" data-autoplay="true" data-loop="true" data-nav="true" data-dots="false" data-margin="15" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}'>
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Card title</h3>
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Card title</h3>
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Card title</h3>
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Card title</h3>
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Card title</h3>
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h3>Carousel nav style</h3>
    <div class="row">
      <div class="col-md-3">
        <!-- <h3>Carousel with default nav</h3> -->
        <div class="owl-carousel owl-theme owl-nav-middle" data-autoplay="true" data-loop="true" data-nav="true" data-dots="false" data-margin="15" data-items="1">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
        </div>
      </div>
      <!-- /col -->
      <div class="col-md-3">
        <!-- <h3>Carousel with circle nav</h3> -->
        <div class="owl-carousel owl-theme owl-nav-middle owl-nav-circle" data-autoplay="true" data-loop="true" data-nav="true" data-dots="false" data-margin="15" data-items="1">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
        </div>
      </div>
      <!-- /col -->
      <div class="col-md-3">
        <!-- <h3>Carousel with square nav</h3> -->
        <div class="owl-carousel owl-theme owl-nav-middle owl-nav-square" data-autoplay="true" data-loop="true" data-nav="true" data-dots="false" data-margin="15" data-items="1">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
        </div>
      </div>
      <!-- /col -->
      <div class="col-md-3">
        <!-- <h3>Carousel with rect nav</h3> -->
        <div class="owl-carousel owl-theme owl-nav-middle owl-nav-rect" data-autoplay="true" data-loop="true" data-nav="true" data-dots="false" data-margin="15" data-items="1">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
        </div>
      </div>
      <!-- /col -->
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h3>Carousel nav outline style</h3>
    <div class="row">
      <div class="col-md-3">
        <!-- <h3>Carousel with default nav</h3> -->
        <div class="owl-carousel owl-theme owl-nav-middle owl-control-outline" data-autoplay="true" data-loop="true" data-nav="true" data-dots="true" data-margin="15" data-items="1">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
        </div>
      </div>
      <!-- /col -->
      <div class="col-md-3">
        <!-- <h3>Carousel with circle nav</h3> -->
        <div class="owl-carousel owl-theme owl-nav-middle owl-nav-circle owl-control-outline" data-autoplay="true" data-loop="true" data-nav="true" data-dots="true" data-margin="15" data-items="1">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
        </div>
      </div>
      <!-- /col -->
      <div class="col-md-3">
        <!-- <h3>Carousel with square nav</h3> -->
        <div class="owl-carousel owl-theme owl-nav-middle owl-nav-square owl-control-outline" data-autoplay="true" data-loop="true" data-nav="true" data-dots="true" data-margin="15" data-items="1">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
        </div>
      </div>
      <!-- /col -->
      <div class="col-md-3">
        <!-- <h3>Carousel with rect nav</h3> -->
        <div class="owl-carousel owl-theme owl-nav-middle owl-nav-rect owl-control-outline" data-autoplay="true" data-loop="true" data-nav="true" data-dots="true" data-margin="15" data-items="1">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
        </div>
      </div>
      <!-- /col -->
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h3>Carousel dot style</h3>
    <div class="row">
      <div class="col-md-4">
        <!-- <h3>Carousel with default nav</h3> -->
        <div class="owl-carousel owl-theme" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true" data-margin="15" data-items="1">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
        </div>
      </div>
      <!-- /col -->
      <div class="col-md-4">
        <!-- <h3>Carousel with circle nav</h3> -->
        <div class="owl-carousel owl-theme owl-dot-square" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true" data-margin="15" data-items="1">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
        </div>
      </div>
      <!-- /col -->
      <div class="col-md-4">
        <!-- <h3>Carousel with square nav</h3> -->
        <div class="owl-carousel owl-theme owl-dot-line" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true" data-margin="15" data-items="1">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
        </div>
      </div>
      <!-- /col -->
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h3>Carousel control size</h3>
    <div class="row">
      <div class="col-md-3">
        <!-- <h3>Carousel with default nav</h3> -->
        <div class="owl-carousel owl-theme owl-nav-middle owl-control-lg" data-autoplay="true" data-loop="true" data-nav="true" data-dots="true" data-margin="15" data-items="1">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
        </div>
      </div>
      <!-- /col -->
      <div class="col-md-3">
        <!-- <h3>Carousel with circle nav</h3> -->
        <div class="owl-carousel owl-theme owl-nav-middle owl-nav-circle owl-control-sm" data-autoplay="true" data-loop="true" data-nav="true" data-dots="true" data-margin="15" data-items="1">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
        </div>
      </div>
      <!-- /col -->
      <div class="col-md-3">
        <!-- <h3>Carousel with square nav</h3> -->
        <div class="owl-carousel owl-theme owl-nav-middle owl-nav-square owl-control-lg" data-autoplay="true" data-loop="true" data-nav="true" data-dots="true" data-margin="15" data-items="1">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
        </div>
      </div>
      <!-- /col -->
      <div class="col-md-3">
        <!-- <h3>Carousel with rect nav</h3> -->
        <div class="owl-carousel owl-theme owl-nav-middle owl-nav-rect owl-control-lg" data-autoplay="true" data-loop="true" data-nav="true" data-dots="true" data-margin="15" data-items="1">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card title</h3>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
            </div>
          </div>
        </div>
      </div>
      <!-- /col -->
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h3>Carousel with dot control inside</h3>
    <div class="owl-carousel owl-theme owl-nav-circle owl-dot-inside owl-nav-fadein" data-margin="15" data-center="true" data-loop="true" data-nav="true" data-dots="true" data-items="2">
      <div class="card bg-dark text-white">
        <img class="card-img" src="../assets/images/demo/teddy-kelley-109202-500.jpg" alt="Card image">
        <div class="card-img-overlay justify-content-end">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="card bg-dark text-white">
        <img class="card-img" src="../assets/images/demo/teddy-kelley-109202-500.jpg" alt="Card image">
        <div class="card-img-overlay justify-content-end">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="card bg-dark text-white">
        <img class="card-img" src="../assets/images/demo/teddy-kelley-109202-500.jpg" alt="Card image">
        <div class="card-img-overlay justify-content-end">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="card bg-dark text-white">
        <img class="card-img" src="../assets/images/demo/teddy-kelley-109202-500.jpg" alt="Card image">
        <div class="card-img-overlay justify-content-end">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h3>Carousel with white control</h3>
    <div class="owl-carousel owl-theme owl-nav-rect owl-dot-inside owl-nav-fadein owl-control-white" data-margin="15" data-center="true" data-loop="true" data-nav="true" data-dots="true" data-items="2">
      <div class="card bg-dark text-white">
        <img class="card-img" src="../assets/images/demo/teddy-kelley-109202-500.jpg" alt="Card image">
        <div class="card-img-overlay justify-content-end">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="card bg-dark text-white">
        <img class="card-img" src="../assets/images/demo/teddy-kelley-109202-500.jpg" alt="Card image">
        <div class="card-img-overlay justify-content-end">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="card bg-dark text-white">
        <img class="card-img" src="../assets/images/demo/teddy-kelley-109202-500.jpg" alt="Card image">
        <div class="card-img-overlay justify-content-end">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="card bg-dark text-white">
        <img class="card-img" src="../assets/images/demo/teddy-kelley-109202-500.jpg" alt="Card image">
        <div class="card-img-overlay justify-content-end">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h3>Center with loop</h3>
    <div class="owl-carousel owl-theme" data-margin="15" data-center="true" data-loop="true" data-items="2">
      <div class="card bg-dark text-white">
        <img class="card-img" src="../assets/images/demo/teddy-kelley-109202-500.jpg" alt="Card image">
        <div class="card-img-overlay justify-content-end">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="card bg-dark text-white">
        <img class="card-img" src="../assets/images/demo/teddy-kelley-109202-500.jpg" alt="Card image">
        <div class="card-img-overlay justify-content-end">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="card bg-dark text-white">
        <img class="card-img" src="../assets/images/demo/teddy-kelley-109202-500.jpg" alt="Card image">
        <div class="card-img-overlay justify-content-end">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="card bg-dark text-white">
        <img class="card-img" src="../assets/images/demo/teddy-kelley-109202-500.jpg" alt="Card image">
        <div class="card-img-overlay justify-content-end">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <h3>Merge</h3>
    <div class="owl-carousel owl-theme owl-demo" data-margin="15" data-merge="true" data-loop="true" data-items="5" data-responsive='{"678":{"mergeFit":true},"1000":{"mergeFit":false}}'>
      <div class="item" data-merge="1">
        <h2>1</h2></div>
      <div class="item" data-merge="2">
        <h2>2</h2></div>
      <div class="item" data-merge="1">
        <h2>3</h2></div>
      <div class="item" data-merge="3">
        <h2>4</h2></div>
      <div class="item" data-merge="6">
        <h2>6</h2></div>
      <div class="item" data-merge="2">
        <h2>7</h2></div>
      <div class="item" data-merge="1">
        <h2>8</h2></div>
      <div class="item" data-merge="3">
        <h2>9</h2></div>
      <div class="item">
        <h2>10</h2></div>
      <div class="item">
        <h2>11</h2></div>
      <div class="item" data-merge="2">
        <h2>12</h2></div>
      <div class="item">
        <h2>13</h2></div>
      <div class="item">
        <h2>14</h2></div>
      <div class="item">
        <h2>15</h2></div>
    </div>
  </div>
</section>
