<section class="list-banner banner-style-1 pt-3 pt-md-5">
  <div class="container">
    <div class="owl-carousel owl-theme owl-dot-blow owl-control-outline" data-autoplay="true" data-loop="true" data-items="1" data-dots="true" data-margin="10" data-smartSpeed="1000" data-autoplayTimeout="5000" data-autoplayHoverPause:="true" data-responsiveClass="true" data-responsive='{"0":{"items":1},"768":{"items":1},"992":{"items":1}}'>
      <div class="card item list-item flex-fill m-0">
        <div class="row no-gutters">
          <div class="col-12 col-md-8">
            <div class="carton carton-3x2">
              <a class="carton-content" target="_blank" href="#" style="background-image: url(assets/images/demo/grant-ritchie-338179-1500.jpg)"></a>
            </div>
          </div>
          <div class="col-12 col-md-4 d-flex bg-dark">
            <div class="list-content flex-fill p-3 p-lg-5 ">
              <div class="list-body">
                <div class="d-none d-md-block mt-3 mb-3 mt-md-4 mb-xl-5">
                  <span class="avatar" style="background-image: url(assets/images/avatars/male/21.jpg)"></span>
                </div>
                <div class="h5 mb-2 mb-md-3 mb-xl-4">
                  <a href="#" class="list-title text-lg text-white" target="_blank">618超越雀巢、星巴克，这个国产咖啡品牌做对了什么？</a>
                </div>
                <div class="list-desc d-none d-lg-block text-sm text-light my-md-2">
                  <p class="text-light">咖啡，是这两年竞争最为激烈的零售战场之一。 ...
                  </p>
                </div>
              </div>
              <div class="list-footer mt-1">
                <div class="text-light text-xs">
                  <span class="d-inline-block"><a href="#" class="text-light" target="_blank">前沿科技</a></span>
                  <i class="text-primary mx-1 mx-md-2">&#8212;</i>
                  <time class="d-inline-block">3月前</time>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card item list-item flex-fill m-0">
        <div class="row no-gutters">
          <div class="col-12 col-md-8">
            <div class="carton carton-3x2">
              <a class="carton-content" target="_blank" href="#" style="background-image: url(assets/images/demo/joshua-earle-157231-1500.jpg)"></a>
            </div>
          </div>
          <div class="col-12 col-md-4 d-flex bg-dark">
            <div class="list-content flex-fill p-3 p-lg-5">
              <div class="list-body ">
                <div class="d-none d-md-block mt-3 mb-3 mt-md-4 mb-xl-5">
                  <span class="avatar" style="background-image: url(assets/images/avatars/male/21.jpg)"></span>
                </div>
                <div class="h5 mb-2 mb-md-3 mb-xl-4">
                  <a href="#" class="list-title text-lg text-white" target="_blank">2020还剩5个月，我们能做什么？</a>
                </div>
                <div class="list-desc d-none d-lg-block text-sm text-light my-md-2">
                  <p class="text-light">年初的时候没有人能想到，2020年会成为世纪转折点，会发生那么多影响全世界的大事。 ...
                  </p>
                </div>
              </div>
              <div class="list-footer mt-1">
                <div class="text-light text-xs">
                  <span class="d-inline-block"><a href="#" class="text-light" target="_blank">玩物志趣</a></span>
                  <i class="text-primary mx-1 mx-md-2">&#8212;</i>
                  <time class="d-inline-block">3月前</time>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card item list-item flex-fill m-0">
        <div class="row no-gutters">
          <div class="col-12 col-md-8">
            <div class="carton carton-3x2">
              <a class="carton-content" target="_blank" href="#" style="background-image: url(assets/images/demo/sean-afnan-244576-1500.jpg)"></a>
            </div>
          </div>
          <div class="col-12 col-md-4 d-flex bg-dark">
            <div class="list-content flex-fill p-3 p-lg-5">
              <div class="list-body ">
                <div class="d-none d-md-block mt-3 mb-3 mt-md-4 mb-xl-5">
                  <span class="avatar" style="background-image: url(assets/images/avatars/male/21.jpg)"></span>
                </div>
                <div class="h5 mb-2 mb-md-3 mb-xl-4">
                  <a href="#" class="list-title text-lg text-white" target="_blank">2020还剩5个月，我们能做什么？</a>
                </div>
                <div class="list-desc d-none d-lg-block text-sm text-light my-md-2">
                  <p class="text-light">年初的时候没有人能想到，2020年会成为世纪转折点，会发生那么多影响全世界的大事。 ...
                  </p>
                </div>
              </div>
              <div class="list-footer mt-1">
                <div class="text-light text-xs">
                  <span class="d-inline-block"><a href="#" class="text-light" target="_blank">玩物志趣</a></span>
                  <i class="text-primary mx-1 mx-md-2">&#8212;</i>
                  <time class="d-inline-block">3月前</time>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
