<section class="section-position">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Position</h3>
      </div>
      <div class="card-body">
        <div class="well">
          <p>absolute</p>
          <p>fixed</p>
          <p>relative</p>
          <p>sticky</p>
          <hr />
          <p>bottom-0</p>
          <p>left-0</p>
          <p>right-0</p>
          <p>top-0</p>
          <hr />
          <p>z-min</p>
          <p>z-0</p>
          <p>z-1</p>
          <p>z-2</p>
          <p>z-3</p>
          <p>z-4</p>
          <p>z-5</p>
          <p>z-6</p>
          <p>z-7</p>
          <p>z-8</p>
          <p>z-9</p>
          <p>z-10</p>
          <p>z-max</p>
        </div>
      </div>
    </div>
  </div>
</section>
