<section class="section-display">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Display</h3>
      </div>
      <div class="card-body">
        <div class="well">
          <p>block</p>
          <p>clearfix*</p>
          <p>flex</p>
          <p>grid</p>
          <p>inline-block</p>
          <p>inline-flex</p>
          <p>inline-table</p>
          <p>inline</p>
          <p>none</p>
          <p>table*</p>
          <p>table-cell</p>
          <p>table-column</p>
          <p>table-row</p>
        </div>
        <p><code>.clearfix</code> is an after-before-content hack for clearing floats.</p>
        <p><code>.table</code> has an extra attribute, layout: fixed.</p>
      </div>
    </div>
  </div>
</section>
