<section>
  <div class="container">
    <div class="card">
      <!-- <div class="card-header">
        <h3 class="card-title">阴影 Shadows</h3>
      </div> -->
      <div class="card-body">
        <h1 class="bd-title" id="content">阴影</h1>
        <p class="bd-lead">用于向 HTML 元素添加或删除阴影的工具类。</p>
        <h2 id="examples">Examples</h2>
        <p>在 Bootstrap 中，组件上的阴影（shadow）默认是被关闭的，但是通过开启 <code class="highlighter-rouge">$enable-shadows</code> 变量可以打开阴影效果，你还可以利用 <code class="highlighter-rouge">box-shadow</code> 工具类快速添加或删除阴影。还包括了对 <code class="highlighter-rouge">.shadow-none</code> 以及三种阴影尺寸（每种尺寸都有相对应的变量）的支持。</p>
        <div class="example">
          <div class="shadow-none p-3 mb-5 bg-light rounded">无阴影</div>
          <div class="shadow-sm p-3 mb-5 bg-white rounded">小阴影</div>
          <div class="shadow p-3 mb-5 bg-white rounded">一般阴影</div>
          <div class="shadow-lg p-3 mb-5 bg-white rounded">大阴影</div>
        </div>
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"shadow-none p-3 mb-5 bg-light rounded"</span><span class="nt">&gt;</span>无阴影<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"shadow-sm p-3 mb-5 bg-white rounded"</span><span class="nt">&gt;</span>小阴影<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"shadow p-3 mb-5 bg-white rounded"</span><span class="nt">&gt;</span>一般阴影<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"shadow-lg p-3 mb-5 bg-white rounded"</span><span class="nt">&gt;</span>大阴影<span class="nt">&lt;/div&gt;</span></code></pre></figure>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card shadow hover-shadow-none">
          <div class="card-header">
            <h3 class="card-title">Card title</h3>
          </div>
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
          </div>
        </div>
      </div>
      <!-- /col -->
      <div class="col-md-3">
        <div class="card hover-shadow-sm">
          <div class="card-header">
            <h3 class="card-title">Card title</h3>
          </div>
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
          </div>
        </div>
      </div>
      <!-- /col -->
      <div class="col-md-3">
        <div class="card hover-shadow">
          <div class="card-header">
            <h3 class="card-title">Card title</h3>
          </div>
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
          </div>
        </div>
      </div>
      <!-- /col -->
      <div class="col-md-3">
        <div class="card hover-shadow-lg">
          <div class="card-header">
            <h3 class="card-title">Card title</h3>
          </div>
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
          </div>
        </div>
      </div>
      <!-- /col -->
    </div>
  </div>
</section>
