<header>
  <div class="header py-4">
    <div class="container">
      <div class="d-flex">
        <a class="header-brand" href="./index.html">
          <img src="assets/images/logo.png" class="header-brand-img" alt="tabler logo">
        </a>
        <div class="d-flex order-lg-2 ml-auto">
          <div class="nav-item d-none d-md-flex">
            <a href="https://github.com/cofess/Bootstrap-UI-Kit" class="btn btn-sm btn-outline-primary" target="_blank">Source code</a>
          </div>
          <div class="dropdown d-none d-md-flex">
            <a class="nav-link icon" data-toggle="dropdown">
              <i class="icon icon-notification-line"></i>
              <span class="nav-unread"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
              <a href="#" class="dropdown-item d-flex">
                <span class="avatar mr-3 align-self-center" style="background-image: url(assets/images/avatars/female/1.jpg)"></span>
                <div>
                  <strong>Nathan</strong> pushed new commit: Fix page load performance issue.
                  <div class="small text-muted">10 minutes ago</div>
                </div>
              </a>
              <a href="#" class="dropdown-item d-flex">
                <span class="avatar mr-3 align-self-center" style="background-image: url(assets/images/avatars/male/1.jpg)"></span>
                <div>
                  <strong>Alice</strong> started new task: Tabler UI design.
                  <div class="small text-muted">1 hour ago</div>
                </div>
              </a>
              <a href="#" class="dropdown-item d-flex">
                <span class="avatar mr-3 align-self-center" style="background-image: url(assets/images/avatars/female/2.jpg)"></span>
                <div>
                  <strong>Rose</strong> deployed new version of NodeJS REST Api V3
                  <div class="small text-muted">2 hours ago</div>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item text-center">Mark all as read</a>
            </div>
          </div>
          <div class="dropdown">
            <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
              <span class="avatar" style="background-image: url(assets/images/avatars/user-160x160.png)"></span>
              <span class="ml-2 d-none d-lg-block">
                      <span class="text-default">Jane Pearson</span>
              <small class="text-muted d-block mt-1">Administrator</small>
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
              <a class="dropdown-item" href="#">
                <i class="dropdown-icon icon icon-user-line"></i> Profile
              </a>
              <a class="dropdown-item" href="#">
                <i class="dropdown-icon icon icon-settings-line"></i> Settings
              </a>
              <a class="dropdown-item" href="#">
                <span class="float-right"><span class="badge badge-primary">6</span></span>
                <i class="dropdown-icon icon icon-inbox-line"></i> Inbox
              </a>
              <a class="dropdown-item" href="#">
                <i class="dropdown-icon icon icon-send-plane-line"></i> Message
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">
                <i class="dropdown-icon icon icon-question-line"></i> Need help?
              </a>
              <a class="dropdown-item" href="#">
                <i class="dropdown-icon icon icon-logout-box-line"></i> Sign out
              </a>
            </div>
          </div>
        </div>
        <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
          <span class="header-toggler-icon"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-3 ml-auto">
          <form class="input-icon my-3 my-lg-0">
            <input type="search" class="form-control header-search" placeholder="Search&hellip;" tabindex="1">
            <div class="input-icon-addon">
              <i class="icon icon-search-line"></i>
            </div>
          </form>
        </div>
        <div class="col-lg order-lg-first">
          <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
            <li class="nav-item">
              <a href="./index.html" class="nav-link"><i class="icon icon-home-fill"></i> Home</a>
            </li>
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="icon icon-layout-fill"></i> Layout</a>
              <div class="dropdown-menu dropdown-menu-arrow">
                <a href="./layout-overview.html" class="dropdown-item ">概览 OverView</a>
                <a href="./layout-grid.html" class="dropdown-item ">栅格 Grid</a>
                <a href="./layout-flex.html" class="dropdown-item ">布局 Flex</a>
              </div>
            </li>
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="icon icon-focus-fill"></i> Utilities</a>
              <div class="dropdown-menu dropdown-menu-arrow">
                <a href="./overview.html" class="dropdown-item ">概览 OverView</a>
                <a href="./colors.html" class="dropdown-item ">颜色 Colors</a>
                <a href="./borders.html" class="dropdown-item ">边框 Borders</a>
                <a href="./embed.html" class="dropdown-item ">嵌入 Embed</a>
                <a href="./display.html" class="dropdown-item ">显示 Display</a>
                <a href="./float.html" class="dropdown-item ">浮动 Float</a>
                <a href="./sizing.html" class="dropdown-item ">尺寸 Sizing</a>
                <a href="./spacing.html" class="dropdown-item ">间隔 Spacing</a>
                <a href="./images.html" class="dropdown-item ">图片 images</a>
                <a href="./text.html" class="dropdown-item ">文本 Text</a>
                <a href="./typography.html" class="dropdown-item ">排版 Typography</a>
              </div>
            </li>
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="icon icon-dashboard-fill"></i> Interface</a>
              <div class="dropdown-menu dropdown-menu-arrow">
                <a href="#" class="dropdown-item ">Arrows</a>
                <a href="./avatars.html" class="dropdown-item ">Avatars</a>
                <a href="./badge.html" class="dropdown-item ">Badges</a>
                <a href="./buttons.html" class="dropdown-item ">Buttons</a>
                <a href="#" class="dropdown-item ">Dividers</a>
                <a href="#" class="dropdown-item ">Labels</a>
                <a href="#" class="dropdown-item ">Ribbons</a>
                <a href="./tags.html" class="dropdown-item ">Tags</a>
                <a href="#" class="dropdown-item ">Placeholder</a>
                <a href="./progress.html" class="dropdown-item ">Progress Bars</a>
                <a href="./skew-background.html" class="dropdown-item ">Skew Background</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="icon icon-stack-fill"></i> Components</a>
              <div class="dropdown-menu dropdown-menu-arrow">
                <a href="./alerts.html" class="dropdown-item ">Alerts</a>
                <a href="./lists.html" class="dropdown-item ">Lists</a>
                <a href="./cards.html" class="dropdown-item ">Cards</a>
                <a href="./img-holder.html" class="dropdown-item ">Img Holder</a>
                <a href="./sample-cards.html" class="dropdown-item ">Sample Cards</a>
                <a href="./card-components.html" class="dropdown-item ">Cards design</a>
                <a href="./pricing-cards.html" class="dropdown-item ">Pricing cards</a>
                <a href="./tables.html" class="dropdown-item ">Tables</a>
                <a href="#" class="dropdown-item ">Timeline</a>
                <a href="./pagination.html" class="dropdown-item ">Pagination</a>
                <a href="#" class="dropdown-item ">Tile</a>
                <a href="#" class="dropdown-item ">Accordion</a>
                <a href="./carousel.html" class="dropdown-item ">Carousel</a>
                <a href="#" class="dropdown-item ">Modals</a>
                <a href="#" class="dropdown-item ">Tabs</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="icon icon-checkbox-fill"></i> Forms</a>
              <div class="dropdown-menu dropdown-menu-arrow">
                <a href="./form-components.html" class="dropdown-item ">Form components</a>
                <a href="./form-elements.html" class="dropdown-item ">Form elements</a>
                <a href="./form-elements.html" class="dropdown-item ">Material Form elements</a>
              </div>
            </li>
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="icon icon-information-fill"></i> Icons</a>
              <div class="dropdown-menu dropdown-menu-arrow">
                <a href="./icon-font-awesome.html" class="dropdown-item ">Font Awesome</a>
                <a href="./icon-ant-design.html" class="dropdown-item ">Ant Design Icons</a>
                <a href="./icon-favorite.html" class="dropdown-item ">Favorite Icons</a>
                <a href="./icon-flags.html" class="dropdown-item ">Flags</a>
                <a href="#" class="dropdown-item ">Icon Style</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="icon icon-plug-fill"></i> Plugins</a>
              <div class="dropdown-menu dropdown-menu-arrow">
                <a href="./plugin-slimscroll.html" class="dropdown-item ">slimScroll</a>
                <a href="./plugin-owl-carousel.html" class="dropdown-item ">Owl Carousel</a>
                <a href="./plugin-waterfall.html" class="dropdown-item ">Waterfall</a>
                <a href="#" class="dropdown-item ">Form Validator</a>
                <a href="./plugin-match-height.html" class="dropdown-item ">Match Height</a>
                <a href="./plugin-counter.html" class="dropdown-item ">Number Counter</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="icon icon-pages-fill"></i> Pages</a>
              <div class="dropdown-menu dropdown-menu-arrow">
                <a href="./store.html" class="dropdown-item ">Store</a>
                <a href="./blog.html" class="dropdown-item ">Blog</a>
                <a href="./gallery.html" class="dropdown-item ">Gallery</a>
                <a href="./profile.html" class="dropdown-item ">Profile</a>
                <a href="./login.html" class="dropdown-item ">Login</a>
                <a href="./register.html" class="dropdown-item ">Register</a>
                <a href="./forgot-password.html" class="dropdown-item ">Forgot password</a>
                <a href="./404.html" class="dropdown-item ">404 error</a>
                <a href="./500.html" class="dropdown-item ">500 error</a>
                <a href="./email.html" class="dropdown-item ">Email</a>
                <a href="./blank.html" class="dropdown-item ">Empty page</a>
                <a href="./rtl.html" class="dropdown-item ">RTL mode</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
