<header>
  <div class="header py-4">
    <div class="container">
      <div class="d-flex">
        <a class="header-brand brand-logo" href="./index.html">
          <img src="assets/images/logo.png" class="header-brand-img" alt="tabler logo">
        </a>
        <div class="d-flex order-lg-2 ml-auto">
          <div class="nav-item d-none d-md-flex">
            <a href="https://github.com/cofess/Bootstrap-UI-Kit" class="btn btn-sm btn-outline-primary" target="_blank">Source code</a>
          </div>
          <div class="dropdown d-none d-md-flex">
            <a class="nav-link icon" data-toggle="dropdown">
              <i class="icon icon-notification-line"></i>
              <span class="nav-unread"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
              <a href="#" class="dropdown-item d-flex">
                <span class="avatar mr-3 align-self-center" style="background-image: url(assets/images/avatars/female/1.jpg)"></span>
                <div>
                  <strong>Nathan</strong> pushed new commit: Fix page load performance issue.
                  <div class="small text-muted">10 minutes ago</div>
                </div>
              </a>
              <a href="#" class="dropdown-item d-flex">
                <span class="avatar mr-3 align-self-center" style="background-image: url(assets/images/avatars/male/1.jpg)"></span>
                <div>
                  <strong>Alice</strong> started new task: Tabler UI design.
                  <div class="small text-muted">1 hour ago</div>
                </div>
              </a>
              <a href="#" class="dropdown-item d-flex">
                <span class="avatar mr-3 align-self-center" style="background-image: url(assets/images/avatars/female/2.jpg)"></span>
                <div>
                  <strong>Rose</strong> deployed new version of NodeJS REST Api V3
                  <div class="small text-muted">2 hours ago</div>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item text-center">Mark all as read</a>
            </div>
          </div>
          <div class="dropdown">
            <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
              <span class="avatar" style="background-image: url(assets/images/avatars/user-160x160.png)"></span>
              <span class="ml-2 d-none d-lg-block">
                      <span class="text-default">Jane Pearson</span>
              <small class="text-muted d-block mt-1">Administrator</small>
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
              <a class="dropdown-item" href="#">
                <i class="dropdown-icon icon icon-user-line"></i> Profile
              </a>
              <a class="dropdown-item" href="#">
                <i class="dropdown-icon icon icon-settings-line"></i> Settings
              </a>
              <a class="dropdown-item" href="#">
                <span class="float-right"><span class="badge badge-primary">6</span></span>
                <i class="dropdown-icon icon icon-inbox-line"></i> Inbox
              </a>
              <a class="dropdown-item" href="#">
                <i class="dropdown-icon icon icon-send-plane-line"></i> Message
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">
                <i class="dropdown-icon icon icon-question-line"></i> Need help?
              </a>
              <a class="dropdown-item" href="#">
                <i class="dropdown-icon icon icon-logout-box-line"></i> Sign out
              </a>
            </div>
          </div>
        </div>
        <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#navbarNavDropdown">
          <span class="header-toggler-icon"></span>
        </a>
      </div>
    </div>
  </div>
  <!-- Navbar -->
  <nav class="collapse navbar navbar-simple navbar-expand-lg navbar-light bg-white d-lg-flex" id="navbarNavDropdown">
    <div class="container">
      <div class="navbar-collapse">
        <!-- Left nav -->
        <ul class="nav navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="./index.html"><i class="icon icon-home-fill"></i> Home</a>
          </li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="./layout-overview.html"><i class="icon icon-layout-fill"></i> Layout</a>
            <ul class="dropdown-menu dropdown-menu-arrow">
              <li><a href="./layout-overview.html" class="dropdown-item ">概览 OverView</a></li>
              <li><a href="./layout-grid.html" class="dropdown-item ">栅格 Grid</a></li>
              <li><a href="./layout-flex.html" class="dropdown-item ">布局 Flex</a></li>
              <li><a href="./layout-columns.html" class="dropdown-item ">分栏 Columns</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="./overview.html"><i class="icon icon-focus-fill"></i> Utilities</a>
            <ul class="dropdown-menu dropdown-menu-arrow">
              <li><a href="./utility-overview.html" class="dropdown-item ">概览 OverView</a></li>
              <li><a href="./utility-colors.html" class="dropdown-item ">颜色 Colors</a></li>
              <li><a href="./utility-borders.html" class="dropdown-item ">边框 Borders</a></li>
              <li><a href="./utility-shadow.html" class="dropdown-item ">阴影 Shadow</a></li>
              <li><a href="./utility-embed.html" class="dropdown-item ">嵌入 Embed</a></li>
              <li><a href="./utility-display.html" class="dropdown-item ">显示 Display</a></li>
              <li><a href="./utility-float.html" class="dropdown-item ">浮动 Float</a></li>
              <li><a href="./utility-sizing.html" class="dropdown-item ">尺寸 Sizing</a></li>
              <li><a href="./utility-spacing.html" class="dropdown-item ">间隔 Spacing</a></li>
              <li><a href="./utility-images.html" class="dropdown-item ">图片 images</a></li>
              <li><a href="./utility-text.html" class="dropdown-item ">文本 Text</a></li>
              <li><a href="./utility-typography.html" class="dropdown-item ">排版 Typography</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="javascript:0;"><i class="icon icon-dashboard-fill"></i> Interface</a>
            <ul class="dropdown-menu dropdown-menu-arrow">
              <li><a href="#" class="dropdown-item ">Arrows</a></li>
              <li><a href="./ui-avatars.html" class="dropdown-item ">Avatars</a></li>
              <li><a href="./ui-badge.html" class="dropdown-item ">Badges</a></li>
              <li><a href="./ui-buttons.html" class="dropdown-item ">Buttons</a></li>
              <li><a href="./ui-dividers.html" class="dropdown-item ">Dividers</a></li>
              <li><a href="./ui-section-separator.html" class="dropdown-item ">Section Separator</a></li>
              <!-- <li><a href="#" class="dropdown-item ">Labels</a></li> -->
              <li><a href="#" class="dropdown-item ">Ribbons</a></li>
              <li><a href="./ui-tags.html" class="dropdown-item ">Tags</a></li>
              <!-- <li><a href="#" class="dropdown-item ">Placeholder</a></li> -->
              <li><a href="./ui-progress.html" class="dropdown-item ">Progress Bars</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="javascript:0;"><i class="icon icon-stack-fill"></i> Components</a>
            <ul class="dropdown-menu dropdown-menu-arrow">
              <li><a href="./component-alerts.html" class="dropdown-item ">Alerts</a></li>
              <li><a href="./component-lists.html" class="dropdown-item ">Lists</a></li>
              <li><a href="./component-img-holder.html" class="dropdown-item ">Img Holder</a></li>
              <li><a href="./component-tables.html" class="dropdown-item ">Tables</a></li>
              <li><a href="./component-timeline.html" class="dropdown-item ">Timeline</a></li>
              <li><a href="./component-pagination.html" class="dropdown-item ">Pagination</a></li>
              <li><a href="#" class="dropdown-item ">Tile</a></li>
              <li><a href="./component-accordion.html" class="dropdown-item ">Accordion</a></li>
              <li><a href="./component-carousel.html" class="dropdown-item ">Carousel</a></li>
              <li><a href="./component-modals.html" class="dropdown-item ">Modals</a></li>
              <li><a href="./component-tabs.html" class="dropdown-item ">Tabs</a></li>
              <li><a href="./component-toasts.html" class="dropdown-item ">Toasts</a></li>
              <li><a href="./component-spinners.html" class="dropdown-item ">Spinners</a></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="javascript:0;">Cards</a>
                <ul class="dropdown-menu">
                  <li><a href="./component-cards.html" class="dropdown-item ">Cards</a></li>
                  <li><a href="./component-entry-cards.html" class="dropdown-item ">Entry Cards</a></li>
                  <li><a href="./component-sample-cards.html" class="dropdown-item ">Sample Cards</a></li>
                  <li><a href="./component-card-elements.html" class="dropdown-item ">Cards design</a></li>
                  <li><a href="./component-pricing-cards.html" class="dropdown-item ">Pricing cards</a></li>
                </ul>
              </li>
              <li class="dropdown-divider"></li>
              <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="javascript:0;">Forms</a>
                <ul class="dropdown-menu">
                  <li><a href="./form-components.html" class="dropdown-item ">Form components</a></li>
                  <li><a href="./form-elements.html" class="dropdown-item ">Form elements</a></li>
                  <li><a href="./form-styles.html" class="dropdown-item ">Form Styles</a></li>
                </ul>
              </li>
              <li><a href="./component-svg.html" class="dropdown-item ">SVG</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="javascript:0;"><i class="icon icon-information-fill"></i> Icons</a>
            <ul class="dropdown-menu dropdown-menu-arrow">
              <li><a href="./icon-font-awesome.html" class="dropdown-item ">Font Awesome</a></li>
              <li><a href="./icon-ant-design.html" class="dropdown-item ">Ant Design Icons</a></li>
              <li><a href="./icon-favorite.html" class="dropdown-item ">Favorite Icons</a></li>
              <li><a href="./icon-flags.html" class="dropdown-item ">Flags</a></li>
              <li><a href="./icon-styles.html" class="dropdown-item ">Icon Style</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="./plugin-overview.html"><i class="icon icon-plug-fill"></i> Plugins</a>
            <ul class="dropdown-menu dropdown-menu-arrow">
              <li><a href="./plugin-overview.html" class="dropdown-item ">Overview</a></li>
              <li><a href="./plugin-slimscroll.html" class="dropdown-item ">slimScroll</a></li>
              <li><a href="./plugin-owl-carousel.html" class="dropdown-item ">Owl Carousel</a></li>
              <li><a href="./plugin-waterfall.html" class="dropdown-item ">Waterfall</a></li>
              <li><a href="./plugin-form-validator.html" class="dropdown-item ">Form Validator</a></li>
              <li><a href="./plugin-match-height.html" class="dropdown-item ">Match Height</a></li>
              <li><a href="./plugin-counter.html" class="dropdown-item ">Number Counter</a></li>
              <li><a href="./plugin-ladda-button.html" class="dropdown-item ">Ladda Button</a></li>
              <li><a href="./plugin-megamenu.html" class="dropdown-item ">Mega Menu</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="javascript:0;"><i class="icon icon-plug-fill"></i> Blocks</a>
            <ul class="dropdown-menu dropdown-menu-arrow">
              <li><a href="./block-call-to-action.html" class="dropdown-item ">Call to action</a></li>
              <li><a href="./block-contacts.html" class="dropdown-item ">Contacts</a></li>
              <li><a href="./block-contents.html" class="dropdown-item ">Contents</a></li>
              <li><a href="./block-features.html" class="dropdown-item ">Features</a></li>
              <li><a href="./block-footers.html" class="dropdown-item ">Footers</a></li>
              <li><a href="./block-forms.html" class="dropdown-item ">Forms</a></li>
              <li><a href="./block-headers.html" class="dropdown-item ">Headers</a></li>
              <li><a href="./block-pricings.html" class="dropdown-item ">Pricings</a></li>
              <li><a href="./block-teams.html" class="dropdown-item ">Teams</a></li>
              <li><a href="./block-testimonials.html" class="dropdown-item ">Testimonials</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="javascript:0;"><i class="icon icon-pages-fill"></i> Post Type</a>
            <ul class="dropdown-menu dropdown-menu-arrow">
              <li><a href="./post-type-download-list.html" class="dropdown-item ">Download</a></li>
              <li><a href="./post-type-event-list.html" class="dropdown-item ">Event</a></li>
              <li><a href="./post-type-faq-list.html" class="dropdown-item ">FAQ</a></li>
              <li><a href="./post-type-gallery-list.html" class="dropdown-item ">Gallery</a></li>
              <li><a href="./post-type-glossary-list.html" class="dropdown-item ">Glossary</a></li>
              <li><a href="./post-type-job-list.html" class="dropdown-item ">Job</a></li>
              <li><a href="./post-type-office-list.html" class="dropdown-item ">Office</a></li>
              <li><a href="./post-type-person-list.html" class="dropdown-item ">Person</a></li>
              <li><a href="./post-type-portfolio-list.html" class="dropdown-item ">Portfolio</a></li>
              <li><a href="./post-type-post-list.html" class="dropdown-item ">Post</a></li>
              <li><a href="./post-type-product-list.html" class="dropdown-item ">Product</a></li>
              <li><a href="./post-type-project-list.html" class="dropdown-item ">Project</a></li>
              <li><a href="./post-type-service-list.html" class="dropdown-item ">Service</a></li>
              <li><a href="./post-type-testimonial-list.html" class="dropdown-item ">Testimonial</a></li>
              <li><a href="./post-type-topic-list.html" class="dropdown-item ">Topic</a></li>
              <li><a href="./post-type-video-list.html" class="dropdown-item ">Video</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="javascript:0;"><i class="icon icon-pages-fill"></i> Pages</a>
            <ul class="dropdown-menu dropdown-menu-arrow">
              <li><a href="./page-store.html" class="dropdown-item ">Store</a></li>
              <li><a href="./page-blog.html" class="dropdown-item ">Blog</a></li>
              <li><a href="./page-gallery.html" class="dropdown-item ">Gallery</a></li>
              <li><a href="./page-profile.html" class="dropdown-item ">Profile</a></li>
              <li><a href="./page-login.html" class="dropdown-item ">Login</a></li>
              <li><a href="./page-register.html" class="dropdown-item ">Register</a></li>
              <li><a href="./page-forgot-password.html" class="dropdown-item ">Forgot password</a></li>
              <li><a href="./page-404.html" class="dropdown-item ">404 error</a></li>
              <li><a href="./page-500.html" class="dropdown-item ">500 error</a></li>
              <li><a href="./page-chat.html" class="dropdown-item ">Chat</a></li>
              <li><a href="./blank.html" class="dropdown-item ">Empty page</a></li>
            </ul>
          </li>
        </ul>
        <!-- Right nav -->
        <form class="input-icon">
          <input type="search" class="form-control header-search" placeholder="Search&hellip;" tabindex="1">
          <div class="input-icon-addon">
            <i class="icon icon-search-line"></i>
          </div>
        </form>
      </div>
    </div>
  </nav>
</header>
