<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Cache-Control" content="no-transform">
<meta http-equiv="Cache-Control" content="no-siteapp">
<!-- 强制页面在当前窗口以独立页面显示,防止别人在框架里调用页面 -->
<meta http-equiv="window-target" content="_top">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
<meta name="renderer" content="webkit">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no,email=no,adress=no">
<!-- Color theme for statusbar -->
<meta name="theme-color" content="#000000">
<meta name="author" content="Cofess, cofess@foxmail.com">
<meta name="owner" content="Cofess, cofess@foxmail.com">
<meta name="copyright" content="">
<meta name="reply-to" content="cofess@foxmail.com">
<meta name="description" content="">
<meta name="keywords" content="">
