<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, shrink-to-fit=no, minimal-ui">
<meta name="renderer" content="webkit">
<meta name="force-rendering" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Cache-Control" content="no-transform">
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta name="applicable-device" content="pc,mobile">
<meta http-equiv="window-target" content="_top">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no,email=no,adress=no">
<!-- Color theme for statusbar -->
<meta name="theme-color" content="{{ config.theme_color }}">
<meta name="author" content="{{ config.author }}">
<meta name="owner" content="{{ config.owner }}">
<meta name="copyright" content="">
<meta name="reply-to" content="{{ config.reply_to }}">
<meta name="description" content="">
<meta name="keywords" content="">
