<!-- <script data-main="assets/js/main.js" src="assets/js/lib/require.min.js"></script> -->
<script src="assets/js/lib/require.min.js"></script>
<script>
requirejs.config({
  baseUrl: '.'
});
</script>
<!-- Core -->
<script src="assets/js/main.js"></script>
<!-- Input Mask Plugin -->
<script src="assets/plugins/input-mask/plugin.js"></script>
<!-- Datatables Plugin -->
<script src="assets/plugins/datatables/plugin.js"></script>
<!-- megamenu Plugin -->
<script src="assets/plugins/megamenu/plugin.js"></script>
