<div class="card p-3">
  <a href="javascript:void(0)" class="mb-3">
    <img src="assets/images/demo/ilnur-kalimullin-218996-500.jpg" alt="Photo by Jack Ruiz" class="rounded">
  </a>
  <div class="d-flex align-items-center px-2">
    <div class="avatar avatar-md mr-3" style="background-image: url(assets/images/avatars/male/32.jpg)"></div>
    <div>
      <div>Jack Ruiz</div>
      <small class="d-block text-muted">15 days ago</small>
    </div>
    <div class="ml-auto text-muted">
      <a href="javascript:void(0)" class="icon"><i class="icon icon-eye-line mr-1"></i> 143</a>
      <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="icon icon-heart-line mr-1"></i> 73</a>
    </div>
  </div>
</div>
