<article class="card entry entry-gallery">
  <div class="ribbon-mark bg-warning position-tr"><span style="font-size: 1.6rem">28</span><span>Pics</span></div>
  <div class="card-img img-holder">
    <a href="#"><img class="b-lazy" data-src="assets/images/demo/products/poster_3_up1.jpg" alt="Photo by Jack Ruiz"></a>
    <a class="card-mask" href="#"><span class="icon icon-round"><i class="fa fa-link fa-fw"></i></span></a>
  </div>
  <div class="card-body">
    <div class="d-flex align-items-center">
      <div class="avatar avatar-md mr-3" style="background-image: url(assets/images/avatars/male/32.jpg)"></div>
      <div>
        <div>Jack Ruiz</div>
        <small class="d-block text-muted">15 days ago</small>
      </div>
      <div class="ml-auto text-muted">
        <a href="javascript:void(0)" class="icon"><i class="icon icon-eye-line mr-1"></i> 143</a>
        <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="icon icon-heart-line mr-1"></i> 73</a>
      </div>
    </div>
  </div>
</article>
