<section class="entries entry-list gallery-list">
  <div class="container">
    <div class="row row-cards row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-3 gutters-sm">
      {% for i in range(0, (content.news.list or 12)) -%}
        <div class="col wow" data-wow-delay=".{{i%2}}s">
          {% include "_includes/_post-type/gallery/item-gallery.html" %}
        </div>
        <!--/ col -->
      {%- endfor %}
    </div>
  </div>
</section>
{% include "_includes/_common/pagination.html" %}