/*
|--------------------------------------------------------------------------
| animate logo
|--------------------------------------------------------------------------
*/

.brand-logo {
  position: relative;
  overflow: hidden;
  transition-duration: .5s;
}

@include media-breakpoint-up(md) {
  .brand-logo:before {
    content: "";
    position: absolute;
    left: -665px;
    top: -460px;
    width: 220px;
    height: 15px;
    background-color: rgba(255, 255, 255, .5);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: blink 1s ease-in 1s infinite;
    -o-animation: blink 1s ease-in 1s infinite;
    animation: blink 1s ease-in 1s infinite;
  }
}

@-webkit-keyframes blink {
  0% {
    left: -100px;
    top: 0;
  }
  to {
    left: 120px;
    top: 100px;
  }
}

@-o-keyframes blink {
  0% {
    left: -100px;
    top: 0;
  }
  to {
    left: 120px;
    top: 100px;
  }
}

@-moz-keyframes blink {
  0% {
    left: -100px;
    top: 0;
  }
  to {
    left: 120px;
    top: 100px;
  }
}

@keyframes blink {
  0% {
    left: -100px;
    top: 0;
  }
  to {
    left: 120px;
    top: 100px;
  }
}


/*
|--------------------------------------------------------------------------
| animate background
|--------------------------------------------------------------------------
*/

.bg-fly-circle1 {
  position: absolute;
  left: 40px;
  top: 40px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(to right, rgba(100, 84, 239, 0.07) 0%, rgba(48, 33, 236, 0.04) 100%);
  animation: move 2.5s linear infinite;
}

.bg-fly-circle2 {
  position: absolute;
  left: 20%;
  top: 50%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(to right, rgba(100, 84, 239, 0.07) 0%, rgba(48, 33, 236, 0.01) 100%);
  animation: move 3s linear infinite;
}

.bg-fly-circle3 {
  position: absolute;
  right: 10px;
  top: 140px;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background: linear-gradient(to right, rgba(100, 84, 239, 0.1) 0%, rgba(48, 33, 236, 0.04) 100%);
  animation: move 2.5s linear infinite;
}

.bg-fly-circle4 {
  position: absolute;
  left: 65%;
  top: 50px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: linear-gradient(to right, rgba(100, 84, 239, 0.02) 0%, rgba(48, 33, 236, 0.04) 100%);
  animation: move 3.5s linear infinite;
}

@-webkit-keyframes move {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0px);
  }
}

@-moz-keyframes move {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0px);
  }
}

@-o-keyframes move {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes move {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0px);
  }
}
