.badge {
  border: 1px solid transparent;
  font-size: 11px;
  padding: 2px 5px;
  position: relative;
}

.badge-above {
  margin-right: -9px;
  position: absolute;
  right: 100%;
  top: -9px;
  z-index: 3
}

.badge-above.right {
  left: 100%;
  margin-left: -9px;
  margin-right: 0;
  right: auto
}

.badge-default {
  background-color: #6185a8
}

.badge-default[href]:focus,
.badge-default[href]:hover {
  background-color: #4c6b8a
}

.badge-primary {
  background-color: $brand-primary
}

.badge-primary[href]:focus,
.badge-primary[href]:hover {
  background-color: darken($brand-primary, 5%)
}

.badge-success {
  background-color: $brand-success
}

.badge-success[href]:focus,
.badge-success[href]:hover {
  background-color: darken($brand-success, 5%)
}

.badge-info {
  background-color: $brand-info
}

.badge-info[href]:focus,
.badge-info[href]:hover {
  background-color: darken($brand-info, 5%)
}

.badge-warning {
  background-color: $brand-warning
}

.badge-warning[href]:focus,
.badge-warning[href]:hover {
  background-color: darken($brand-warning, 5%)
}

.badge-danger {
  background-color: $brand-danger
}

.badge-danger[href]:focus,
.badge-danger[href]:hover {
  background-color: darken($brand-danger, 5%)
}

.badge-outline-default {
  background-color: transparent;
  border-color: #6185a8;
  color: #6185a8
}

.badge-outline-default[href]:focus,
.badge-outline-default[href]:hover {
  background-color: #6185a8;
  color: #fff
}

.badge-outline-primary {
  background-color: transparent;
  border-color: $brand-primary;
  color: $brand-primary
}

.badge-outline-primary[href]:focus,
.badge-outline-primary[href]:hover {
  background-color: $brand-primary;
  color: #fff
}

.badge-outline-success {
  background-color: transparent;
  border-color: $brand-success;
  color: $brand-success
}

.badge-outline-success[href]:focus,
.badge-outline-success[href]:hover {
  background-color: $brand-success;
  color: #fff
}

.badge-outline-info {
  background-color: transparent;
  border-color: $brand-info;
  color: $brand-info
}

.badge-outline-info[href]:focus,
.badge-outline-info[href]:hover {
  background-color: $brand-info;
  color: #fff
}

.badge-outline-warning {
  background-color: transparent;
  border-color: $brand-warning;
  color: $brand-warning
}

.badge-outline-warning[href]:focus,
.badge-outline-warning[href]:hover {
  background-color: $brand-warning;
  color: #fff
}

.badge-outline-danger {
  background-color: transparent;
  border-color: $brand-danger;
  color: $brand-danger
}

.badge-outline-danger[href]:focus,
.badge-outline-danger[href]:hover {
  background-color: $brand-danger;
  color: #fff
}
