.btn-shadow {
  &:focus,
  &:hover,
  &.active {
    -moz-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
  }
}

.btn-main {
  @include button-variant($btn-main-color, $btn-main-bg, $btn-main-border);
}

.btn-sub {
  @include button-variant($btn-sub-color, $btn-sub-bg, $btn-sub-border);
}

.btn-mix {
  @include button-variant($btn-mix-color, $btn-mix-bg, $btn-mix-border);
}

.btn-dif {
  @include button-variant($btn-dif-color, $btn-dif-bg, $btn-dif-border);
}

.btn-dark {
  @include button-variant($btn-dark-color, $btn-dark-bg, $btn-dark-border);
}


/*
* Button:Outline Button
*
*/

.btn-outline {
  border: 1px solid #fff;
  background: transparent;
  // color: #fff;
  &:hover,
  &:focus,
  &:active {
    color: #fff;
  }
  &.btn-default {
    @extend .outline-default;
    @extend .outline-default[href];
  }
  &.btn-dark {
    @extend .outline-dark;
    @extend .outline-dark[href];
  }
  &.btn-white {
    @extend .outline-white;
    @extend .outline-white[href];
  }
  &.btn-primary {
    @extend .outline-primary;
    @extend .outline-primary[href];
  }
  &.btn-success {
    @extend .outline-success;
    @extend .outline-success[href];
  }
  &.btn-info {
    @extend .outline-info;
    @extend .outline-info[href];
  }
  &.btn-warning {
    @extend .outline-warning;
    @extend .outline-warning[href];
  }
  &.btn-danger {
    @extend .outline-danger;
    @extend .outline-danger[href];
  }
}
