@if ($enable-component-timeline==true) {
  .timeline {
    position: relative;
    margin: 0 0 2rem;
    padding: 0;
    list-style: none;
    &:before {
      background-color: $gray-200;
      position: absolute;
      display: block;
      content: '';
      width: 1px;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 4px;
    }
  }
  .timeline-item {
    position: relative;
    display: flex;
    padding-left: 2rem;
    margin: .5rem 0;
    &:first-child:before,
    &:last-child:before {
      content: '';
      position: absolute;
      background: #fff;
      width: 1px;
      left: .25rem;
    }
    &:first-child {
      margin-top: 0;
      &:before {
        top: 0;
        height: .5rem;
      }
    }
    &:last-child {
      margin-bottom: 0;
      &:before {
        top: .5rem;
        bottom: 0;
      }
    }
  }
  .timeline-badge {
    position: absolute;
    display: block;
    width: px2rem(7px);
    height: px2rem(7px);
    left: 1px;
    top: .5rem;
    border-radius: 100%;
    border: 1px solid #fff;
    background: $gray-500;
  }
  .timeline-time {
    white-space: nowrap;
    margin-left: auto;
    color: $text-muted;
    font-size: $small-font-size;
  }
  // list-news
  .list-news {
    position: relative;
    border-color: rgba(135, 150, 165, 0.1);
    padding: 0;
    margin: 0;
  }
  .list-news-item {
    border-radius: 3px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
  }
  .list-news-item:last-child .list-news-dot:after {
    display: none;
  }
  .list-news-item.active .list-news-dot:before {
    border-color: #448EF6;
    box-shadow: 0 0 0px 4px rgba(19, 126, 255, 0.2);
  }
  .list-news-dot {
    position: relative;
    border-color: rgba(135, 150, 165, 0.1);
    padding: 0 .5rem;
  }
  .list-news-dot:before,
  .list-news-dot:after {
    content: '';
    position: absolute;
    border-color: inherit;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 14px;
    left: 50%;
    transform: translateX(-50%);
  }
  .list-news-dot:before {
    border-color: rgba(31, 110, 212, 0.61);
  }
  .list-news-dot:after {
    width: 0;
    height: auto;
    top: 26px;
    bottom: -12px;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0;
  }
  .list-news-content {
    padding: 0 0 1.5rem 1rem;
  }
  .list-news-content p:last-child {
    margin-bottom: 0;
  }
  .list-news-date {
    padding: .5rem 1rem 0;
  }
  .list-news-item.active .list-news-date {
    padding: .25rem 1rem 1rem;
  }
}
