$body-bg:               	 #f8f8f8;
$normal-color:       	 	 #08081a;
$font-size-base:          	 14px !default;
$line-height-base:        	 1.5 !default;
/*----------------------------------------------------
 * Gray and brand colors
 *---------------------------------------------------*/
// basic color
$main-color: 			  	 #0073e6; // 主色
$sub-color: 			  	 #0ae; // 辅助色,互补色
$mix-color: 			  	 #aed; // 融合色
$dif-color: 			  	 #aed; // 对比色

// Basic monochrome color
$--white: 			  	   	 white;
$--whitesmoke: 			  	 whitesmoke;
$--lightgray: 			   	 lightgray;
$--silver: 			  	  	 silver;
$--gray: 				  	 gray;
$--darkgray: 			  	 darkgray;
$--black: 				  	 black;

// brand colors
$brand-primary:           	 $main-color;
$brand-success:           	 #5cb85c;
$brand-info:              	 #5bc0de;
$brand-warning:           	 #f0ad4e;
$brand-danger:            	 #d9534f;

/*----------------------------------------------------
 * Global textual link color.
 *---------------------------------------------------*/

$link-color:              	 $main-color;
$link-normal-color:       	 $normal-color;
$link-hover-color:        	 darken($link-color, 10%);

/*----------------------------------------------------
 * border
 *---------------------------------------------------*/
$border-color:        		  #f2f2f2;
$input-border:        		  #ddd;
$border-radius-base:          3px;
$border-radius-large:         5px;
$border-radius-small:         2px;

/*----------------------------------------------------
 * Media queries breakpoints
 * ## Define the breakpoints at which your layout will change, adapting to different screen sizes.
 *---------------------------------------------------*/
// Super Large screen / wide desktop
//** Deprecated `$screen-sl` as of v3.0.1
$screen-sl:                  1680px;
$screen-sl-min:              $screen-sl;
//** Deprecated `$screen-xl-desktop` as of v3.0.1
$screen-sl-desktop:          $screen-sl-min;

/*----------------------------------------------------
 * header
 *---------------------------------------------------*/
$header-bg:            		 #fff;
$header-height-xs:           50px;
$header-height-sm:           60px;
$header-height-md:           68px;
$header-height-lg:           80px;
$header-height-xl:           80px;
$dropdown-menu-border-color: #eee;
/*----------------------------------------------------
 * main-content
 *---------------------------------------------------*/
$main-content-bg:            #fff;

/*----------------------------------------------------
 * footer
 *---------------------------------------------------*/
$footer-bg:            		 #fff;

/*----------------------------------------------------
 * sidebar
 *---------------------------------------------------*/
$sidebar-bg:            	 #fcfcfc;

/*----------------------------------------------------
 * widget
 *---------------------------------------------------*/
$widget-title-font-size:	 18px;
$widget-title-border-color:	 $main-color;


//== Panels
//
//##
$panel-body-padding:          20px;
$panel-heading-padding:       10px 15px;
//** Border color for elements within panels
$panel-inner-border:          #f2f2f2;
$panel-footer-bg:             #fcfcfc;

// $panel-default-text:          $gray-dark !default;
$panel-default-border:        #f2f2f2;
$panel-default-heading-bg:    #fcfcfc;

//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
$table-cell-padding:            8px;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding:  5px;

//** Default background color used for all tables.
$table-bg:                      transparent;
//** Background color used for `.table-striped`.
$table-bg-accent:               #fcfcfc;
//** Background color used for `.table-hover`.
$table-bg-hover:                #fdfeff;
$table-bg-active:               $table-bg-hover;

//** Border color for table and cell borders.
$table-border-color:            #f2f2f2;

$btn-default-border:            #ddd;