//
// File for your custom SCSS variables
//

/*
|--------------------------------------------------------------------------
| Bootstrap Options
|--------------------------------------------------------------------------
| Quickly modify global styling by enabling or disabling optional features.
*/
$enable-caret:                                true;
$enable-rounded:                              true;
$enable-shadows:                              false;
$enable-gradients:                            false;
$enable-transitions:                          true;
$enable-prefers-reduced-motion-media-query:   true;
$enable-hover-media-query:                    false; // Deprecated, no longer affects any compiled CSS
$enable-grid-classes:                         true;
$enable-pointer-cursor-for-buttons:           true;
$enable-print-styles:                         true;
$enable-responsive-font-sizes:                false;
$enable-validation-icons:                     true;
$enable-deprecation-messages:                 false;

// Options
$enable-chat: true;
$enable-syntax-highlight: true;

// Post Type Options
$enable-type-download: true; // 下载
$enable-type-event: true; // 活动
$enable-type-faq: true; // 常见问题
$enable-type-gallery: true; // 图集
$enable-type-glossary: true; // 名词术语解释
$enable-type-job: true; // 工作
$enable-type-knowledge: true; // 帮助文档
$enable-type-office: true; // 分公司、办事处
$enable-type-person: true; // 团队人员
$enable-type-portfolio: true; // 作品
$enable-type-post: true; // 文章
$enable-type-product: true; // 产品
$enable-type-project: true; // 项目、案例
$enable-type-service: true; // 服务
$enable-type-testimonial: true; // 客户评语
$enable-type-topic: true; // 专题
$enable-type-video: true; // 视频

// color
$base-dark-color: #08081a;
$link-normal-color: $base-dark-color;
$link-hover-color: $primary;
$base-shadow: 0 20px 40px -5px rgba(9, 30, 66, 0.25);
