//
// Variables
// --------------------------------------------------


//== Colors
//
//  * Gray and brand colors
//  * lighten($color,10%) 颜色减淡
//  * darken($color,30%) 颜色加深
//  * complement(lighten($color,20%)) 颜色互补
//  * invert(lighten($color,30%)) 反色
//  * grayscale($color) 灰度
//  * mix($color,$color2) 颜色混合
//  * adjust-color($color,$hue:40) 调色函数
//  * ajust-due($color,90deg) 色调调节
$normal-color: 				 #08081a !default; // 正文颜色

$gray-base:                  #000 !default;
$gray-darker:                  lighten($gray-base, 13.5%) !default; // #222
$gray-dark:                    lighten($gray-base, 20%) !default;   // #333
$gray:                         lighten($gray-base, 33.5%) !default; // #555
$gray-light:                   lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:                 lighten($gray-base, 93.5%) !default; // #eee
 
// Basic monochrome color
$--white: 			  	   	 white !default;
$--whitesmoke: 			  	 whitesmoke !default;
$--lightgray: 			   	 lightgray !default;
$--silver: 			  	  	 silver !default;
$--gray: 				  	 gray !default;
$--darkgray: 			  	 darkgray !default;
$--black: 				  	 black !default;
 
// brand colors
$brand-default:           	 #f4f4f4;
$brand-primary:           	 #1c90fb; // 主色
$brand-secondary: 			 #39CCCC; // 辅助色
$brand-mix: 			  	 #605ca8; // 融合色
// $brand-dif: 			  	   #D81B60; // 对比色
$brand-success:           	 #3FB618;
$brand-info:              	 #00c0ef;
$brand-warning:           	 #f39c12;
$brand-danger:            	 #dd4b39;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
$font-family-default: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif !default;
$font-family-nice: "open sans", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif !default;
$font-family-arial: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !default;
$font-family-sans-serif: 'PingHei', 'PingFang SC', Helvetica Neue, 'Work Sans', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif!default;
$font-family-serif: Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace !default;

/*----------------------------------------------------
 * base
 *---------------------------------------------------*/
$font-family-base:			   $font-family-default !default;
$font-size-base:          	   14px !default;
$line-height-base:        	   1.428571429 !default; // 20/14
$border-color-base:        	 #e6e6e6 !default;
$--regular: 			  	   400 !default;
$--bold:                  	   600 !default;
$text-color:            	   $normal-color; // 正文颜色

/*----------------------------------------------------
 * Global textual link color.
 *---------------------------------------------------*/
$link-color:              	   $brand-primary !default;
$link-normal-color:       	 #555 !default;
$link-hover-color:        	   darken($link-color, 10%) !default;

$border-radius-base:           4px !default;
$border-radius-large:          6px !default;
$border-radius-small:          3px !default;

//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
$table-cell-padding:            8px !default;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding:  5px !default;

//** Default background color used for all tables.
$table-bg:                      transparent !default;
//** Background color used for `.table-striped`.
$table-bg-accent:             #f9f9f9 !default;
//** Background color used for `.table-hover`.
$table-bg-hover:              #f5f5f5 !default;
$table-bg-active:               $table-bg-hover !default;

//** Border color for table and cell borders.
$table-border-color:            $border-color-base;

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.
$btn-default-color:          #666;
$btn-default-bg:               $brand-default;
$btn-default-border:           darken($btn-default-bg, 0%);

$btn-secondary-color:        #fff;
$btn-secondary-bg:             $brand-secondary;
$btn-secondary-border:         darken($btn-secondary-bg, 0%);

$btn-mix-color:              #fff;
$btn-mix-bg:                   $brand-mix;
$btn-mix-border:               darken($btn-mix-bg, 0%);

$btn-dark-color:             #fff;
$btn-dark-bg:                #5a6a7a;
$btn-dark-border:              darken($btn-dark-bg, 0%);

$btn-black-color:            #fff;
$btn-black-bg:               #5a6a7a;
$btn-black-border:             darken($btn-black-bg, 0%);

$btn-primary-color:          #fff;
$btn-primary-bg:               $brand-primary;
$btn-primary-border:           darken($btn-primary-bg, 0%);

$btn-success-color:          #fff;
$btn-success-bg:               $brand-success;
$btn-success-border:           darken($btn-success-bg, 0%);

$btn-info-color:             #fff;
$btn-info-bg:                  $brand-info;
$btn-info-border:              darken($btn-info-bg, 0%);

$btn-warning-color:          #fff;
$btn-warning-bg:               $brand-warning;
$btn-warning-border:           darken($btn-warning-bg, 0%);

$btn-danger-color:           #fff;
$btn-danger-bg:                $brand-danger;
$btn-danger-border:            darken($btn-danger-bg, 0%);

//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.
$state-success-text:         #3c763d !default;
$state-success-bg:           #dff0d8 !default;
$state-success-border:         darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:            #31708f !default;
$state-info-bg:                  #d9edf7 !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             #8a6d3b !default;
$state-warning-bg:               #fcf8e3 !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              #a94442 !default;
$state-danger-bg:                #f2dede !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;

//== Panels
//
//##
$panel-bg:                     #fff !default;
$panel-body-padding:           15px !default;
$panel-heading-padding:        10px 15px !default;
$panel-footer-padding:         $panel-heading-padding !default;
$panel-border-radius:          $border-radius-base !default;

//** Border color for elements within panels
$panel-inner-border:           $border-color-base;
$panel-footer-bg:              #f5f5f5 !default;

$panel-default-text:           $gray-dark !default;
$panel-default-border:         $border-color-base;
$panel-default-heading-bg:     #f5f5f5 !default;

$panel-primary-text:           #fff !default;
$panel-primary-border:         $brand-primary !default;
$panel-primary-heading-bg:     $brand-primary !default;

$panel-success-text:           $state-success-text !default;
$panel-success-border:         $state-success-border !default;
$panel-success-heading-bg:     $state-success-bg !default;

$panel-info-text:              $state-info-text !default;
$panel-info-border:            $state-info-border !default;
$panel-info-heading-bg:        $state-info-bg !default;

$panel-warning-text:           $state-warning-text !default;
$panel-warning-border:         $state-warning-border !default;
$panel-warning-heading-bg:     $state-warning-bg !default;

$panel-danger-text:            $state-danger-text !default;
$panel-danger-border:          $state-danger-border !default;
$panel-danger-heading-bg:      $state-danger-bg !default;

//== Wells
//
//##

$well-bg:                    #f4f4f4;
$well-border:                  $border-color-base;

/*----------------------------------------------------
 * box
 *---------------------------------------------------*/
$--box-1:                 	   8px !default;
$--box-2:                 	   16px !default;
$--box-3:                 	   24px !default;
$--box-4:                 	   32px !default;
$--box-5:   			  	   64px !default;
$--box-6: 				  	   128px !default;

/*----------------------------------------------------
 * height
 *---------------------------------------------------*/
$--height-1: 			  	   32px !default; // 16px * 2
$--height-2: 			  	   48px !default; // 16px * 3
$--height-3: 			  	   80px !default; // 16px * 5
$--height-4: 			  	   128px !default; // 16px * 8
$--height-5: 			  	   208px !default; // 16px * 13
$--height-6: 			  	   336px !default; // 16px * 21

/*----------------------------------------------------
 * width
 *---------------------------------------------------*/
$--width-1: 			  	   32px !default;
$--width-2: 			  	   48px !default;
$--width-3: 			  	   80px !default;
$--width-4: 			  	   128px !default;
$--width-5:	 			  	   208px !default;
$--width-6: 			  	   336px !default;

/*----------------------------------------------------
 * padding
 *---------------------------------------------------*/
$padding-base:			  	   5px !default;
$padding-1:				  	   $padding-base*1 !default;
$padding-2:				  	   $padding-base*2 !default;
$padding-3:				  	   $padding-base*3 !default;
$padding-4:				  	   $padding-base*4 !default;
$padding-5:				  	   $padding-base*6 !default;
$padding-6:				  	   $padding-base*12 !default;
$padding-max:			  	   $padding-base*20 !default;

/*----------------------------------------------------
 * margin
 *---------------------------------------------------*/
$margin-base:			  	   5px !default;
$margin-1:				  	   $margin-base*1 !default;
$margin-2:				  	   $margin-base*2 !default;
$margin-3:				  	   $margin-base*3 !default;
$margin-4:				  	   $margin-base*4 !default;
$margin-5:				  	   $margin-base*6 !default;
$margin-6:				  	   $margin-base*12 !default;
$margin-max:			  	   $margin-base*20 !default;

/*----------------------------------------------------
 * border
 *---------------------------------------------------*/
$border-1: 				  	   2px !default;
$border-2: 				  	   3px !default;
$border-3: 				  	   5px !default;
$border-4: 				  	   10px !default;
$border-5: 				  	   15px !default;
$border-max: 			  	   60px !default;

/*----------------------------------------------------
 * border-radius
 *---------------------------------------------------*/
$border-radius-1: 		  	   3px !default;
$border-radius-2: 		  	   6px !default;
$border-radius-3: 		  	   9px !default;
$border-radius-4: 		  	   15px !default;
$border-radius-5: 		  	   24px !default;
$border-radius-rounded:   	   4px !default;
$border-radius-max: 	  	   9999px !default;

/*----------------------------------------------------
 * z-index
 *---------------------------------------------------*/
$z-index-1:        		  	   9 !default;
$z-index-2: 			  	   19 !default;
$z-index-3: 			  	   29 !default;
$z-index-4: 			  	   39 !default;
$z-index-5: 			  	   49 !default;
$z-index-6: 			  	   59 !default;
$z-index-7: 			  	   69 !default;
$z-index-8: 			  	   79 !default;
$z-index-9: 			  	   89 !default;
$z-index-10: 			  	   99 !default;
$z-index-max: 			  	   9999 !default;

/*----------------------------------------------------
 * Media queries breakpoints
 * ## Define the breakpoints at which your layout will change, adapting to different screen sizes.
 *---------------------------------------------------*/
// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                    576px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:                $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:                 $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                    768px !default;
$screen-sm-min:                $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:                $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                    992px !default;
$screen-md-min:                $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:               $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                    1200px !default;
$screen-lg-min:                $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:            $screen-lg-min !default;

// Extra Large screen / wide desktop
//** Deprecated `$screen-xl` as of v3.0.1
$screen-xl:                    1440px !default;
$screen-xl-min:                $screen-xl !default;
//** Deprecated `$screen-xl-desktop` as of v3.0.1
$screen-xl-desktop:            $screen-xl-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:                ($screen-sm-min - 0.01) !default;
$screen-sm-max:                ($screen-md-min - 0.01) !default;
$screen-md-max:                ($screen-lg-min - 0.01) !default;
$screen-lg-max:                ($screen-xl-min - 0.01) !default;

//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:                 12 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:            30px !default;

//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// xSmall screen / phone
$container-phone:              (480px + $grid-gutter-width) !default;
//** For `$screen-sm-min` and up.
$container-xs:                 $container-phone !default;

// Small screen / tablet
$container-tablet:             (720px + $grid-gutter-width) !default;
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet !default;

// Medium screen / desktop
$container-desktop:            (940px + $grid-gutter-width) !default;
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      (1140px + $grid-gutter-width) !default;
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop !default;

// xLarge screen
$container-xlarge-desktop:     (1320px + $grid-gutter-width) !default;
//** For `$screen-xl-min` and up.
$container-xl:                 $container-xlarge-desktop !default;

/*----------------------------------------------------
 * text line-height
 *---------------------------------------------------*/
$text-height-base: 			   $line-height-base !default;
$text-height-1: 			   $text-height-base * 1 !default;
$text-height-2: 			   $text-height-base * 1.2 !default;
$text-height-3: 			   $text-height-base * 2.4 !default;
$text-height-4: 			   $text-height-base * 3.6 !default;
$text-height-5: 			   $text-height-base * 4.8 !default;

/*----------------------------------------------------
 * text font size
 *---------------------------------------------------*/
$font-size-basic: 			   8px !default;
$font-size-normal: 			   14px !default;
$font-size-1: 				   $font-size-basic * 2 !default;
$font-size-2: 				   $font-size-basic * 2 + 2 !default;
$font-size-3: 				   $font-size-basic * 3 !default;
$font-size-4: 				   $font-size-basic * 4 !default;
$font-size-5: 				   $font-size-basic * 6 !default;
$font-size-min: 			   12px !default;
$font-size-max: 			   $font-size-basic * 12 !default;

/*----------------------------------------------------
 * thumb
 *---------------------------------------------------*/
$--thumb-base: 				   8px !default;
$--thumb: 					   $--thumb-base * 3 !default;
$--thumb-1: 				   $--thumb-base * 4 !default;
$--thumb-2: 				   $--thumb-base * 6 !default;
$--thumb-3: 				   $--thumb-base * 8 !default;
$--thumb-4: 				   $--thumb-base * 12 !default;
$--thumb-5: 				   $--thumb-base * 16 !default;
$--thumb-max: 				   $--thumb-base * 32 !default;