// Sizing shortcuts

@mixin size($width, $height) {
  display: inline-block;
  width: $width;
  height: $height;
  line-height: $height;
  text-align: center;
}

@mixin square($size) {
  @include size($size, $size);
}
