@if($enable-interface-heading==true) {
  /* === heading-1 === */
  .heading-1 {
    &:after {
      display: block;
      content: '';
      width: 3.0rem;
      height: 2px;
      margin-top: 0.75rem;
      background-color: $gray-700;
      transition: all 0.3s ease 0s;
    }
    &.text-center {
      &:after {
        margin-left: auto;
        margin-right: auto;
      }
    }
    &.text-right {
      &:after {
        margin-left: auto;
        margin-right: 0;
      }
    }
    &:hover {
      &:after {
        width: 5.0rem;
      }
    }
  }
  /* === heading-2 === */
  .heading-2 {
    display: inline-block;
    position: relative;
    &:after {
      position: relative;
      display: block;
      content: '';
      width: 100%;
      height: 0.5rem;
      margin-top: -0.5rem;
      background-color: rgba($gray-700, 0.3);
    }
    &:after {
      display: block;
      clear: both;
      content: "";
    }
  }
  /* === heading-3 === */
  .heading-3 {
    position: relative;
    &:before {
      position: absolute;
      bottom: 0;
      display: block;
      content: '';
      width: 100%;
      height: 1px;
      margin-top: 0.75rem;
      background-color: $gray-300;
      // z-index: -1;
    }
    &:after {
      position: relative;
      display: block;
      content: '';
      width: 3.0rem;
      height: 1px;
      margin-top: 0.75rem;
      background-color: $gray-700;
      transition: all 0.3s ease 0s;
    }
    &.text-center {
      &:after {
        margin-left: auto;
        margin-right: auto;
      }
    }
    &.text-right {
      &:after {
        margin-left: auto;
        margin-right: 0;
      }
    }
    &:hover {
      &:after {
        width: 5.0rem;
      }
    }
  }
  /* === heading-4 === */
  .heading-4 {
    padding-bottom: 0.15rem;
    overflow: hidden;
    &:before,
    &:after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      height: 1px;
      background-color: $gray-300;
      position: relative;
      transition: all 0.3s ease 0s;
    }
    &:before {
      margin-left: -100%;
      left: -0.875rem;
    }
    &:after {
      margin-right: -100%;
      right: -0.875rem;
    }
    &:hover {
      &:before {
        left: -1.75rem;
      }
      &:after {
        right: -1.75rem;
      }
    }
  }
  // .heading-4 {
  //   display: table;
  //   white-space: nowrap;
  //   &:before,
  //   &:after {
  //     border-top: 1px solid $gray-300;
  //     content: '';
  //     // display: table-cell;
  //     position: relative;
  //     top: 0.5em;
  //     // width: 45%;
  //   }
  //   &:before {
  //     right: 0.75rem;
  //   }
  //   &:after {
  //     display: table-cell;
  //     width: 100%;
  //     left: 0.75rem;
  //   }
  //   &.text-center {
  //     &:before {
  //       display: table-cell;
  //       width: 45%;
  //     }
  //     &:after {
  //       width: 45%;
  //     }
  //   }
  //   &.text-right {
  //     &:before {
  //       display: table-cell;
  //       width: 100%;
  //     }
  //     &:after {
  //       display: none;
  //     }
  //   }
  // }
  /* === heading-5 === */
  .heading-5 {
    &:before {
      content: '●';
      padding-right: 0.5rem;
      font-size: 0.75rem;
      vertical-align: middle;
      line-height: inherit;
    }
    &.text-center,
    &.text-right {
      &:after {
        content: '●';
        padding-left: 0.5rem;
        font-size: 0.75rem;
        vertical-align: middle;
        line-height: inherit;
      }
    }
    &.text-right {
      &:before {
        content: none;
      }
    }
  }
  /* === heading-6 === */
  .heading-6 {
    &:before {
      content: '◆';
      padding-right: 0.5rem;
      font-size: 0.75rem;
      vertical-align: middle;
      line-height: inherit;
    }
    &.text-center,
    &.text-right {
      &:after {
        content: '◆';
        padding-left: 0.5rem;
        font-size: 0.75rem;
        vertical-align: middle;
        line-height: inherit;
      }
    }
    &.text-right {
      &:before {
        content: none;
      }
    }
  }
  /* === heading-7 === */
  .heading-7 {
    display: flex;
    align-items: center;
    &:before {
      content: " ";
      display: block;
      width: 2.0rem;
      height: 0.5rem;
      margin-right: 0.75rem;
      border-bottom: 1px solid $gray-300;
      border-top: 1px solid $gray-300;
    }
    &.text-center,
    &.text-right,
    &.justify-content-center,
    &.justify-content-end {
      &:after {
        content: " ";
        display: block;
        width: 2.0rem;
        height: 0.5rem;
        margin-left: 0.75rem;
        border-bottom: 1px solid $gray-300;
        border-top: 1px solid $gray-300;
      }
    }
    &.text-right,
    &.justify-content-end {
      &:before {
        display: none;
      }
    }
  }
  /* === heading-8 === */
  .heading-8 {
    display: flex;
    align-items: center;
    &:before {
      content: " ";
      display: block;
      width: 0.25rem;
      height: 1.25rem;
      margin-right: 0.5rem;
      background-color: $gray-300;
    }
    &.text-center,
    &.text-right,
    &.justify-content-center,
    &.justify-content-end {
      &:after {
        content: " ";
        display: block;
        width: 0.25rem;
        height: 1.25rem;
        margin-left: 0.5rem;
        background-color: $gray-300;
      }
    }
    &.text-right,
    &.justify-content-end {
      &:before {
        display: none;
      }
    }
  }
  /* === heading-9 === */
  .heading-9 {
    position: relative;
    padding-bottom: 1.0rem;
    &:after,
    &:before {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 3.0rem;
      height: 0.25rem;
      content: "";
      right: 3.0rem;
      background-color: $gray-300;
    }
    &:before {
      background-color: $gray-700;
      left: 3.0rem;
      // width: 6.0rem;
    }
    &.text-center,
    &.text-right {
      &:before {
        width: 6.0rem;
      }
    }
    &.text-center {
      &:after,
      &:before {
        margin: auto;
      }
    }
    &.text-right {
      &:after,
      &:before {
        left: auto;
        right: 0;
      }
    }
  }
  /* === heading-10 === */
  .heading-10 {
    position: relative;
    padding-bottom: 1.0rem;
    &:after,
    &:before {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 3.0rem;
      height: 0.25rem;
      content: "";
      right: 3.0rem;
      background-color: $gray-700;
      border-radius: 3.0rem;
    }
    &:before {
      width: 0.25rem;
      height: 0.25rem;
      left: 3.25rem;
    }
    &.text-center {
      &:after,
      &:before {
        margin: auto;
        right: 0;
      }
      &:before {
        left: 3.875rem;
      }
    }
    &.text-right {
      &:after,
      &:before {
        left: auto;
        right: 0;
      }
      &:before {
        right: 3.25rem;
      }
    }
  }
  /* === heading-11 === */
  .heading-11 {
    display: flex;
    flex-direction: row;
    flex-wrap: initial;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: flex-start;
    flex: initial;
    &:after {
      content: '';
      align-self: flex-end;
      margin-left: 3px;
      margin-bottom: 3px;
      width: 6px;
      height: 6px;
      background-color: rgb(40, 178, 139);
    }
    &:before {
      content: '';
      align-self: flex-start;
      margin-right: -25px;
      margin-top: -17px;
      width: 42px;
      height: 42px;
      background-image: linear-gradient(138deg, rgba(81, 217, 191, 0.17) 1%, rgba(40, 178, 139, 0) 94%);
      border-radius: 21px;
    }
  }
  /* === heading-12 === */
  .heading-12 {
    position: relative;
    display: inline-block;
    padding-bottom: 1.25rem;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 2.0rem;
      height: 1.0rem;
      border-bottom-left-radius: 1.75rem;
      border-bottom-right-radius: 1.75rem;
      border: 0.2rem solid $gray-700;
      border-top: 0;
      transform: scaleY(0.75);
    }
    &:after {
      display: block;
      clear: both;
      content: "";
    }
  }
}
