@if($enable-interface-heading==true) {
  /* === heading-1 === */
  .heading-1 {
    &:after {
      display: block;
      content: '';
      width: 4.0rem;
      height: 2px;
      margin-top: 0.75rem;
      background-color: $gray-700;
    }
    &.text-center {
      &:after {
        margin-left: auto;
        margin-right: auto;
      }
    }
    &.text-right {
      &:after {
        margin-left: auto;
        margin-right: 0;
      }
    }
  }
  /* === heading-2 === */
  .heading-2 {
    display: inline-block;
    position: relative;
    &:after {
      position: relative;
      display: block;
      content: '';
      width: 100%;
      height: 0.5rem;
      margin-top: -0.5rem;
      background-color: rgba($gray-700, 0.3);
    }
    &:after {
      clear: both;
    }
  }
  /* === heading-3 === */
  .heading-3 {
    position: relative;
    &:before {
      position: absolute;
      bottom: 0;
      display: block;
      content: '';
      width: 100%;
      height: 1px;
      margin-top: 0.5rem;
      background-color: $gray-300;
      // z-index: -1;
    }
    &:after {
      position: relative;
      display: block;
      content: '';
      width: 4.0rem;
      height: 1px;
      margin-top: 0.5rem;
      background-color: $gray-700;
    }
    &.text-center {
      &:after {
        margin-left: auto;
        margin-right: auto;
      }
    }
    &.text-right {
      &:after {
        margin-left: auto;
        margin-right: 0;
      }
    }
  }
  /* === heading-4 === */
  .heading-4 {
    padding-bottom: 0.15rem;
    overflow: hidden;
    &:before,
    &:after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      height: 1px;
      background-color: $gray-300;
      position: relative;
    }
    &:before {
      margin-left: -100%;
      left: -14px;
    }
    &:after {
      margin-right: -100%;
      right: -14px;
    }
  }
  // .heading-4 {
  //   display: table;
  //   white-space: nowrap;
  //   &:before,
  //   &:after {
  //     border-top: 1px solid $gray-300;
  //     content: '';
  //     // display: table-cell;
  //     position: relative;
  //     top: 0.5em;
  //     // width: 45%;
  //   }
  //   &:before {
  //     right: 0.75rem;
  //   }
  //   &:after {
  //     display: table-cell;
  //     width: 100%;
  //     left: 0.75rem;
  //   }
  //   &.text-center {
  //     &:before {
  //       display: table-cell;
  //       width: 45%;
  //     }
  //     &:after {
  //       width: 45%;
  //     }
  //   }
  //   &.text-right {
  //     &:before {
  //       display: table-cell;
  //       width: 100%;
  //     }
  //     &:after {
  //       display: none;
  //     }
  //   }
  // }
  /* === heading-5 === */
  .heading-5 {
    &:before {
      content: '●';
      padding-right: 0.5rem;
      font-size: 0.75rem;
      vertical-align: middle;
      line-height: inherit;
    }
    &.text-center,
    &.text-right {
      &:after {
        content: '●';
        padding-left: 0.5rem;
        font-size: 0.75rem;
        vertical-align: middle;
        line-height: inherit;
      }
    }
    &.text-right {
      &:before {
        content: none;
      }
    }
  }
  /* === heading-6 === */
  .heading-6 {
    &:before {
      content: '◆';
      padding-right: 0.5rem;
      font-size: 0.75rem;
      vertical-align: middle;
      line-height: inherit;
    }
    &.text-center,
    &.text-right {
      &:after {
        content: '◆';
        padding-left: 0.5rem;
        font-size: 0.75rem;
        vertical-align: middle;
        line-height: inherit;
      }
    }
    &.text-right {
      &:before {
        content: none;
      }
    }
  }
  /* === heading-7 === */
  .heading-7 {
    display: flex;
    align-items: center;
    &:before {
      content: " ";
      display: block;
      width: 3.0rem;
      height: 0.5rem;
      margin-right: 0.75rem;
      border-bottom: 1px solid $gray-300;
      border-top: 1px solid $gray-300;
    }
    &.text-center,
    &.text-right,
    &.justify-content-center,
    &.justify-content-end {
      &:after {
        content: " ";
        display: block;
        width: 3.0rem;
        height: 0.5rem;
        margin-left: 0.75rem;
        border-bottom: 1px solid $gray-300;
        border-top: 1px solid $gray-300;
      }
    }
    &.text-right,
    &.justify-content-end {
      &:before {
        display: none;
      }
    }
  }
}
