@if($enable-interface-ribbon==true) {
  /*
  |--------------------------------------------------------------------------
  | ribbon
  |--------------------------------------------------------------------------
  */
  .ribbon-triangle {
    position: absolute;
    span {
      position: relative;
      color: #fff;
    }
    &:before {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
    }
    &.triangle-tl {
      top: 0;
      left: 0;
      &:before {
        top: 0;
        left: 0;
        border-top: 1.8rem solid $primary;
        border-right: 1.8rem solid transparent;
      }
    }
    &.triangle-tr {
      top: 0;
      right: 0;
      &:before {
        top: 0;
        right: 0;
        border-top: 1.8rem solid $primary;
        border-left: 1.8rem solid transparent;
      }
    }
    &.triangle-bl {
      bottom: 0;
      left: 0;
      &:before {
        bottom: 0;
        left: 0;
        border-bottom: 1.8rem solid $primary;
        border-right: 1.8rem solid transparent;
      }
    }
    &.triangle-br {
      bottom: 0;
      right: 0;
      &:before {
        bottom: 0;
        right: 0;
        border-bottom: 1.8rem solid $primary;
        border-left: 1.8rem solid transparent;
      }
    }
  }
}
