@if($enable-interface-ribbon==true) {
  /*
  |--------------------------------------------------------------------------
  | ribbon common
  |--------------------------------------------------------------------------
  */
  [class*='ribbon-'] {
    z-index: 9;
    &.bg-white {
      background: #fff;
      color: black;
    }
  }

  /*
  |--------------------------------------------------------------------------
  | ribbon-corner
  |--------------------------------------------------------------------------
  */
  .ribbon-corner {
    width: 12.5rem;
    position: absolute;
    top: 1.5rem;
    left: -3.6rem;
    text-align: center;
    line-height: 1.75rem;
    // letter-spacing: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
    &.position-tl {
      top: 1.5rem;
      left: -3.6rem;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
    &.position-tr {
      top: 1.5rem;
      right: -3.6rem;
      left: auto;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
    &.position-bl {
      top: auto;
      bottom: 1.5rem;
      left: -3.6rem;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
    &.position-br {
      top: auto;
      right: -3.6rem;
      bottom: 1.5rem;
      left: auto;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
    span,
    a,
    a:visited,
    a:active,
    a:hover {
      display: block;
      // line-height: 1.75rem;
      color: inherit;
      text-align: center;
      text-decoration: none;
      font-size: .85rem;
      font-weight: 500;
      text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
    }
  }

  /*
  |--------------------------------------------------------------------------
  | ribbon-triangle
  |--------------------------------------------------------------------------
  */
  .ribbon-triangle {
    position: absolute;
    span {
      position: relative;
      padding: 0.35rem;
      color: #fff;
    }
    &:before {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
    }
    &.triangle-tl {
      top: 0;
      left: 0;
      &:before {
        top: 0;
        left: 0;
        border-top: 2.4rem solid $primary;
        border-right: 2.4rem solid transparent;
      }
    }
    &.triangle-tr {
      top: 0;
      right: 0;
      &:before {
        top: 0;
        right: 0;
        border-top: 2.4rem solid $primary;
        border-left: 2.4rem solid transparent;
      }
    }
    &.triangle-bl {
      bottom: 0;
      left: 0;
      &:before {
        bottom: 0;
        left: 0;
        border-bottom: 2.4rem solid $primary;
        border-right: 2.4rem solid transparent;
      }
    }
    &.triangle-br {
      bottom: 0;
      right: 0;
      &:before {
        bottom: 0;
        right: 0;
        border-bottom: 2.4rem solid $primary;
        border-left: 2.4rem solid transparent;
      }
    }
  }

  /*
  |--------------------------------------------------------------------------
  | ribbon rectangle
  |--------------------------------------------------------------------------
  */
  .ribbon-rect {
    padding: .35rem 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 0.85rem;
    color: #fff;
    &.position-tl {
      border-bottom-right-radius: .5rem;
    }
    &.position-tr {
      border-bottom-left-radius: .5rem;
    }
    &.position-bl {
      border-top-right-radius: .5rem;
    }
    &.position-br {
      border-top-left-radius: .5rem;
    }
    &.ribbon-rect-rounded {
      &.position-tl,
      &.position-bl {
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
      }
      &.position-tr,
      &.position-br {
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
      }
      &.position-tl,
      &.position-tr {
        top: 0.75rem;
      }
      &.position-bl,
      &.position-br {
        bottom: 0.75rem;
      }
    }
  }
  
  /*
  |--------------------------------------------------------------------------
  | ribbon square
  |--------------------------------------------------------------------------
  */
  .ribbon-half-circle {
    padding: .5rem 1.0rem .5rem 0.75rem;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #fff;
    &.position-tl,
    &.position-tr {
      top: 0.75rem;
    }
    &.position-bl,
    &.position-br {
      bottom: 0.75rem;
    }
    &.position-tl,
    &.position-bl {
      border-top-right-radius: 100rem;
      border-bottom-right-radius: 100rem;
    }
    &.position-tr,
    &.position-br {
      padding: .5rem 0.75rem .5rem 1.0rem;
      border-top-left-radius: 100rem;
      border-bottom-left-radius: 100rem;
    }
  }

  /*
  |--------------------------------------------------------------------------
  | ribbon square
  |--------------------------------------------------------------------------
  */
  .ribbon-square {
    width: 2.2rem;
    height: 2.2rem;
    padding: 0 0.5rem;
    line-height: 2.2rem;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    // vertical-align: middle;
    font-size: 1.5rem;
    color: #fff;
    &.position-tl{
      border-bottom-right-radius: 50%;
    }
    &.position-tr{
      border-bottom-left-radius: 50%;
    }
    &.position-bl{
      border-top-right-radius: 50%;
    }
    &.position-br{
      border-top-left-radius: 50%;
    }
  }

  /*
  |--------------------------------------------------------------------------
  | ribbon band
  |--------------------------------------------------------------------------
  */
  .ribbon-band {
    position: absolute;
    top: 0.75rem;
    left: -0.375rem;
    display: inline-block;
    padding: 0 0.625rem 0 0.85rem;
    line-height: 24px;
    background: $purple;
    border-radius: 0 0.25rem 0.25rem 0;
    color: #fff;
    font-size: 14px;
    font-style: italic;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
    z-index: 3;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -0.5rem;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 0 0.375rem 0.5rem 0;
      border-color: transparent darken($purple, 10%) transparent transparent;
      z-index: 2;
    }
    @each $color,$value in $theme-colors {
      &.bg-#{$color} {
        &:before {
          border-color: transparent darken($value, 10%) transparent transparent;
        }
      }
    }
    &.bg-white {
      &:before {
        border-color: transparent darken(#fff, 30%) transparent transparent;
      }
    }
    &.position-tr {
      left: auto;
      right: -0.375rem;
      padding: 0 0.85rem 0 0.625rem;
      border-radius: 0.25rem 0 0 0.25rem;
      &:before {
        position: absolute;
        left: auto;
        right: 0;
        bottom: -0.5rem;
        border-width: 0 0 0.5rem 0.375rem;
        border-color: transparent transparent transparent darken($purple, 10%);
        z-index: 2;
      }
      @each $color,$value in $theme-colors {
        &.bg-#{$color} {
          &:before {
            border-color: transparent transparent transparent darken($value, 10%);
          }
        }
      }
      &.bg-white {
        &:before {
          border-color: transparent transparent transparent darken(#fff, 30%);
        }
      }
    }
  }

  /*
  |--------------------------------------------------------------------------
  | ribbon mark
  |--------------------------------------------------------------------------
  */
 .ribbon-mark {
   background: $purple;
   color: #fff;
   padding: 0.75rem 1rem 0 1rem;
   border-radius: 0;
   &.position-tl {
    position: absolute;
    top: 0;
    left: 1.5rem;
   }
   &.position-tr {
    position: absolute;
    top: 0;
    right: 1.5rem;
   }
   &:before,
   &:after {
     content: '';
     position: absolute;
     top: 100%;
     width: 50%;
     // height: 1.5rem;
     border-top: solid 0.65rem $purple;
     border-bottom: solid 0.65rem transparent;
   }
   &:before {
     left: 0;
     border-left: solid 2.0rem $purple;
     border-right: solid 0.65rem transparent;
   }
   &:after {
     right: 0;
     border-right: solid 2.0rem $purple;
     border-left: solid 0.65rem transparent;
   }
   span {
     display: block;
     letter-spacing: 0.07rem;
     text-align: center;
     line-height: 1.15;
   }
   @each $color,$value in $theme-colors {
     &.bg-#{$color} {
       &:before,
       &:after {
         border-top-color: $value;
       }
       &:before {
         border-left-color: $value;
       }
       &:after {
         border-right-color: $value;
       }
     }
   }
   &.bg-white {
    &:before,
    &:after {
      border-top-color: #fff;
    }
    &:before {
      border-left-color: #fff;
    }
    &:after {
      border-right-color: #fff;
    }
  }
 }

  /*
  |--------------------------------------------------------------------------
  | ribbon vmark
  |--------------------------------------------------------------------------
  */
  .ribbon-vmark {
    position: absolute;
    top: 0.75rem;
    padding: 0.5rem 0.75rem;
    background: $purple;
    color: #fff;
    &:before,
    &:after {
      content: '';
      position: absolute;
      left: -0.55rem;
      border-left: 0.625rem solid transparent;
    }
    &:before {
      border-top: 1.625rem solid $purple;
      top: 0;
    }
    &:after {
      border-bottom: 1.625rem solid $purple;
      bottom: 0;
    }
    &.position-tl {
      &:before,
      &:after {
        left: auto;
        right: -0.55rem;
        border-left: none;
        border-right: 0.625rem solid transparent;
      }
    }
    @each $color,$value in $theme-colors {
      &.bg-#{$color} {
        &:before {
          border-top-color: $value;
        }
        &:after {
          border-bottom-color: $value;
        }
      }
    }
    &.bg-white {
      &:before {
        border-top-color: #fff;
      }
      &:after {
        border-bottom-color: #fff;
      }
    }
  }
}
