// @if($enable-interface-separator==true) {
//   // skew background ground
//   .bg-skew {
//     padding-top: 0px;
//     position: relative;
//     z-index: 10;
//     &:before {
//       content: "";
//       display: block;
//       position: absolute;
//       width: 100%;
//       height: px2rem(320px);
//       top: px2rem(-44px);
//       background: white;
//       -webkit-transform: skewY(-4deg);
//       -ms-transform: skewY(-4deg);
//       transform: skewY(-4deg);
//       z-index: -1;
//     }
//   }
//   .bg-primary {
//     &.bg-skew:before {
//       @extend .bg-primary;
//     }
//   }
//   .bg-secondary {
//     &.bg-skew:before {
//       @extend .bg-secondary;
//     }
//   }
//   .bg-success {
//     &.bg-skew:before {
//       @extend .bg-success;
//     }
//   }
//   .bg-info {
//     &.bg-skew:before {
//       @extend .bg-info;
//     }
//   }
//   .bg-warning {
//     &.bg-skew:before {
//       @extend .bg-warning;
//     }
//   }
//   .bg-danger {
//     &.bg-skew:before {
//       @extend .bg-danger;
//     }
//   }
//   .bg-dark {
//     &.bg-skew:before {
//       @extend .bg-dark;
//     }
//   }
//   @include media-breakpoint-up(lg) {
//     .bg-skew:before {
//       top: px2rem(-68px);
//     }
//   }
// }
@if($enable-interface-separator==true) {
  // svg separator
  .separator-svg {
    pointer-events: none;
    z-index: 0;
    svg {
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100vw;
      min-width: 800px;
      fill: $gray-100;
      z-index: 2;
    }
    @each $color, $value in $theme-colors {
      &.separator-#{$color} {
        svg {
          fill: $value;
        }
      }
    }
  }
  // separator-skew
  .separator-skew {
    width: 100%;
    height: px2rem(80px);
    // position: absolute;
    // left: 0px;
    pointer-events: none;
    z-index: 0;
    @include media-breakpoint-down(xs) {
      height: px2rem(50px);
    }
  }
  .separator-skew-left {
    background: linear-gradient(to right bottom, $gray-100 49%, #fff 50%);
    @each $color, $value in $theme-colors {
      &.separator-#{$color} {
        background: linear-gradient(to right bottom, $value 49%, #fff 50%);
      }
    }
  }
  .separator-skew-right {
    background: linear-gradient(to left bottom, #fff 49%, $gray-100 50%);
    @each $color, $value in $theme-colors {
      &.separator-#{$color} {
        background: linear-gradient(to left bottom, #fff 49%, $value 50%);
      }
    }
  }
  // edge
  .edge {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 6.666666666666667%;
    svg {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      fill: $gray-100;
      width: 100%
    }
    @each $color, $value in $theme-colors {
      &.edge-#{$color} {
        svg {
          fill: $value;
        }
      }
    }
  }
  .edge-top {
    top: 1px
  }
  .edge-bottom {
    top: -1px;
  }
}
