// @if($enable-interface-separator==true) {
//   // skew background ground
//   .bg-skew {
//     padding-top: 0px;
//     position: relative;
//     z-index: 10;
//     &:before {
//       content: "";
//       display: block;
//       position: absolute;
//       width: 100%;
//       height: px2rem(320px);
//       top: px2rem(-44px);
//       background: white;
//       -webkit-transform: skewY(-4deg);
//       -ms-transform: skewY(-4deg);
//       transform: skewY(-4deg);
//       z-index: -1;
//     }
//   }
//   .bg-primary {
//     &.bg-skew:before {
//       @extend .bg-primary;
//     }
//   }
//   .bg-secondary {
//     &.bg-skew:before {
//       @extend .bg-secondary;
//     }
//   }
//   .bg-success {
//     &.bg-skew:before {
//       @extend .bg-success;
//     }
//   }
//   .bg-info {
//     &.bg-skew:before {
//       @extend .bg-info;
//     }
//   }
//   .bg-warning {
//     &.bg-skew:before {
//       @extend .bg-warning;
//     }
//   }
//   .bg-danger {
//     &.bg-skew:before {
//       @extend .bg-danger;
//     }
//   }
//   .bg-dark {
//     &.bg-skew:before {
//       @extend .bg-dark;
//     }
//   }
//   @include media-breakpoint-up(lg) {
//     .bg-skew:before {
//       top: px2rem(-68px);
//     }
//   }
// }
@if($enable-interface-separator==true) {
  // svg separator
  .separator-svg {
    pointer-events: none;
    z-index: 0;
    svg {
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100vw;
      min-width: 800px;
      fill: $gray-100;
      z-index: 2;
    }
    @each $color, $value in $theme-colors {
      &.separator-#{$color} {
        svg {
          fill: $value;
        }
      }
    }
  }
  // separator-skew
  .separator-skew {
    width: 100%;
    height: px2rem(80px);
    // position: absolute;
    // left: 0px;
    pointer-events: none;
    z-index: 0;
    @include media-breakpoint-down(xs) {
      height: px2rem(50px);
    }
  }
  .separator-skew-left {
    background: linear-gradient(to right bottom, $gray-100 49%, #fff 50%);
    @each $color, $value in $theme-colors {
      &.separator-#{$color} {
        background: linear-gradient(to right bottom, $value 49%, #fff 50%);
      }
    }
  }
  .separator-skew-right {
    background: linear-gradient(to left bottom, #fff 49%, $gray-100 50%);
    @each $color, $value in $theme-colors {
      &.separator-#{$color} {
        background: linear-gradient(to left bottom, #fff 49%, $value 50%);
      }
    }
  }
  // edge
  .edge {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 6.666666666666667%;
    svg {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      fill: $gray-100;
      width: 100%
    }
    @each $color, $value in $theme-colors {
      &.edge-#{$color} {
        svg {
          fill: $value;
        }
      }
    }
  }
  .edge-top {
    top: 1px
  }
  .edge-bottom {
    top: -1px;
  }
}


/* General styles and layout */

section {
  position: relative;
  background: #2980b9;
  color: #fff;
  text-align: center;
}

.color {
  background: #3498db;
}

/*** Individual section styles and separators ***/

/* Common style for pseudo-elements */
section::before,
section::after {
  position: absolute;
  content: '';
  pointer-events: none;
}

/* Triangles */
.ss-style-triangles::before,
.ss-style-triangles::after {
  left: 50%;
  width: 30px;
  height: 30px;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
}

.ss-style-triangles::before {
  top: -15px;
  background: #2980b9;
}

.ss-style-triangles::after {
  bottom: -15px;
  z-index: 10;
  background: inherit;
}

/* Half Circle */
.ss-style-halfcircle::before,
.ss-style-halfcircle::after {
  left: 50%;
  z-index: 10;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: inherit;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.ss-style-halfcircle::before {
  top: -20px;
}

.ss-style-halfcircle::after {
  bottom: -20px;
}

/* Big Triangle */
svg#bigTriangleColor {
  pointer-events: none;
}

#bigTriangleColor path {
  fill: #3498db;
  stroke: #3498db;
  stroke-width: 2;
}

/* Curves */
#curveUpColor path,
#curveDownColor path {
  fill: #3498db;
  stroke: #3498db;
}

/* Rounded corners */
.ss-style-roundedcorners::before {
  top: 100%;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 60px;
  border-radius: 0 0 60px 60px;
  background: inherit;
}

/* Boxes */
.ss-style-boxes {
  padding-top: 4em;
  padding-bottom: 13em;
}

.ss-style-boxes::before {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15px;
  background-image: -webkit-gradient(linear, 100% 0, 0 100%, color-stop(0.5, #3498db), color-stop(0.5, #2980b9));
  background-image: linear-gradient(to right, #3498db 50%, #2980b9 50%);
  -webkit-background-size: 40px 100%;
  background-size: 40px 100%;
}

/* Zig Zag (3d up and simple down) */
.ss-style-zigzag::before,
.ss-style-zigzag::after {
    right: 0;
    left: 0;
    z-index: 10;
    display: block;
    height: 50px;
    background-size: 30px 100%;
  }

.ss-style-zigzag::before {
  top: -50px;
  background-image: -webkit-gradient(linear, 0 0, 300% 100%, color-stop(0.25, transparent), color-stop(0.25, #3498db));
  background-image:
    linear-gradient(315deg, #3093d5 25%, transparent 25%),
    linear-gradient( 45deg, #3498db 25%, transparent 25%);
  background-position: 50%;
}

.ss-style-zigzag::after {
  top: 100%;
  background-image: -webkit-gradient(linear, 0 0, 300% 100%, color-stop(0.25, #3498db), color-stop(0.25, #2980b9));
  background-image: 
    linear-gradient(135deg, #3498db 25%, transparent 25%),
    linear-gradient(225deg, #3498db 25%, transparent 25%);
  background-position: 50%;
}

/* Big half circle */
#bigHalfCircle path {
  fill: #3498db;
  stroke: #3498db;
}

/* Big triangle with shadow */

#trianglePath1 {
  fill: #3498db;
  stroke: #3498db;
} 

#trianglePath2 {
  fill: #2072a7;
  stroke: #2072a7;
}

/* Alternative slit with inner shadow */
#slitPath1 {
  fill: #3498db;
  stroke: red;
  stroke-width: 0;
}

#slitPath2, #slitPath3 {
  fill: #2072a7;
}

/* Folded corner */
.ss-style-foldedcorner::before,
.ss-style-foldedcorner::after {
  bottom: 0;
  width: 100px;
  height: 100px;
}

.ss-style-foldedcorner::before {
  right: 0;
  background-image: -webkit-linear-gradient(top left, #37a2ea 50%, #3498db 50%);
  background-image: linear-gradient(315deg, #3498db 50%, #37a2ea 50%);
}

.ss-style-foldedcorner::after {
  right: 100px;
  background-image: -webkit-linear-gradient(top left, transparent 50%, #236fa1 50%);
  background-image: linear-gradient(315deg, #236fa1 50%, transparent 50%);
}

/* Dots */
.ss-style-dots::before {
  bottom: 20px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #2072a7;
  box-shadow: 30px 0 #2072a7, -30px 0 #2072a7;
}
