<article class="card entry entry-product">
  <div class="card-img img-holder">
    <a href="#"><img class="b-lazy" data-src="assets/images/demo/products/cd_1_angle1.jpg" alt="product thumb"></a>
    <a class="card-mask" href="#"><span class="icon icon-round"><i class="fa fa-link fa-fw"></i></span></a>
  </div>
  <div class="card-body">
    <h3 class="text-line-2"><a href="product-detail.html">Compatible Black Toner cartridge C4096A for HP 2000/2100/2100M/2100SE/2100TN</a></h3>
  </div>
</article>
