<article class="article article-product">
  <div class="article-thumb img-holder">
    <a href="product-detail.html"><img class="b-lazy" data-src="assets/images/demo/product/1.jpg" alt="product-thumb"></a>
  </div>
  <a class="article-label" href="#">For HP</a>
  <div class="article-body">
    <h3 class="article-title"><a href="product-detail.html">Compatible Black Toner cartridge C4096A for HP 2000/2100/2100M/2100SE/2100TN</a></h3>
    <div class="article-param">
      <ul>
        <li>Color : BK</li>
        <li>Compatible Brand : For HP</li>
      </ul>
    </div>
  </div>
  <a class="article-extra" href="product-detail.html"></a>
</article>
