<article class="entry entry-product">
  <div class="entry-thumb img-holder">
    <a href="product-detail.html"><img class="b-lazy" data-src="assets/images/demo/products/cd_1_angle1.jpg" alt="product-thumb"></a>
  </div>
  <a class="entry-label" href="#">For HP</a>
  <div class="entry-body">
    <h3 class="entry-title"><a href="product-detail.html">Compatible Black Toner cartridge C4096A for HP 2000/2100/2100M/2100SE/2100TN</a></h3>
    <div class="entry-param">
      <ul>
        <li>Color : BK</li>
        <li>Compatible Brand : For HP</li>
      </ul>
    </div>
  </div>
  <a class="entry-extra" href="product-detail.html"></a>
</article>
