.radius-0 {
  -moz-border-radius: 0!important;
  -webkit-border-radius: 0!important;
  border-radius: 0!important
}

.radius-1 {
  border-radius: $border-radius-1
}

.radius-2 {
  border-radius: $border-radius-2
}

.radius-3 {
  border-radius: $border-radius-3
}

.radius-4 {
  border-radius: $border-radius-4
}

.radius-5 {
  border-radius: $border-radius-5
}

.radius-100 {
  border-radius: 100%
}

.radius-rounded {
  -moz-border-radius: $border-radius-rounded;
  -webkit-border-radius: $border-radius-rounded;
  border-radius: $border-radius-rounded;
  overflow: hidden
}

.radius-circle {
  -moz-border-radius: 50%!important;
  -webkit-border-radius: 50%!important;
  border-radius: 50%!important;
  overflow: hidden
}

.radius-max {
  border-radius: $border-radius-max
}
