/*----------------------------------------------------
 * text color
 *---------------------------------------------------*/

.text-normal {
  color: $link-normal-color!important
}

// basic text color
.text-secondary {
  color: $brand-secondary!important
}

.text-mix {
  color: $brand-mix!important
}

// brand text color
.text-primary {
  color: $brand-primary!important
}

.text-success {
  color: $brand-success!important
}

.text-info {
  color: $brand-info!important
}

.text-warning {
  color: $brand-warning!important
}

.text-danger {
  color: $brand-danger!important
}

// basic monochrome text color
.text-white {
  color: $--white!important
}

.text-white a:hover,
.text-white a:hover i,
.text-white:hover {
  color: rgba(256, 256, 256, 0.8)!important
}

.text-white a.list-group-item.active i {
  color: #fff!important
}

.text-smoke {
  color: $--whitesmoke!important
}

.text-light {
  color: $--lightgray!important
}

.text-silver {
  color: $--silver!important
}

.text-gray,
.text-grey {
  color: $--gray!important
}

.text-dark {
  color: $--darkgray!important
}

.text-black {
  color: $--black!important
}


/*----------------------------------------------------
 * background-color
 *---------------------------------------------------*/

// basic background color
.bg-default {
  background-color: $brand-default!important
}

.bg-secondary {
  background-color: $brand-secondary!important
}

.bg-mix {
  background-color: $brand-mix!important
}

// brand background color
.bg-primary {
  background-color: $brand-primary!important
}

.bg-success {
  background-color: $brand-success!important
}

.bg-info {
  background-color: $brand-info!important
}

.bg-warning {
  background-color: $brand-warning!important
}

.bg-danger {
  background-color: $brand-danger!important
}

.bg-primary[href] {
  &:focus,
  &:hover {
    background-color: darken($brand-primary, 5%)!important
  }
}

.bg-success[href] {
  &:focus,
  &:hover {
    background-color: darken($brand-success, 5%)!important
  }
}

.bg-info[href] {
  &:focus,
  &:hover {
    background-color: darken($brand-info, 5%)!important
  }
}

.bg-warning[href] {
  &:focus,
  &:hover {
    background-color: darken($brand-warning, 5%)!important
  }
}

.bg-danger[href] {
  &:focus,
  &:hover {
    background-color: darken($brand-danger, 5%)!important
  }
}

// basic monochrome background color
.bg-white {
  background-color: $--white!important
}

.bg-smoke {
  background-color: $--whitesmoke!important
}

.bg-light {
  background-color: $--lightgray!important
}

.bg-silver {
  background-color: $--silver!important
}

.bg-gray,
.bg-grey {
  background-color: $--gray!important
}

.bg-dark {
  background-color: $--darkgray!important
}

.bg-black {
  background-color: $--black!important
}

// other
.no-bg {
  background: none!important
}

.bg-alpha {
  background-color: transparent!important
}

.bg-inverse,
.bg-inverse a {
  color: #fff!important
}

.btn.bg-inverse:hover,
.btn.bg-inverse:focus,
.btn.bg-inverse.focus {
  color: rgba(255, 255, 255, 0.8)!important
}
