/*----------------------------------------------------
 * pull
 *---------------------------------------------------*/

.pull-in {
  margin-left: 15px;
  margin-right: 15px;
}

.pull-out {
  margin: -10px -15px;
}


/*other*/

.clickable {
  cursor: pointer
}

.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
}

.form-required{
  &:after{
    content:'*';
    color:#f00;
    margin-left:5px
  }
}
