*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: $font-family-base;
  // font-size: $font-size-base;
  // line-height: $line-height-base;
  font-variant: tabular-nums;
  overflow-x: hidden;
  overflow-y: auto;
}

ul,
ol {
  -webkit-padding-start: 20px;
}


/*----------------------------------------------------
 * Hyperlink
 *---------------------------------------------------*/

a {
  color: $link-color;
  &:focus,
  &:hover,
  &.active {
    color: $link-hover-color;
  }
  &,
  &:focus,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none!important;
    outline: 0;
  }
}

a[href^="http"]:empty::before {
  content: attr(href);
}

// a:not([href]):not([tabindex]),
// a:not([href]):not([tabindex]):focus,
// a:not([href]):not([tabindex]):hover {
//   color: inherit;
//   text-decoration: none
// }
a:not([href]):not([tabindex]):focus {
  outline: 0
}

.active {
  > a {
    color: $link-hover-color;
  }
}

.link-normal,
.link-normal a {
  color: $link-normal-color;
  &:focus,
  &:hover,
  &.active {
    color: $link-hover-color;
  }
}


/*----------------------------------------------------
 * clear
 *---------------------------------------------------*/

.clear {
  height: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  clear: both;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}


/*----------------------------------------------------
 * form element
 *---------------------------------------------------*/

::-webkit-input-placeholder {
  color: #999
}

:-moz-placeholder {
  color: #999
}

::-moz-placeholder {
  color: #999
}

:-ms-input-placeholder {
  color: #ccc
}

input,
button,
select,
textarea,
.btn {
  outline: none!important;
  &:focus,
  &:hover,
  &:active {
    outline: none!important;
  }
}

[tabindex="-1"]:focus {
  outline: none!important
}

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border-style: none
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0
}

input[type=date],
input[type=datetime-local],
input[type=month],
input[type=time] {
  -webkit-appearance: listbox
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button
}


/*----------------------------------------------------
 * Fluidity response
 *---------------------------------------------------*/

img,
canvas,
iframe,
video,
svg {
  max-width: 100%;
  height: auto
}

iframe {
  border: 0;
}

// img {
//   position: relative;
// }
// img:before {
//   position: absolute;
//   content: "回";
//   // content: "We're sorry, the image below is broken :(";
//   display: block;
//   width: 100%;
//   text-align: center;
//   color: #ccc;
// }
// img:after {
//   content: "(url: " attr(src) ")";
//   display: block;
//   font-size: 12px
// }
