/*----------------------------------------------------
 * thumb
 *---------------------------------------------------*/

.thumb {
  width: $--thumb;
  display: inline-block;
  overflow: hidden
}

.thumb-1 {
  width: $--thumb-1;
  display: inline-block;
  overflow: hidden
}

.thumb-2 {
  width: $--thumb-2;
  display: inline-block;
  overflow: hidden
}

.thumb-3 {
  width: $--thumb-3;
  display: inline-block;
  overflow: hidden
}

.thumb-4 {
  width: $--thumb-4;
  display: inline-block;
  overflow: hidden
}

.thumb-5 {
  width: $--thumb-5;
  display: inline-block;
  overflow: hidden
}

.thumb-max {
  width: $--thumb-max;
  display: inline-block;
  overflow: hidden
}

.thumb-wrapper {
  padding: 2px;
  border: 1px solid #dbe2e7;
}

.thumb img,
.thumb-1 img,
.thumb-2 img,
.thumb-3 img,
.thumb-4 img,
.thumb-5 img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
