.w-0 { width: 0; }
.w-1 { width: $--width-1; }
.w-2 { width: $--width-2; }
.w-3 { width: $--width-3; }
.w-4 { width: $--width-4; }
.w-5 { width: $--width-5; }
.w-6 { width: $--width-6; }

.w-25 { width: 25%; }
.w-33 { width: calc(100% / 3); }
.w-50 { width: 50%; }
.w-66 { width: calc((100% / 3) * 2); }
.w-75 { width: 75%; }
.w-100, .w-100 img { width: 100%!important; max-width: 100%!important }
.w-auto { width: auto!important }

.minvw-25 { min-width: 25vw; }
.minvw-33 { min-width: calc(100 / 3)vw; }
.minvw-50 { min-width: 50vw; }
.minvw-66 { min-width: calc((100 / 3) * 2)vw; }
.minvw-75 { min-width: 75vw; }
.minvw-100 { min-width: 100vw; }
